body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Normal {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-20px;
}
p.x--caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.176;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-Text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-opener {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.footer-right {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.x--Body-story {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:28px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:11px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.x--Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body--above {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:14px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T-6point {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Title-Chapter-Number {
	-epub-ruby-position:over;
	color:#b25538;
	font-family:"Tekton Pro Ext", serif;
	font-size:36px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.x--Title-chapter-name {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std ExtraBlack", sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:950;
	line-height:1.111;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-investigation-hanging-a- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Answer-text-dotted-line-below--a- {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box-heading {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#b25538;
	font-family:"News Gothic Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.167;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line--a--last-line {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:20px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-text-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:156px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.x--Body-text-bullet, p.x--Body-text-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.x--Body-indent-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:159px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.T-Heading-chapter {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:12px;
	margin-left:26px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-25px;
}
p.x--Pagebreak {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	break-before:page;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answertext {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:14px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
span.Body-bold {
	font-style:normal;
	font-weight:normal;
}
span.x--Opener-bold-text {
	font-style:normal;
	font-weight:bold;
}
table.table-style-override-1 {
	border-style:none;
	border-width:0px;
}
table.table-style-override-2 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	background-color:#f5bc3b;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-2 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-4 {
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:4px;
}
p.para-style-override-1 {
	margin-left:31px;
}
p.para-style-override-2 {
	break-after:page;
}
p.para-style-override-3 {
	margin-right:334px;
}
p.para-style-override-4 {
	margin-bottom:0px;
}
p.para-style-override-5 {
	margin-bottom:11px;
}
p.para-style-override-6 {
	margin-bottom:14px;
}
p.para-style-override-7 {
	text-indent:0px;
}
p.para-style-override-8 {
	margin-bottom:37px;
}
p.para-style-override-9 {
	text-indent:11px;
}
p.para-style-override-10 {
	text-align:center;
}
p.para-style-override-11 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-12 {
	margin-left:122px;
}
p.para-style-override-13 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-14 {
	margin-bottom:6px;
}
p.para-style-override-15 {
	margin-bottom:23px;
}
p.para-style-override-16 {
	margin-left:62px;
}
p.para-style-override-17 {
	margin-left:43px;
	margin-right:23px;
}
p.para-style-override-18 {
	margin-bottom:3px;
}
li.para-style-override-19 {
	margin-right:162px;
}
p.para-style-override-20 {
	margin-left:82px;
}
p.para-style-override-21 {
	margin-left:0px;
}
p.para-style-override-22 {
	break-after:page;
	margin-bottom:23px;
}
p.para-style-override-23 {
	margin-bottom:9px;
}
p.para-style-override-24 {
	margin-bottom:17px;
}
p.para-style-override-25 {
	margin-bottom:20px;
}
p.para-style-override-26 {
	margin-bottom:65px;
}
p.para-style-override-27 {
	margin-bottom:31px;
}
p.para-style-override-28 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-29 {
	text-align:right;
}
p.para-style-override-30 {
	margin-left:6px;
	margin-right:6px;
}
p.para-style-override-31 {
	break-after:page;
	margin-left:6px;
	margin-right:6px;
}
p.para-style-override-32 {
	margin-right:6px;
}
p.para-style-override-33 {
	margin-bottom:26px;
}
p.para-style-override-34 {
	margin-left:45px;
}
p.para-style-override-35 {
	break-after:page;
	margin-bottom:17px;
}
p.para-style-override-36 {
	margin-bottom:14px;
	text-indent:11px;
}
p.para-style-override-37 {
	margin-bottom:6px;
	text-indent:11px;
}
p.para-style-override-38 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-1 {
	font-size:12px;
}
span.char-style-override-2 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-4 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-5 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-6 {
	text-decoration:line-through;
}
span.char-style-override-7 {
	font-family:"News Gothic Std Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.char-style-override-9 {
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-10 {
	font-style:oblique;
	font-weight:bold;
}
span.char-style-override-11 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	color:#c51f45;
	font-family:"Tekton Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-13 {
	color:#f5bc3b;
}
span.char-style-override-14 {
	color:#f5bc3b;
	font-variant:small-caps;
}
img.frame-1 {
	height:328px;
	width:406px;
}
div.frame-2 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:136px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-3 {
	height:270px;
	width:466px;
}
img.frame-4 {
	height:402px;
	width:463px;
}
div.frame-5 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:77px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-6 {
	height:5px;
	width:467px;
}
col.Row-Column-7 {
	width:5px;
}
col.Row-Column-8 {
	width:300px;
}
tr.Row-Column-9 {
	min-height:83px;
}
div.frame-10 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:92px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-11 {
	height:298px;
	width:468px;
}
img.frame-12 {
	height:458px;
	width:467px;
}
img.frame-13 {
	height:216px;
	width:212px;
}
img.frame-14 {
	height:193px;
	width:456px;
}
img.frame-15 {
	height:199px;
	width:466px;
}
img.frame-16 {
	height:158px;
	width:225px;
}
img.frame-17 {
	height:192px;
	width:467px;
}
col.Row-Column-18 {
	width:200px;
}
col.Row-Column-19 {
	width:252px;
}
tr.Row-Column-20 {
	min-height:20px;
}
col.Row-Column-21 {
	width:236px;
}
col.Row-Column-22 {
	width:230px;
}
col.Row-Column-23 {
	width:225px;
}
col.Row-Column-24 {
	width:242px;
}
tr.Row-Column-25 {
	min-height:155px;
}
img.frame-26 {
	height:342px;
	width:342px;
}
img.frame-27 {
	height:313px;
	width:466px;
}
col.Row-Column-28 {
	width:124px;
}
col.Row-Column-29 {
	width:342px;
}
tr.Row-Column-30 {
	min-height:35px;
}
col.Row-Column-31 {
	width:127px;
}
col.Row-Column-32 {
	width:339px;
}
col.Row-Column-33 {
	width:129px;
}
col.Row-Column-34 {
	width:338px;
}
col.Row-Column-35 {
	width:337px;
}
tr.Row-Column-36 {
	min-height:41px;
}
col.Row-Column-37 {
	width:134px;
}
col.Row-Column-38 {
	width:332px;
}
tr.Row-Column-39 {
	min-height:22px;
}
tr.Row-Column-40 {
	min-height:23px;
}
img.frame-41 {
	height:318px;
	width:464px;
}
div.frame-42 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:140px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-43 {
	height:330px;
	width:467px;
}
div.frame-44 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:98px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-45 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:82px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-46 {
	width:361px;
}
col.Row-Column-47 {
	width:49px;
}
col.Row-Column-48 {
	width:56px;
}
tr.Row-Column-49 {
	min-height:154px;
}
img.frame-50 {
	height:306px;
	width:468px;
}
tr.Row-Column-51 {
	min-height:102px;
}
col.Row-Column-52 {
	width:233px;
}
div.frame-53 {
	height:22px;
	width:206px;
}
tr.Row-Column-54 {
	min-height:34px;
}
div.frame-55 {
	height:28px;
	width:206px;
}
div.frame-56 {
	height:23px;
	width:206px;
}
tr.Row-Column-57 {
	min-height:57px;
}
tr.Row-Column-58 {
	min-height:51px;
}
img.frame-59 {
	height:169px;
	width:322px;
}
div.frame-60 {
	margin:0px auto 0px 0px;
	text-align:left;
}
img.frame-61 {
	height:137px;
	width:116px;
}
img.frame-62 {
	height:77px;
	width:91px;
}
img.frame-63 {
	height:115px;
	width:93px;
}
img.frame-64 {
	height:94px;
	width:69px;
}
div.frame-65 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:94px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-66 {
	width:465px;
}
tr.Row-Column-67 {
	min-height:287px;
}
div.frame-68 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:105px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-69 {
	height:218px;
	width:106px;
}
img.frame-70 {
	height:162px;
	width:110px;
}
col.Row-Column-71 {
	width:66px;
}
col.Row-Column-72 {
	width:107px;
}
col.Row-Column-73 {
	width:104px;
}
col.Row-Column-74 {
	width:90px;
}
col.Row-Column-75 {
	width:99px;
}
tr.Row-Column-76 {
	min-height:21px;
}
tr.Row-Column-77 {
	min-height:80px;
}
tr.Row-Column-78 {
	min-height:95px;
}
tr.Row-Column-79 {
	min-height:125px;
}
tr.Row-Column-80 {
	min-height:110px;
}
img.frame-81 {
	height:525px;
	width:467px;
}
img.frame-82 {
	height:530px;
	width:467px;
}
img.frame-83 {
	height:163px;
	width:225px;
}
img.frame-84 {
	height:163px;
	width:223px;
}
tr.Row-Column-85 {
	min-height:175px;
}
div.frame-86 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:126px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-87 {
	height:165px;
	width:227px;
}
img.frame-88 {
	height:165px;
	width:223px;
}
tr.Row-Column-89 {
	min-height:176px;
}
tr.Row-Column-90 {
	min-height:16px;
}
img.frame-91 {
	height:359px;
	width:466px;
}
div.frame-92 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:80px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-93 {
	height:288px;
	width:397px;
}
img.frame-94 {
	height:338px;
	width:465px;
}
div.frame-95 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:167px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-96 {
	height:634px;
	width:363px;
}
col.Row-Column-97 {
	width:77px;
}
col.Row-Column-98 {
	width:247px;
}
tr.Row-Column-99 {
	min-height:39px;
}
tr.Row-Column-100 {
	min-height:49px;
}
tr.Row-Column-101 {
	min-height:64px;
}
tr.Row-Column-102 {
	min-height:79px;
}
tr.Row-Column-103 {
	min-height:74px;
}
div.frame-104 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:52px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-105 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:79px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-106 {
	height:128px;
	width:99px;
}
img.frame-107 {
	height:128px;
	width:53px;
}
img.frame-108 {
	height:97px;
	width:92px;
}
img.frame-109 {
	height:113px;
	width:102px;
}
img.frame-110 {
	height:125px;
	width:58px;
}
img.frame-111 {
	height:121px;
	width:46px;
}
img.frame-112 {
	height:133px;
	width:84px;
}
img.frame-113 {
	height:103px;
	width:94px;
}
img.frame-114 {
	height:94px;
	width:141px;
}
col.Row-Column-115 {
	width:112px;
}
col.Row-Column-116 {
	width:122px;
}
col.Row-Column-117 {
	width:111px;
}
tr.Row-Column-118 {
	min-height:50px;
}
div.frame-119 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:76px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-120 {
	width:157px;
}
col.Row-Column-121 {
	width:151px;
}
col.Row-Column-122 {
	width:85px;
}
col.Row-Column-123 {
	width:82px;
}
col.Row-Column-124 {
	width:70px;
}
col.Row-Column-125 {
	width:65px;
}
tr.Row-Column-126 {
	min-height:76px;
}
tr.Row-Column-127 {
	min-height:67px;
}
tr.Row-Column-128 {
	min-height:92px;
}
tr.Row-Column-129 {
	min-height:70px;
}
col.Row-Column-130 {
	width:78px;
}
col.Row-Column-131 {
	width:71px;
}
col.Row-Column-132 {
	width:72px;
}
tr.Row-Column-133 {
	min-height:65px;
}
tr.Row-Column-134 {
	min-height:185px;
}
img.frame-135 {
	height:361px;
	width:674px;
}
img.frame-136 {
	height:348px;
	width:662px;
}
img.frame-137 {
	height:232px;
	width:307px;
}
img.frame-138 {
	height:229px;
	width:306px;
}
img.frame-139 {
	height:480px;
	width:455px;
}
img.frame-140 {
	height:527px;
	width:456px;
}
img.frame-141 {
	height:653px;
	width:1081px;
}
img.frame-142 {
	height:321px;
	width:458px;
}
