body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd Medium", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.Body {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:8px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-content-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Side-table-space {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-investigation--after-b-head- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--3-columns {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--4-column {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
li.Body-bullet--indented- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
li.Body-opener-bullets {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A-no-number {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.Body-investigation-with-marks {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--with-marks {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text--COPY-LINE--with-EQ {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Copy-line-tabs {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Copy-line-tabs-2 {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content-numbers {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--2-column {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Numbers-below-arrows {
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-box-bullets {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
span.Body-box-bold {
	font-style:normal;
	font-weight:bold;
}
span.Box-variable-italic {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.M-Body-no-indent-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Bodytext-Bold-italic--Times- {
	font-family:"Times New Roman MT Std", serif;
	font-size:13px;
	font-style:italic;
	font-weight:bold;
}
table.table-style-override-1 {
	border-width:0.5px;
}
table.table-style-override-2 {
	border-style:none;
	border-width:0px;
}
td.cell-style-override-1 {
	background-color:#b07e09;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-2 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-4 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-5 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
}
td.cell-style-override-6 {
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	padding-top:0px;
}
p.para-style-override-1 {
	break-after:page;
}
p.para-style-override-2 {
	margin-bottom:3px;
}
p.para-style-override-3 {
	margin-bottom:0px;
}
p.para-style-override-4 {
	margin-bottom:14px;
}
p.para-style-override-5 {
	margin-bottom:6px;
}
p.para-style-override-6 {
	margin-bottom:20px;
}
p.para-style-override-7 {
	margin-left:40px;
}
p.para-style-override-8 {
	margin-bottom:17px;
}
p.para-style-override-9 {
	margin-left:37px;
}
p.para-style-override-10 {
	margin-bottom:23px;
}
p.para-style-override-11 {
	margin-bottom:11px;
}
p.para-style-override-12 {
	font-style:italic;
	font-weight:normal;
	margin-bottom:0px;
}
p.para-style-override-13 {
	margin-bottom:9px;
}
p.para-style-override-14 {
	margin-bottom:1px;
}
p.para-style-override-15 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-16 {
	margin-left:17px;
}
p.para-style-override-17 {
	text-align:left;
}
p.para-style-override-18 {
	break-after:page;
	margin-left:40px;
}
p.para-style-override-19 {
	text-indent:0px;
}
p.para-style-override-20 {
	margin-left:34px;
	text-indent:0px;
}
li.para-style-override-21 {
	margin-left:30px;
}
p.para-style-override-22 {
	break-after:page;
	margin-left:37px;
	text-indent:0px;
}
p.para-style-override-23 {
	break-after:page;
	margin-bottom:3px;
}
p.para-style-override-24 {
	color:#ff0000;
	font-family:Wingdings, sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-25 {
	font-size:9px;
	margin-left:40px;
}
p.para-style-override-26 {
	margin-left:0px;
}
p.para-style-override-27 {
	margin-bottom:26px;
}
p.para-style-override-28 {
	margin-left:142px;
	text-indent:0px;
}
p.para-style-override-29 {
	margin-left:0px;
	text-indent:0px;
}
p.para-style-override-30 {
	margin-left:170px;
	text-indent:0px;
}
p.para-style-override-31 {
	margin-left:179px;
	text-indent:0px;
}
p.para-style-override-32 {
	margin-left:210px;
	text-indent:0px;
}
p.para-style-override-33 {
	margin-left:181px;
}
p.para-style-override-34 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-35 {
	margin-bottom:0px;
	margin-left:37px;
}
p.para-style-override-36, li.para-style-override-36 {
	margin-left:28px;
}
p.para-style-override-37 {
	margin-bottom:34px;
}
p.para-style-override-38 {
	margin-bottom:45px;
}
li.para-style-override-39 {
	margin-left:54px;
}
p.para-style-override-40 {
	break-after:page;
	margin-left:17px;
}
p.para-style-override-41 {
	margin-left:57px;
}
p.para-style-override-42 {
	margin-bottom:0px;
	margin-left:57px;
}
p.para-style-override-43 {
	margin-left:45px;
}
li.para-style-override-44 {
	margin-bottom:0px;
	margin-left:28px;
}
p.para-style-override-45 {
	text-align:center;
}
p.para-style-override-46 {
	margin-left:105px;
}
p.para-style-override-47 {
	margin-left:20px;
}
p.para-style-override-48 {
	margin-left:23px;
}
p.para-style-override-49 {
	margin-left:11px;
	text-align:center;
}
p.para-style-override-50 {
	margin-left:43px;
}
p.para-style-override-51 {
	color:#c31f45;
	text-align:center;
}
p.para-style-override-52 {
	margin-left:23px;
	text-indent:-23px;
}
p.para-style-override-53 {
	color:#c31f45;
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-54 {
	margin-bottom:3px;
	margin-left:184px;
}
p.para-style-override-55 {
	margin-left:184px;
}
span.char-style-override-1 {
	color:#b07e09;
}
span.char-style-override-2 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	font-size:13px;
}
span.char-style-override-4 {
	color:#c31f45;
}
span.char-style-override-5 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-6 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-7 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-10 {
	color:#ff0000;
}
span.char-style-override-11 {
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-12 {
	font-size:32px;
}
span.char-style-override-13 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-size:32px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-14 {
	font-size:60px;
}
span.char-style-override-15 {
	color:#231f20;
}
span.char-style-override-16 {
	color:#008fd5;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-17 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-18 {
	color:#ff0000;
	font-family:Wingdings, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-19 {
	font-family:"Times New Roman MT Std", serif;
	font-size:13px;
	font-style:italic;
	font-weight:bold;
}
span.char-style-override-20 {
	font-family:"Times New Roman MT Std", serif;
	font-style:italic;
	font-weight:bold;
}
span.char-style-override-21 {
	color:#231f20;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-22 {
	font-size:1px;
}
span.char-style-override-23 {
	color:#000000;
	font-size:1px;
}
span.char-style-override-24 {
	color:#c31f45;
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:500;
}
span.char-style-override-25 {
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-26 {
	font-family:"ITC Stone Sans Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-27 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-28 {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-29 {
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-style:normal;
	font-weight:600;
}
span.char-style-override-30 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
}
span.char-style-override-31 {
	font-size:9px;
}
span.char-style-override-32 {
	font-size:12px;
}
span.char-style-override-33 {
	font-size:11px;
}
span.char-style-override-34 {
	color:#231f20;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-35 {
	color:#ff0000;
	font-size:10px;
}
div.frame-1 {
	height:17px;
	width:351px;
}
div.frame-2 {
	height:17px;
	width:340px;
}
div.frame-3 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:75px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-4 {
	width:5px;
}
col.Row-Column-5 {
	width:287px;
}
tr.Row-Column-6 {
	min-height:88px;
}
div.frame-7 {
	height:17px;
	width:290px;
}
div.frame-8 {
	height:17px;
	width:281px;
}
div.frame-9 {
	height:17px;
	width:289px;
}
col.Row-Column-10 {
	width:361px;
}
tr.Row-Column-11 {
	min-height:124px;
}
img.frame-12 {
	height:11px;
	width:37px;
}
div.frame-13 {
	margin:0px auto 0px 0px;
	text-align:left;
}
div.frame-14 {
	height:17px;
	width:329px;
}
div.frame-15 {
	height:17px;
	width:322px;
}
div.frame-16 {
	height:17px;
	width:338px;
}
div.frame-17 {
	height:17px;
	width:335px;
}
div.frame-18 {
	height:17px;
	width:336px;
}
div.frame-19 {
	height:17px;
	width:324px;
}
div.frame-20 {
	height:17px;
	width:293px;
}
img.frame-21 {
	height:27px;
	width:16px;
}
img.frame-22 {
	height:27px;
	width:17px;
}
img.frame-23 {
	height:27px;
	width:11px;
}
div.frame-24 {
	height:19px;
	width:356px;
}
div.frame-25 {
	height:17px;
	width:356px;
}
col.Row-Column-26 {
	width:279px;
}
tr.Row-Column-27 {
	min-height:104px;
}
div.frame-28 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:132px;
	padding:6px 4px 6px 4px;
	width:167px;
}
col.Row-Column-29 {
	width:120px;
}
col.Row-Column-30 {
	width:34px;
}
tr.Row-Column-31 {
	min-height:22px;
}
img.frame-32 {
	height:22px;
	width:127px;
}
div.frame-33 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:47px;
	padding:6px 4px 6px 4px;
	width:195px;
}
col.Row-Column-34 {
	width:100px;
}
col.Row-Column-35 {
	width:40px;
}
div.frame-36 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:61px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-37 {
	height:17px;
	width:362px;
}
col.Row-Column-38 {
	width:325px;
}
tr.Row-Column-39 {
	min-height:58px;
}
img.frame-40 {
	height:87px;
	width:453px;
}
col.Row-Column-41 {
	width:79px;
}
col.Row-Column-42 {
	width:57px;
}
tr.Row-Column-43 {
	min-height:34px;
}
div.frame-44 {
	height:17px;
	width:211px;
}
col.Row-Column-45 {
	width:301px;
}
tr.Row-Column-46 {
	min-height:138px;
}
img.frame-47 {
	height:47px;
	width:321px;
}
col.Row-Column-48 {
	width:123px;
}
col.Row-Column-49 {
	width:38px;
}
div.frame-50 {
	height:17px;
	width:125px;
}
img.frame-51 {
	height:44px;
	width:64px;
}
img.frame-52 {
	height:65px;
	width:351px;
}
col.Row-Column-53 {
	width:91px;
}
col.Row-Column-54 {
	width:41px;
}
div.frame-55 {
	height:17px;
	width:88px;
}
div.frame-56 {
	height:17px;
	width:191px;
}
div.frame-57 {
	height:17px;
	width:287px;
}
img.frame-58 {
	height:113px;
	width:277px;
}
col.Row-Column-59 {
	width:89px;
}
col.Row-Column-60 {
	width:45px;
}
img.frame-61 {
	height:99px;
	width:342px;
}
col.Row-Column-62 {
	width:115px;
}
img.frame-63 {
	height:124px;
	width:436px;
}
img.frame-64 {
	height:131px;
	width:467px;
}
col.Row-Column-65 {
	width:186px;
}
col.Row-Column-66 {
	width:56px;
}
tr.Row-Column-67 {
	min-height:25px;
}
img.frame-68 {
	height:86px;
	width:452px;
}
col.Row-Column-69 {
	width:189px;
}
col.Row-Column-70 {
	width:55px;
}
img.frame-71 {
	height:652px;
	width:468px;
}
img.frame-72 {
	height:121px;
	width:460px;
}
col.Row-Column-73 {
	width:165px;
}
col.Row-Column-74 {
	width:37px;
}
tr.Row-Column-75 {
	min-height:19px;
}
div.frame-76 {
	height:17px;
	width:217px;
}
div.frame-77 {
	height:17px;
	width:182px;
}
col.Row-Column-78 {
	width:105px;
}
col.Row-Column-79 {
	width:46px;
}
div.frame-80 {
	height:17px;
	width:243px;
}
div.frame-81 {
	height:17px;
	width:247px;
}
col.Row-Column-82 {
	width:149px;
}
div.frame-83 {
	background-color:#f5ebdb;
	border-color:#b07e09;
	border-style:double;
	border-width:2px;
	height:198px;
	padding:11px 11px 11px 11px;
	width:185px;
}
div.frame-84 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-85 {
	width:144px;
}
col.Row-Column-86 {
	width:70px;
}
img.frame-87 {
	height:20px;
	width:128px;
}
col.Row-Column-88 {
	width:24px;
}
col.Row-Column-89 {
	width:30px;
}
col.Row-Column-90 {
	width:17px;
}
div.frame-91 {
	height:17px;
	width:106px;
}
div.frame-92 {
	height:17px;
	width:95px;
}
col.Row-Column-93 {
	width:58px;
}
img.frame-94 {
	height:27px;
	width:9px;
}
col.Row-Column-95 {
	width:39px;
}
tr.Row-Column-96 {
	min-height:33px;
}
col.Row-Column-97 {
	width:53px;
}
img.frame-98 {
	height:80px;
	width:239px;
}
img.frame-99 {
	height:38px;
	width:363px;
}
col.Row-Column-100 {
	width:203px;
}
col.Row-Column-101 {
	width:49px;
}
div.frame-102 {
	height:17px;
	width:223px;
}
img.frame-103 {
	height:110px;
	width:152px;
}
div.frame-104 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:134px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-105 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:105px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-106 {
	height:17px;
	width:235px;
}
div.frame-107 {
	height:17px;
	width:274px;
}
div.frame-108 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:121px;
	padding:6px 3px 6px 4px;
	width:160px;
}
col.Row-Column-109 {
	width:280px;
}
tr.Row-Column-110 {
	min-height:92px;
}
div.frame-111 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:119px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-112 {
	height:107px;
	width:235px;
}
img.frame-113 {
	height:20px;
	width:119px;
}
div.frame-114 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-115 {
	height:21px;
	width:8px;
}
div.frame-116 {
	height:19px;
	width:224px;
}
div.frame-117 {
	height:17px;
	width:154px;
}
div.frame-118 {
	height:17px;
	width:117px;
}
div.frame-119 {
	height:17px;
	width:277px;
}
img.frame-120 {
	height:20px;
	width:132px;
}
img.frame-121 {
	height:22px;
	width:29px;
}
img.frame-122 {
	height:20px;
	width:8px;
}
col.Row-Column-123 {
	width:131px;
}
col.Row-Column-124 {
	width:101px;
}
col.Row-Column-125 {
	width:87px;
}
div.frame-126 {
	height:17px;
	width:262px;
}
col.Row-Column-127 {
	width:181px;
}
tr.Row-Column-128 {
	min-height:21px;
}
col.Row-Column-129 {
	width:162px;
}
col.Row-Column-130 {
	width:106px;
}
tr.Row-Column-131 {
	min-height:31px;
}
tr.Row-Column-132 {
	min-height:63px;
}
col.Row-Column-133 {
	width:23px;
}
col.Row-Column-134 {
	width:142px;
}
tr.Row-Column-135 {
	min-height:29px;
}
col.Row-Column-136 {
	width:315px;
}
div.frame-137 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-138 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-139 {
	min-height:170px;
}
img.frame-140 {
	height:28px;
	width:12px;
}
img.frame-141 {
	height:27px;
	width:13px;
}
img.frame-142 {
	height:5px;
	width:467px;
}
col.Row-Column-143 {
	width:155px;
}
div.frame-144 {
	height:17px;
	width:64px;
}
tr.Row-Column-145 {
	min-height:24px;
}
img.frame-146 {
	height:202px;
	width:342px;
}
img.frame-147 {
	height:183px;
	width:352px;
}
col.Row-Column-148 {
	width:156px;
}
col.Row-Column-149 {
	width:36px;
}
img.frame-150 {
	height:334px;
	width:453px;
}
col.Row-Column-151 {
	width:164px;
}
col.Row-Column-152 {
	width:174px;
}
img.frame-153 {
	height:410px;
	width:431px;
}
div.frame-154 {
	height:17px;
	width:208px;
}
div.frame-155 {
	height:17px;
	width:264px;
}
div.frame-156 {
	height:17px;
	width:192px;
}
div.frame-157 {
	height:17px;
	width:242px;
}
col.Row-Column-158 {
	width:285px;
}
div.frame-159 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:49px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-160 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:135px;
	padding:6px 4px 6px 4px;
	width:160px;
}
tr.Row-Column-161 {
	min-height:222px;
}
img.frame-162 {
	height:177px;
	width:206px;
}
col.Row-Column-163 {
	width:50px;
}
col.Row-Column-164 {
	width:125px;
}
img.frame-165 {
	height:102px;
	width:269px;
}
img.frame-166 {
	height:100px;
	width:155px;
}
tr.Row-Column-167 {
	min-height:56px;
}
col.Row-Column-168 {
	width:143px;
}
img.frame-169 {
	height:85px;
	width:440px;
}
div.frame-170 {
	height:17px;
	width:246px;
}
div.frame-171 {
	height:17px;
	width:101px;
}
div.frame-172 {
	height:17px;
	width:160px;
}
tr.Row-Column-173 {
	min-height:40px;
}
img.frame-174 {
	height:66px;
	width:129px;
}
tr.Row-Column-175 {
	min-height:108px;
}
img.frame-176 {
	height:206px;
	width:358px;
}
div.frame-177 {
	height:17px;
	width:92px;
}
img.frame-178 {
	height:143px;
	width:288px;
}
img.frame-179 {
	height:84px;
	width:172px;
}
img.frame-180 {
	height:177px;
	width:284px;
}
div.frame-181 {
	height:17px;
	width:282px;
}
img.frame-182 {
	height:267px;
	width:432px;
}
img.frame-183 {
	height:111px;
	width:438px;
}
img.frame-184 {
	height:130px;
	width:420px;
}
img.frame-185 {
	height:133px;
	width:366px;
}
img.frame-186 {
	height:163px;
	width:251px;
}
img.frame-187 {
	height:192px;
	width:354px;
}
col.Row-Column-188 {
	width:292px;
}
tr.Row-Column-189 {
	min-height:204px;
}
col.Row-Column-190 {
	width:225px;
}
img.frame-191 {
	height:125px;
	width:125px;
}
img.frame-192 {
	height:108px;
	width:161px;
}
tr.Row-Column-193 {
	min-height:181px;
}
img.frame-194 {
	height:126px;
	width:209px;
}
img.frame-195 {
	height:147px;
	width:147px;
}
img.frame-196 {
	height:75px;
	width:213px;
}
img.frame-197 {
	height:96px;
	width:222px;
}
img.frame-198 {
	height:115px;
	width:99px;
}
img.frame-199 {
	height:137px;
	width:127px;
}
tr.Row-Column-200 {
	min-height:201px;
}
img.frame-201 {
	height:124px;
	width:121px;
}
img.frame-202 {
	height:102px;
	width:102px;
}
img.frame-203 {
	height:144px;
	width:144px;
}
img.frame-204 {
	height:133px;
	width:132px;
}
img.frame-205 {
	height:205px;
	width:172px;
}
img.frame-206 {
	height:172px;
	width:174px;
}
img.frame-207 {
	height:162px;
	width:432px;
}
img.frame-208 {
	height:270px;
	width:438px;
}
img.frame-209 {
	height:155px;
	width:239px;
}
col.Row-Column-210 {
	width:262px;
}
tr.Row-Column-211 {
	min-height:208px;
}
img.frame-212 {
	height:139px;
	width:176px;
}
img.frame-213 {
	height:172px;
	width:322px;
}
div.frame-214 {
	height:17px;
	width:234px;
}
img.frame-215 {
	height:122px;
	width:239px;
}
div.frame-216 {
	height:17px;
	width:186px;
}
div.frame-217 {
	height:17px;
	width:198px;
}
img.frame-218 {
	height:172px;
	width:172px;
}
img.frame-219 {
	height:155px;
	width:254px;
}
img.frame-220 {
	height:190px;
	width:432px;
}
img.frame-221 {
	height:214px;
	width:432px;
}
img.frame-222 {
	height:215px;
	width:432px;
}
img.frame-223 {
	height:172px;
	width:189px;
}
tr.Row-Column-224 {
	min-height:258px;
}
img.frame-225 {
	height:230px;
	width:355px;
}
img.frame-226 {
	height:254px;
	width:406px;
}
img.frame-227 {
	height:188px;
	width:255px;
}
col.Row-Column-228 {
	width:233px;
}
img.frame-229 {
	height:172px;
	width:144px;
}
img.frame-230 {
	height:155px;
	width:156px;
}
tr.Row-Column-231 {
	min-height:210px;
}
img.frame-232 {
	height:105px;
	width:338px;
}
tr.Row-Column-233 {
	min-height:157px;
}
img.frame-234 {
	height:65px;
	width:152px;
}
img.frame-235 {
	height:174px;
	width:432px;
}
img.frame-236 {
	height:202px;
	width:432px;
}
img.frame-237 {
	height:309px;
	width:259px;
}
img.frame-238 {
	height:281px;
	width:237px;
}
col.Row-Column-239 {
	width:284px;
}
img.frame-240 {
	height:179px;
	width:181px;
}
tr.Row-Column-241 {
	min-height:270px;
}
img.frame-242 {
	height:139px;
	width:222px;
}
img.frame-243 {
	height:172px;
	width:241px;
}
img.frame-244 {
	height:125px;
	width:225px;
}
img.frame-245 {
	height:120px;
	width:407px;
}
tr.Row-Column-246 {
	min-height:172px;
}
img.frame-247 {
	height:22px;
	width:7px;
}
tr.Row-Column-248 {
	min-height:179px;
}
img.frame-249 {
	height:120px;
	width:350px;
}
div.frame-250 {
	height:17px;
	width:31px;
}
col.Row-Column-251 {
	width:268px;
}
tr.Row-Column-252 {
	min-height:106px;
}
div.frame-253 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:103px;
	padding:6px 4px 6px 4px;
	width:170px;
}
div.frame-254 {
	height:17px;
	width:102px;
}
img.frame-255 {
	height:27px;
	width:8px;
}
img.frame-256 {
	height:172px;
	width:355px;
}
img.frame-257 {
	height:155px;
	width:305px;
}
img.frame-258 {
	height:138px;
	width:338px;
}
div.frame-259 {
	height:17px;
	width:93px;
}
div.frame-260 {
	height:17px;
	width:82px;
}
img.frame-261 {
	height:172px;
	width:305px;
}
div.frame-262 {
	height:17px;
	width:392px;
}
img.frame-263 {
	height:221px;
	width:255px;
}
img.frame-264 {
	height:191px;
	width:428px;
}
tr.Row-Column-265 {
	min-height:44px;
}
img.frame-266 {
	height:75px;
	width:368px;
}
img.frame-267 {
	height:61px;
	width:61px;
}
img.frame-268 {
	height:58px;
	width:114px;
}
tr.Row-Column-269 {
	min-height:97px;
}
img.frame-270 {
	height:85px;
	width:190px;
}
div.frame-271 {
	height:17px;
	width:85px;
}
img.frame-272 {
	height:36px;
	width:37px;
}
img.frame-273 {
	height:31px;
	width:37px;
}
img.frame-274 {
	height:37px;
	width:36px;
}
img.frame-275 {
	height:38px;
	width:36px;
}
img.frame-276 {
	height:37px;
	width:28px;
}
img.frame-277 {
	height:38px;
	width:35px;
}
img.frame-278 {
	height:49px;
	width:46px;
}
img.frame-279 {
	height:34px;
	width:38px;
}
img.frame-280 {
	height:47px;
	width:49px;
}
div.frame-281 {
	height:17px;
	width:60px;
}
img.frame-282 {
	height:44px;
	width:46px;
}
img.frame-283 {
	height:49px;
	width:35px;
}
img.frame-284 {
	height:53px;
	width:50px;
}
img.frame-285 {
	height:39px;
	width:39px;
}
img.frame-286 {
	height:48px;
	width:57px;
}
img.frame-287 {
	height:51px;
	width:49px;
}
div.frame-288 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:78px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-289 {
	height:77px;
	width:428px;
}
img.frame-290 {
	height:89px;
	width:93px;
}
img.frame-291 {
	height:66px;
	width:80px;
}
img.frame-292 {
	height:70px;
	width:128px;
}
img.frame-293 {
	height:87px;
	width:219px;
}
img.frame-294 {
	height:84px;
	width:271px;
}
img.frame-295 {
	height:297px;
	width:287px;
}
div.frame-296 {
	height:17px;
	width:144px;
}
img.frame-297 {
	height:112px;
	width:441px;
}
img.frame-298 {
	height:73px;
	width:87px;
}
img.frame-299 {
	height:73px;
	width:290px;
}
img.frame-300 {
	height:73px;
	width:295px;
}
img.frame-301 {
	height:73px;
	width:187px;
}
img.frame-302 {
	height:73px;
	width:102px;
}
img.frame-303 {
	height:79px;
	width:70px;
}
img.frame-304 {
	height:72px;
	width:72px;
}
img.frame-305 {
	height:69px;
	width:158px;
}
img.frame-306 {
	height:120px;
	width:132px;
}
img.frame-307 {
	height:129px;
	width:119px;
}
img.frame-308 {
	height:107px;
	width:80px;
}
div.frame-309 {
	height:17px;
	width:380px;
}
div.frame-310 {
	height:17px;
	width:369px;
}
div.frame-311 {
	height:17px;
	width:376px;
}
div.frame-312 {
	height:17px;
	width:379px;
}
div.frame-313 {
	height:17px;
	width:317px;
}
div.frame-314 {
	height:17px;
	width:313px;
}
img.frame-315 {
	height:420px;
	width:445px;
}
img.frame-316 {
	height:55px;
	width:427px;
}
div.frame-317 {
	height:17px;
	width:35px;
}
img.frame-318 {
	height:341px;
	width:283px;
}
img.frame-319 {
	height:62px;
	width:417px;
}
img.frame-320 {
	height:71px;
	width:268px;
}
img.frame-321 {
	height:127px;
	width:395px;
}
img.frame-322 {
	height:101px;
	width:365px;
}
img.frame-323 {
	height:122px;
	width:257px;
}
img.frame-324 {
	height:109px;
	width:308px;
}
div.frame-325 {
	height:17px;
	width:143px;
}
img.frame-326 {
	height:113px;
	width:148px;
}
img.frame-327 {
	height:77px;
	width:184px;
}
img.frame-328 {
	height:109px;
	width:191px;
}
img.frame-329 {
	height:160px;
	width:169px;
}
img.frame-330 {
	height:150px;
	width:265px;
}
div.frame-331 {
	height:17px;
	width:62px;
}
img.frame-332 {
	height:136px;
	width:176px;
}
img.frame-333 {
	height:145px;
	width:145px;
}
img.frame-334 {
	height:104px;
	width:104px;
}
img.frame-335 {
	height:105px;
	width:136px;
}
div.frame-336 {
	height:11px;
	width:74px;
}
img.frame-337 {
	height:73px;
	width:115px;
}
img.frame-338 {
	height:71px;
	width:80px;
}
img.frame-339 {
	height:96px;
	width:96px;
}
img.frame-340 {
	height:110px;
	width:148px;
}
img.frame-341 {
	height:118px;
	width:142px;
}
img.frame-342 {
	height:134px;
	width:96px;
}
div.frame-343 {
	height:17px;
	width:138px;
}
div.frame-344 {
	height:17px;
	width:216px;
}
div.frame-345 {
	height:17px;
	width:130px;
}
div.frame-346 {
	height:17px;
	width:179px;
}
div.frame-347 {
	height:17px;
	width:219px;
}
img.frame-348 {
	height:159px;
	width:101px;
}
img.frame-349 {
	height:82px;
	width:162px;
}
img.frame-350 {
	height:143px;
	width:268px;
}
img.frame-351 {
	height:145px;
	width:402px;
}
img.frame-352 {
	height:148px;
	width:344px;
}
img.frame-353 {
	height:102px;
	width:418px;
}
img.frame-354 {
	height:193px;
	width:183px;
}
img.frame-355 {
	height:243px;
	width:182px;
}
img.frame-356 {
	height:171px;
	width:171px;
}
col.Row-Column-357 {
	width:130px;
}
img.frame-358 {
	height:42px;
	width:182px;
}
col.Row-Column-359 {
	width:179px;
}
img.frame-360 {
	height:25px;
	width:12px;
}
div.frame-361 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:55px;
	padding:6px 4px 6px 4px;
	width:178px;
}
img.frame-362 {
	height:27px;
	width:14px;
}
img.frame-363 {
	height:101px;
	width:72px;
}
div.frame-364 {
	height:17px;
	width:226px;
}
div.frame-365 {
	height:17px;
	width:244px;
}
div.frame-366 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:26px;
	width:41px;
}
div.frame-367 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:26px;
	width:40px;
}
div.frame-368 {
	height:17px;
	width:221px;
}
img.frame-369 {
	height:30px;
	width:278px;
}
col.Row-Column-370 {
	width:348px;
}
tr.Row-Column-371 {
	min-height:28px;
}
img.frame-372 {
	height:25px;
	width:8px;
}
img.frame-373 {
	height:20px;
	width:7px;
}
img.frame-374 {
	height:28px;
	width:13px;
}
img.frame-375 {
	height:234px;
	width:303px;
}
col.Row-Column-376 {
	width:51px;
}
img.frame-377 {
	height:250px;
	width:421px;
}
img.frame-378 {
	height:129px;
	width:4px;
}
img.frame-379 {
	height:4px;
	width:164px;
}
tr.Row-Column-380 {
	min-height:168px;
}
col.Row-Column-381 {
	width:116px;
}
col.Row-Column-382 {
	width:83px;
}
img.frame-383 {
	height:205px;
	width:205px;
}
img.frame-384 {
	height:233px;
	width:262px;
}
div.frame-385 {
	height:17px;
	width:251px;
}
div.frame-386 {
	height:17px;
	width:254px;
}
div.frame-387 {
	height:17px;
	width:256px;
}
img.frame-388 {
	height:183px;
	width:177px;
}
div.frame-389 {
	height:17px;
	width:32px;
}
img.frame-390 {
	height:126px;
	width:126px;
}
div.frame-391 {
	height:17px;
	width:278px;
}
div.frame-392 {
	height:17px;
	width:194px;
}
div.frame-393 {
	height:17px;
	width:218px;
}
img.frame-394 {
	height:98px;
	width:192px;
}
img.frame-395 {
	height:273px;
	width:467px;
}
col.Row-Column-396 {
	width:47px;
}
img.frame-397 {
	height:29px;
	width:34px;
}
div.frame-398 {
	height:17px;
	width:134px;
}
div.frame-399 {
	height:17px;
	width:269px;
}
img.frame-400 {
	height:202px;
	width:347px;
}
img.frame-401 {
	height:178px;
	width:201px;
}
tr.Row-Column-402 {
	min-height:227px;
}
img.frame-403 {
	height:205px;
	width:208px;
}
img.frame-404 {
	height:177px;
	width:177px;
}
col.Row-Column-405 {
	width:93px;
}
col.Row-Column-406 {
	width:118px;
}
tr.Row-Column-407 {
	min-height:36px;
}
img.frame-408 {
	height:131px;
	width:460px;
}
