body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.176;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-extension {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.364;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-Text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-opener {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.footer-right {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.x--Body-story {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:28px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:11px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.x--Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T-Bar {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:12px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body--above {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:14px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Title-Chapter-Number {
	-epub-ruby-position:over;
	color:#b25538;
	font-family:"Tekton Pro Ext", serif;
	font-size:36px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.x--Title-chapter-name {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std ExtraBlack", sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:950;
	line-height:1.111;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-investigation-hanging-a- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Answer-text-dotted-line-below--a- {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-investigation-2-line {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.267;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line--a--last-line {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:20px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-text-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:156px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.x--Body-text-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.x--Body-investigation-hanging--1-3- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:162px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-indent-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:159px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Normal {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-20px;
}
p.T-6point {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T6point-for-lines {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:3px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Answer-text {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:14px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answertext {
	-epub-ruby-position:over;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:14px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.MTDisplayEquation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
span.Word-Imported-List-Style3 {
	font-family:"Symbol (OTF) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.Body-bold {
	font-style:normal;
	font-weight:normal;
}
span.T-Body-Text-Char {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
table.table-style-override-1 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	background-color:#642d10;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-2 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:14px;
	padding-left:14px;
	padding-right:14px;
	padding-top:14px;
}
td.cell-style-override-4 {
	background-color:#ffffff;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-5 {
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-6 {
	background-color:#ffffff;
}
p.para-style-override-1 {
	color:#642d10;
}
p.para-style-override-2 {
	break-after:page;
}
p.para-style-override-3 {
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-4 {
	break-after:page;
	margin-bottom:14px;
}
p.para-style-override-5 {
	margin-bottom:9px;
}
p.para-style-override-6 {
	margin-left:0px;
}
p.para-style-override-7 {
	margin-bottom:14px;
}
p.para-style-override-8 {
	font-family:"Optima LT Std", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	margin-bottom:14px;
}
p.para-style-override-9 {
	margin-bottom:6px;
	margin-right:190px;
}
p.para-style-override-10 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-11 {
	text-align:center;
}
li.para-style-override-12 {
	margin-left:34px;
}
p.para-style-override-13 {
	margin-bottom:0px;
}
p.para-style-override-14 {
	margin-bottom:6px;
}
p.para-style-override-15 {
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-16 {
	margin-bottom:3px;
}
p.para-style-override-17 {
	margin-bottom:11px;
}
p.para-style-override-18 {
	text-align:justify;
}
p.para-style-override-19 {
	margin-left:77px;
}
p.para-style-override-20 {
	margin-bottom:28px;
}
p.para-style-override-21 {
	font-size:13px;
}
p.para-style-override-22 {
	margin-bottom:20px;
}
p.para-style-override-23 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-24 {
	margin-right:238px;
}
p.para-style-override-25 {
	margin-bottom:17px;
}
p.para-style-override-26 {
	margin-bottom:13px;
}
p.para-style-override-27 {
	break-after:page;
	margin-bottom:20px;
}
p.para-style-override-28 {
	margin-right:221px;
}
p.para-style-override-29 {
	margin-right:227px;
}
p.para-style-override-30 {
	margin-right:232px;
}
p.para-style-override-31 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-32 {
	margin-right:215px;
}
p.para-style-override-33 {
	margin-right:264px;
}
p.para-style-override-34 {
	color:#c51f45;
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-35 {
	margin-bottom:26px;
}
p.para-style-override-36 {
	margin-right:190px;
}
p.para-style-override-37 {
	margin-right:283px;
}
p.para-style-override-38 {
	margin-right:295px;
}
p.para-style-override-39 {
	margin-left:18px;
}
p.para-style-override-40 {
	margin-right:156px;
}
p.para-style-override-41 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-42 {
	text-align:right;
}
p.para-style-override-43 {
	font-family:Cambria, serif;
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-44 {
	margin-right:6px;
}
p.para-style-override-45 {
	font-style:normal;
	font-weight:normal;
	margin-bottom:6px;
}
li.para-style-override-46 {
	margin-left:36px;
	text-indent:-18px;
}
p.para-style-override-47 {
	color:#c51f45;
}
p.para-style-override-48 {
	margin-bottom:6px;
	margin-right:173px;
}
p.para-style-override-49 {
	margin-right:247px;
}
p.para-style-override-50 {
	margin-right:241px;
}
p.para-style-override-51 {
	margin-right:230px;
}
p.para-style-override-52 {
	margin-right:20px;
}
p.para-style-override-53 {
	margin-bottom:0px;
	margin-right:173px;
}
p.para-style-override-54 {
	margin-right:3px;
}
p.para-style-override-55 {
	margin-right:224px;
}
p.para-style-override-56 {
	break-after:page;
	text-align:center;
}
p.para-style-override-57 {
	margin-right:235px;
}
p.para-style-override-58 {
	color:#c51f45;
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-59 {
	font-family:"Tekton Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-60 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:bold;
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-61 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-62 {
	font-family:"Optima LT Std ExtraBlack", sans-serif;
	font-style:normal;
	font-weight:950;
}
p.para-style-override-63 {
	color:#642d10;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
p.para-style-override-64 {
	color:#642d10;
	font-style:normal;
	font-weight:normal;
	text-align:left;
}
p.para-style-override-65 {
	color:#642d10;
	text-align:left;
}
span.char-style-override-1 {
	color:#642d10;
}
span.char-style-override-2 {
	color:#642d10;
	font-variant:small-caps;
}
span.char-style-override-3 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-4 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-5 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-6 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-8 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.char-style-override-9 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-10 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-11 {
	font-family:"Palatino Linotype", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	font-family:Cambria, serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-13 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-14 {
	color:#c51f45;
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-15 {
	font-family:"Optima LT Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-16 {
	color:#895a41;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-17 {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-18 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:18px;
}
span.char-style-override-19 {
	font-size:13px;
}
span.char-style-override-20 {
	font-size:7px;
	vertical-align:sub;
}
span.char-style-override-21 {
	font-size:8px;
}
span.char-style-override-22 {
	color:#231f20;
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:612px;
	width:449px;
}
img.frame-2 {
	height:613px;
	width:440px;
}
img.frame-3 {
	height:261px;
	width:329px;
}
img.frame-4 {
	height:5px;
	width:467px;
}
col.Row-Column-5 {
	width:4px;
}
col.Row-Column-6 {
	width:302px;
}
tr.Row-Column-7 {
	min-height:53px;
}
div.frame-8 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:94px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-9 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:118px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-10 {
	height:261px;
	width:306px;
}
div.frame-11 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:97px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-12 {
	min-height:27px;
}
img.frame-13 {
	height:242px;
	width:317px;
}
img.frame-14 {
	height:240px;
	width:314px;
}
div.frame-15 {
	height:21px;
	width:99px;
}
div.frame-16 {
	height:21px;
	width:108px;
}
tr.Row-Column-17 {
	min-height:239px;
}
div.frame-18 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:78px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-19 {
	height:302px;
	width:410px;
}
tr.Row-Column-20 {
	min-height:38px;
}
img.frame-21 {
	height:286px;
	width:342px;
}
img.frame-22 {
	height:241px;
	width:330px;
}
div.frame-23 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:54px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-24 {
	height:306px;
	width:256px;
}
col.Row-Column-25 {
	width:465px;
}
tr.Row-Column-26 {
	min-height:412px;
}
div.frame-27 {
	height:13px;
	width:267px;
}
img.frame-28 {
	height:148px;
	width:402px;
}
img.frame-29 {
	height:237px;
	width:392px;
}
tr.Row-Column-30 {
	min-height:10px;
}
div.frame-31 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:47px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-32 {
	height:188px;
	width:467px;
}
img.frame-33 {
	height:435px;
	width:435px;
}
col.Row-Column-34 {
	width:147px;
}
col.Row-Column-35 {
	width:172px;
}
tr.Row-Column-36 {
	min-height:20px;
}
img.frame-37 {
	height:63px;
	width:110px;
}
img.frame-38 {
	height:45px;
	width:66px;
}
tr.Row-Column-39 {
	min-height:74px;
}
img.frame-40 {
	height:29px;
	width:133px;
}
img.frame-41 {
	height:48px;
	width:83px;
}
tr.Row-Column-42 {
	min-height:60px;
}
img.frame-43 {
	height:98px;
	width:133px;
}
img.frame-44 {
	height:32px;
	width:100px;
}
tr.Row-Column-45 {
	min-height:124px;
}
img.frame-46 {
	height:80px;
	width:125px;
}
img.frame-47 {
	height:72px;
	width:67px;
}
tr.Row-Column-48 {
	min-height:91px;
}
img.frame-49 {
	height:62px;
	width:135px;
}
img.frame-50 {
	height:5px;
	width:106px;
}
tr.Row-Column-51 {
	min-height:73px;
}
col.Row-Column-52 {
	width:123px;
}
col.Row-Column-53 {
	width:118px;
}
col.Row-Column-54 {
	width:225px;
}
img.frame-55 {
	height:60px;
	width:80px;
}
img.frame-56 {
	height:21px;
	width:104px;
}
tr.Row-Column-57 {
	min-height:72px;
}
img.frame-58 {
	height:69px;
	width:89px;
}
img.frame-59 {
	height:21px;
	width:88px;
}
img.frame-60 {
	height:55px;
	width:108px;
}
tr.Row-Column-61 {
	min-height:109px;
}
img.frame-62 {
	height:52px;
	width:111px;
}
img.frame-63 {
	height:38px;
	width:108px;
}
tr.Row-Column-64 {
	min-height:80px;
}
img.frame-65 {
	height:85px;
	width:83px;
}
img.frame-66 {
	height:83px;
	width:85px;
}
tr.Row-Column-67 {
	min-height:97px;
}
img.frame-68 {
	height:56px;
	width:101px;
}
img.frame-69 {
	height:23px;
	width:102px;
}
tr.Row-Column-70 {
	min-height:67px;
}
img.frame-71 {
	height:75px;
	width:75px;
}
img.frame-72 {
	height:52px;
	width:42px;
}
tr.Row-Column-73 {
	min-height:86px;
}
img.frame-74 {
	height:50px;
	width:113px;
}
img.frame-75 {
	height:45px;
	width:100px;
}
col.Row-Column-76 {
	width:448px;
}
img.frame-77 {
	height:123px;
	width:144px;
}
tr.Row-Column-78 {
	min-height:151px;
}
img.frame-79 {
	height:117px;
	width:170px;
}
tr.Row-Column-80 {
	min-height:149px;
}
img.frame-81 {
	height:281px;
	width:422px;
}
img.frame-82 {
	height:625px;
	width:454px;
}
img.frame-83 {
	height:608px;
	width:444px;
}
img.frame-84 {
	height:352px;
	width:466px;
}
div.frame-85 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:119px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-86 {
	height:282px;
	width:279px;
}
tr.Row-Column-87 {
	min-height:282px;
}
div.frame-88 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:168px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-89 {
	min-height:68px;
}
img.frame-90 {
	height:309px;
	width:467px;
}
col.Row-Column-91 {
	width:141px;
}
col.Row-Column-92 {
	width:162px;
}
tr.Row-Column-93 {
	min-height:65px;
}
tr.Row-Column-94 {
	min-height:22px;
}
tr.Row-Column-95 {
	min-height:50px;
}
tr.Row-Column-96 {
	min-height:35px;
}
col.Row-Column-97 {
	width:155px;
}
col.Row-Column-98 {
	width:169px;
}
tr.Row-Column-99 {
	min-height:24px;
}
img.frame-100 {
	height:170px;
	width:274px;
}
img.frame-101 {
	height:258px;
	width:390px;
}
img.frame-102 {
	height:283px;
	width:441px;
}
col.Row-Column-103 {
	width:134px;
}
col.Row-Column-104 {
	width:331px;
}
img.frame-105 {
	height:402px;
	width:313px;
}
img.frame-106 {
	height:84px;
	width:137px;
}
img.frame-107 {
	height:156px;
	width:421px;
}
img.frame-108 {
	height:156px;
	width:419px;
}
div.frame-109 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:77px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-110 {
	height:113px;
	width:223px;
}
div.frame-111 {
	margin:0px auto 0px 0px;
	text-align:left;
}
div.frame-112 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:35px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-113 {
	height:183px;
	width:458px;
}
div.frame-114 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-115 {
	height:298px;
	width:399px;
}
img.frame-116 {
	height:261px;
	width:184px;
}
img.frame-117 {
	height:138px;
	width:162px;
}
img.frame-118 {
	height:134px;
	width:265px;
}
img.frame-119 {
	height:143px;
	width:145px;
}
img.frame-120 {
	height:153px;
	width:269px;
}
img.frame-121 {
	height:112px;
	width:221px;
}
img.frame-122 {
	height:196px;
	width:144px;
}
img.frame-123 {
	height:117px;
	width:194px;
}
div.frame-124 {
	height:18px;
	width:76px;
}
div.frame-125 {
	height:25px;
	width:76px;
}
col.Row-Column-126 {
	width:193px;
}
img.frame-127 {
	height:101px;
	width:164px;
}
tr.Row-Column-128 {
	min-height:121px;
}
div.frame-129 {
	height:136px;
	width:194px;
}
div.frame-130 {
	background-color:#f3e5dd;
	height:97px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-131 {
	height:213px;
	width:215px;
}
img.frame-132 {
	height:213px;
	width:214px;
}
div.frame-133 {
	background-color:#f3e5dd;
	height:284px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-134 {
	height:570px;
	width:370px;
}
img.frame-135 {
	height:554px;
	width:456px;
}
img.frame-136 {
	height:189px;
	width:257px;
}
img.frame-137 {
	height:260px;
	width:259px;
}
img.frame-138 {
	height:156px;
	width:268px;
}
img.frame-139 {
	height:158px;
	width:131px;
}
div.frame-140 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:79px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-141 {
	height:386px;
	width:465px;
}
col.Row-Column-142 {
	width:224px;
}
img.frame-143 {
	height:187px;
	width:467px;
}
col.Row-Column-144 {
	width:236px;
}
col.Row-Column-145 {
	width:230px;
}
img.frame-146 {
	height:246px;
	width:467px;
}
div.frame-147 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:108px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-148 {
	width:233px;
}
div.frame-149 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:52px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-150 {
	height:206px;
	width:233px;
}
img.frame-151 {
	height:206px;
	width:231px;
}
col.Row-Column-152 {
	width:246px;
}
col.Row-Column-153 {
	width:220px;
}
tr.Row-Column-154 {
	min-height:45px;
}
img.frame-155 {
	height:274px;
	width:467px;
}
img.frame-156 {
	height:292px;
	width:210px;
}
div.frame-157 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:38px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-158 {
	height:583px;
	width:467px;
}
tr.Row-Column-159 {
	min-height:55px;
}
div.frame-160 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:53px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-161 {
	height:612px;
	width:457px;
}
img.frame-162 {
	height:114px;
	width:411px;
}
tr.Row-Column-163 {
	min-height:39px;
}
div.frame-164 {
	height:18px;
	width:113px;
}
tr.Row-Column-165 {
	min-height:11px;
}
img.frame-166 {
	height:92px;
	width:428px;
}
img.frame-167 {
	height:84px;
	width:428px;
}
img.frame-168 {
	height:163px;
	width:223px;
}
col.Row-Column-169 {
	width:229px;
}
tr.Row-Column-170 {
	min-height:130px;
}
img.frame-171 {
	height:170px;
	width:228px;
}
img.frame-172 {
	height:81px;
	width:143px;
}
img.frame-173 {
	height:243px;
	width:410px;
}
img.frame-174 {
	height:177px;
	width:467px;
}
col.Row-Column-175 {
	width:56px;
}
col.Row-Column-176 {
	width:153px;
}
col.Row-Column-177 {
	width:77px;
}
col.Row-Column-178 {
	width:85px;
}
col.Row-Column-179 {
	width:151px;
}
tr.Row-Column-180 {
	min-height:31px;
}
tr.Row-Column-181 {
	min-height:70px;
}
img.frame-182 {
	height:109px;
	width:222px;
}
col.Row-Column-183 {
	width:61px;
}
col.Row-Column-184 {
	width:148px;
}
tr.Row-Column-185 {
	min-height:232px;
}
img.frame-186 {
	height:249px;
	width:284px;
}
tr.Row-Column-187 {
	min-height:277px;
}
img.frame-188 {
	height:177px;
	width:223px;
}
img.frame-189 {
	height:178px;
	width:223px;
}
img.frame-190 {
	height:162px;
	width:223px;
}
tr.Row-Column-191 {
	min-height:424px;
}
div.frame-192 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:107px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-193 {
	width:70px;
}
tr.Row-Column-194 {
	min-height:16px;
}
tr.Row-Column-195 {
	min-height:472px;
}
tr.Row-Column-196 {
	min-height:600px;
}
