body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.worksheet-text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.Body, li.Body {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-content-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent, li.Body-opener-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line--a--last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Side-table-space {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-extension--no-rule- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:4px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.worksheet-text-3-column {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.worksheet-text-2-column {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Normal {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.05;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-no-indent-space-below {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging--right-indent- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:266px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Body-no-indent--right-1-3-indent- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:162px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.MQ {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.091;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation-after-B-head {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--3-columns {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-line {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-line-with-EQ {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:20px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-last-line {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-ques-a--with-EQ {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-ques-b--with-EQ {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS---alignment-text {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-dotted-line-below--EQ- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-STORY {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:28px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A-without-number {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.ques-a--with-marks {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Body-investigation-hanging-with-marks {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.M-Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:12px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M-Center {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.826;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Investigation-line-answers {
	-epub-ruby-position:over;
	color:#ff0000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-number-10- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-20px;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.M-Body-text-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Italic {
	font-style:italic;
	font-weight:normal;
}
span.Body-box-italic {
	font-style:italic;
	font-weight:normal;
}
span.Body-box-bold {
	font-style:normal;
	font-weight:bold;
}
span.Stoneserif-italic-Extension-box {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.Worksheet-x-Italics {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.M-Body-no-indent-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Times-bold-italic {
	font-family:"Times New Roman MT Std", serif;
	font-style:italic;
	font-weight:bold;
}
table.table-style-override-1 {
	border-style:none;
	border-width:0px;
}
table.table-style-override-2 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-2 {
	background-color:#b07e09;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-4 {
	background-color:#ffdd00;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-5 {
	padding-bottom:4px;
	padding-left:43px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-6 {
	padding-bottom:4px;
	padding-left:28px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-7 {
	padding-bottom:4px;
	padding-left:0px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-8 {
	padding-bottom:4px;
	padding-left:31px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-9 {
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-10 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-11 {
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-12 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
}
td.cell-style-override-13 {
	padding-bottom:0px;
	padding-left:17px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-14 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:0px;
}
td.cell-style-override-15 {
	background-color:#e6cfa8;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-16 {
	padding-bottom:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-17 {
	background-color:#f5ebdb;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-18 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-19 {
	padding-bottom:4px;
	padding-left:3px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-20 {
	padding-bottom:4px;
	padding-left:17px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-21 {
	padding-bottom:4px;
	padding-left:9px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-22 {
	padding-left:0px;
	padding-top:4px;
}
td.cell-style-override-23 {
	padding-bottom:1px;
	padding-left:4px;
	padding-right:1px;
	padding-top:1px;
}
td.cell-style-override-24 {
	background-color:#eedcc1;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
p.para-style-override-1 {
	text-align:center;
}
p.para-style-override-2, li.para-style-override-2 {
	margin-bottom:0px;
}
p.para-style-override-3 {
	margin-bottom:11px;
}
p.para-style-override-4 {
	break-after:page;
}
p.para-style-override-5 {
	margin-bottom:20px;
}
p.para-style-override-6 {
	margin-bottom:3px;
}
p.para-style-override-7, li.para-style-override-7 {
	margin-bottom:6px;
}
p.para-style-override-8 {
	text-align:right;
}
p.para-style-override-9 {
	margin-bottom:23px;
}
p.para-style-override-10 {
	margin-bottom:17px;
}
p.para-style-override-11 {
	margin-bottom:14px;
}
p.para-style-override-12 {
	margin-bottom:3px;
	margin-left:11px;
}
p.para-style-override-13 {
	text-align:right;
	text-decoration:underline;
}
p.para-style-override-14 {
	margin-bottom:9px;
}
p.para-style-override-15 {
	margin-bottom:11px;
	margin-left:17px;
}
p.para-style-override-16 {
	color:#c31f45;
}
li.para-style-override-17, p.para-style-override-17 {
	margin-bottom:6px;
	text-indent:0px;
}
p.para-style-override-18 {
	font-style:italic;
	font-weight:normal;
	margin-bottom:3px;
}
p.para-style-override-19 {
	margin-left:14px;
	text-indent:-14px;
}
p.para-style-override-20 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-21 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-22 {
	margin-bottom:1px;
}
p.para-style-override-23 {
	margin-bottom:1px;
	margin-right:0px;
}
p.para-style-override-24 {
	margin-left:17px;
}
p.para-style-override-25 {
	margin-bottom:11px;
	margin-left:11px;
}
p.para-style-override-26 {
	margin-left:11px;
}
p.para-style-override-27 {
	margin-bottom:34px;
}
p.para-style-override-28 {
	font-size:12px;
	text-align:left;
}
p.para-style-override-29 {
	text-indent:0px;
}
p.para-style-override-30 {
	margin-left:0px;
}
p.para-style-override-31 {
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-32 {
	font-family:StoneSerITCStd, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-33 {
	font-family:StoneSerITCStd, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
	text-align:left;
}
p.para-style-override-34 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-35 {
	margin-bottom:26px;
}
p.para-style-override-36 {
	margin-left:37px;
}
p.para-style-override-37 {
	text-align:left;
}
p.para-style-override-38 {
	margin-bottom:28px;
}
p.para-style-override-39 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-40 {
	color:#ff0000;
}
p.para-style-override-41 {
	margin-left:6px;
}
p.para-style-override-42 {
	margin-left:40px;
}
p.para-style-override-43 {
	color:#000000;
}
p.para-style-override-44 {
	margin-left:3px;
}
p.para-style-override-45 {
	color:#ff0000;
	margin-bottom:6px;
}
p.para-style-override-46 {
	margin-left:14px;
}
p.para-style-override-47 {
	margin-right:156px;
}
p.para-style-override-48 {
	margin-left:34px;
}
p.para-style-override-49 {
	break-after:page;
	margin-left:17px;
}
p.para-style-override-50 {
	margin-left:31px;
}
p.para-style-override-51 {
	font-size:10px;
}
p.para-style-override-52 {
	margin-bottom:4px;
}
p.para-style-override-53 {
	margin-left:45px;
}
p.para-style-override-54 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-55 {
	font-style:italic;
	font-weight:normal;
	margin-right:16px;
}
span.char-style-override-1 {
	font-size:1em;
	float:left;
	line-height:1;
	margin-top:-0.037em;
	margin-right:0.05em;
	-adobe-float-keep:column;
	margin-bottom:-0.25em;
}
span.char-style-override-2 {
	color:#b07e09;
}
span.char-style-override-3 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-4 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-5 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-6 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:"ITC Zapf Dingbats", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	font-family:"Symbol (OTF) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	text-decoration:underline;
}
span.char-style-override-11 {
	font-size:10px;
}
span.char-style-override-12 {
	color:#c31f45;
}
span.char-style-override-13 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
}
span.char-style-override-14 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-15 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-16 {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-17 {
	font-size:7px;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-18 {
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-19 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-20 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-21 {
	font-size:12px;
}
span.char-style-override-22 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-23 {
	color:#231f20;
}
span.char-style-override-24 {
	color:#ff0000;
}
span.char-style-override-25 {
	color:#000000;
}
span.char-style-override-26 {
	font-style:oblique;
	font-weight:normal;
}
span.char-style-override-27 {
	font-size:8px;
	vertical-align:super;
}
span.char-style-override-28 {
	font-size:14px;
}
span.char-style-override-29 {
	color:#c31f45;
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-30 {
	font-family:"Times New Roman", serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-31 {
	font-size:7px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-32 {
	color:#231f20;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-33 {
	color:#ff0000;
	text-decoration:underline;
}
span.char-style-override-34 {
	color:#c31f45;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-35 {
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:500;
}
span.char-style-override-36 {
	font-style:italic;
	font-weight:normal;
	text-decoration:underline;
}
span.char-style-override-37 {
	font-family:"Times New Roman MT Std", serif;
	font-style:italic;
	font-weight:bold;
}
span.char-style-override-38 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.char-style-override-39 {
	font-size:34px;
}
span.char-style-override-40 {
	font-size:20px;
}
span.char-style-override-41 {
	vertical-align:super;
}
img.frame-1 {
	height:332px;
	width:461px;
}
col.Row-Column-2 {
	width:51px;
}
tr.Row-Column-3 {
	min-height:25px;
}
div.frame-4 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:64px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-5 {
	width:5px;
}
col.Row-Column-6 {
	width:286px;
}
tr.Row-Column-7 {
	min-height:61px;
}
div.frame-8 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:160px;
}
tr.Row-Column-9 {
	min-height:28px;
}
div.frame-10 {
	height:17px;
	width:146px;
}
div.frame-11 {
	height:17px;
	width:167px;
}
div.frame-12 {
	height:17px;
	width:371px;
}
div.frame-13 {
	height:17px;
	width:372px;
}
col.Row-Column-14 {
	width:46px;
}
tr.Row-Column-15 {
	min-height:19px;
}
div.frame-16 {
	height:17px;
	width:233px;
}
div.frame-17 {
	height:17px;
	width:277px;
}
div.frame-18 {
	height:20px;
	width:127px;
}
img.frame-19 {
	height:46px;
	width:430px;
}
div.frame-20 {
	height:20px;
	width:67px;
}
div.frame-21 {
	height:20px;
	width:53px;
}
img.frame-22 {
	height:24px;
	width:143px;
}
div.frame-23 {
	margin:0px auto 0px 0px;
	text-align:left;
}
img.frame-24 {
	height:27px;
	width:9px;
}
div.frame-25 {
	height:20px;
	width:221px;
}
img.frame-26 {
	height:30px;
	width:46px;
}
img.frame-27 {
	height:27px;
	width:16px;
}
img.frame-28 {
	height:27px;
	width:11px;
}
col.Row-Column-29 {
	width:221px;
}
col.Row-Column-30 {
	width:57px;
}
tr.Row-Column-31 {
	min-height:41px;
}
tr.Row-Column-32 {
	min-height:36px;
}
tr.Row-Column-33 {
	min-height:51px;
}
div.frame-34 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-35 {
	height:17px;
	width:18px;
}
img.frame-36 {
	height:17px;
	width:25px;
}
div.frame-37 {
	height:20px;
	width:312px;
}
div.frame-38 {
	height:20px;
	width:190px;
}
div.frame-39 {
	height:20px;
	width:333px;
}
div.frame-40 {
	height:20px;
	width:326px;
}
div.frame-41 {
	height:20px;
	width:319px;
}
div.frame-42 {
	height:20px;
	width:339px;
}
div.frame-43 {
	height:20px;
	width:195px;
}
div.frame-44 {
	height:20px;
	width:201px;
}
col.Row-Column-45 {
	width:63px;
}
col.Row-Column-46 {
	width:37px;
}
col.Row-Column-47 {
	width:273px;
}
tr.Row-Column-48 {
	min-height:17px;
}
div.frame-49 {
	height:20px;
	width:240px;
}
div.frame-50 {
	height:20px;
	width:286px;
}
col.Row-Column-51 {
	width:45px;
}
col.Row-Column-52 {
	width:265px;
}
col.Row-Column-53 {
	width:56px;
}
col.Row-Column-54 {
	width:50px;
}
div.frame-55 {
	height:20px;
	width:315px;
}
div.frame-56 {
	height:20px;
	width:294px;
}
div.frame-57 {
	height:20px;
	width:154px;
}
col.Row-Column-58 {
	width:68px;
}
col.Row-Column-59 {
	width:353px;
}
div.frame-60 {
	height:20px;
	width:246px;
}
div.frame-61 {
	height:20px;
	width:239px;
}
div.frame-62 {
	height:20px;
	width:230px;
}
div.frame-63 {
	height:20px;
	width:231px;
}
tr.Row-Column-64 {
	min-height:16px;
}
div.frame-65 {
	border-style:solid;
	border-width:1px;
	height:49px;
	width:46px;
}
div.frame-66 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-67 {
	width:107px;
}
col.Row-Column-68 {
	width:43px;
}
col.Row-Column-69 {
	width:317px;
}
img.frame-70 {
	height:27px;
	width:15px;
}
col.Row-Column-71 {
	width:82px;
}
col.Row-Column-72 {
	width:129px;
}
tr.Row-Column-73 {
	min-height:15px;
}
col.Row-Column-74 {
	width:48px;
}
col.Row-Column-75 {
	width:30px;
}
col.Row-Column-76 {
	width:44px;
}
div.frame-77 {
	border-style:solid;
	border-width:1px;
	height:136px;
	width:123px;
}
div.frame-78 {
	height:20px;
	width:102px;
}
div.frame-79 {
	height:20px;
	width:145px;
}
col.Row-Column-80 {
	width:301px;
}
tr.Row-Column-81 {
	min-height:92px;
}
div.frame-82, img.frame-82 {
	height:20px;
	width:129px;
}
div.frame-83 {
	height:20px;
	width:104px;
}
div.frame-84, img.frame-84 {
	height:20px;
	width:41px;
}
tr.Row-Column-85 {
	min-height:122px;
}
div.frame-86 {
	height:20px;
	width:99px;
}
col.Row-Column-87 {
	width:138px;
}
tr.Row-Column-88 {
	min-height:22px;
}
div.frame-89 {
	height:20px;
	width:296px;
}
div.frame-90 {
	height:20px;
	width:170px;
}
div.frame-91 {
	height:20px;
	width:322px;
}
div.frame-92 {
	height:20px;
	width:187px;
}
div.frame-93 {
	height:20px;
	width:113px;
}
img.frame-94 {
	height:30px;
	width:45px;
}
img.frame-95 {
	height:30px;
	width:99px;
}
img.frame-96 {
	height:30px;
	width:89px;
}
col.Row-Column-97 {
	width:159px;
}
col.Row-Column-98 {
	width:58px;
}
img.frame-99 {
	height:5px;
	width:467px;
}
div.frame-100 {
	height:20px;
	width:256px;
}
div.frame-101 {
	height:20px;
	width:199px;
}
img.frame-102 {
	height:27px;
	width:22px;
}
col.Row-Column-103 {
	width:315px;
}
tr.Row-Column-104 {
	min-height:62px;
}
div.frame-105 {
	height:20px;
	width:274px;
}
img.frame-106 {
	height:28px;
	width:9px;
}
col.Row-Column-107 {
	width:113px;
}
col.Row-Column-108 {
	width:49px;
}
col.Row-Column-109, img.Row-Column-109 {
	width:88px;
}
div.frame-110 {
	height:20px;
	width:242px;
}
div.frame-111 {
	height:20px;
	width:260px;
}
img.frame-112 {
	height:29px;
	width:58px;
}
img.frame-113 {
	height:29px;
	width:30px;
}
img.frame-114 {
	height:27px;
	width:20px;
}
img.frame-115 {
	height:27px;
	width:29px;
}
img.frame-116 {
	height:23px;
	width:20px;
}
img.frame-117 {
	height:652px;
	width:468px;
}
div.frame-118 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:47px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-119 {
	width:76px;
}
col.Row-Column-120 {
	width:127px;
}
col.Row-Column-121 {
	width:263px;
}
tr.Row-Column-122 {
	min-height:49px;
}
tr.Row-Column-123 {
	min-height:46px;
}
div.frame-124 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:35px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-125 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:21px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-126 {
	height:2px;
	width:25px;
}
div.frame-127 {
	height:5px;
	width:27px;
}
div.frame-128 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:19px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-129 {
	min-height:42px;
}
tr.Row-Column-130 {
	min-height:72px;
}
tr.Row-Column-131 {
	min-height:26px;
}
tr.Row-Column-132 {
	min-height:124px;
}
img.frame-133, col.frame-133 {
	width:74px;
}
div.frame-134 {
	height:17px;
	width:72px;
}
img.frame-135, col.frame-135 {
	width:101px;
}
img.frame-136 {
	width:115px;
}
col.Row-Column-137 {
	width:340px;
}
tr.Row-Column-138 {
	min-height:192px;
}
tr.Row-Column-139 {
	min-height:58px;
}
col.Row-Column-140 {
	width:42px;
}
col.Row-Column-141 {
	width:32px;
}
col.Row-Column-142 {
	width:33px;
}
img.frame-143 {
	height:17px;
	width:15px;
}
div.frame-144 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:54px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-145 {
	width:308px;
}
tr.Row-Column-146 {
	min-height:198px;
}
img.frame-147 {
	height:17px;
	width:19px;
}
img.frame-148 {
	height:17px;
	width:23px;
}
img.frame-149 {
	height:17px;
	width:31px;
}
img.frame-150 {
	height:30px;
	width:44px;
}
img.frame-151 {
	height:32px;
	width:40px;
}
img.frame-152 {
	height:29px;
	width:24px;
}
img.frame-153 {
	height:27px;
	width:32px;
}
img.frame-154 {
	height:27px;
	width:17px;
}
img.frame-155 {
	height:27px;
	width:7px;
}
img.frame-156 {
	height:27px;
	width:14px;
}
img.frame-157 {
	height:25px;
	width:409px;
}
div.frame-158 {
	height:17px;
	width:143px;
}
div.frame-159 {
	height:17px;
	width:204px;
}
div.frame-160 {
	height:17px;
	width:194px;
}
div.frame-161 {
	height:17px;
	width:202px;
}
div.frame-162 {
	height:17px;
	width:137px;
}
div.frame-163 {
	height:17px;
	width:148px;
}
img.frame-164 {
	height:65px;
	width:373px;
}
div.frame-165 {
	height:17px;
	width:195px;
}
div.frame-166 {
	height:17px;
	width:197px;
}
div.frame-167 {
	height:17px;
	width:311px;
}
div.frame-168 {
	height:17px;
	width:288px;
}
img.frame-169 {
	height:19px;
	width:370px;
}
div.frame-170 {
	height:17px;
	width:159px;
}
div.frame-171 {
	height:17px;
	width:280px;
}
col.Row-Column-172 {
	width:112px;
}
tr.Row-Column-173 {
	min-height:21px;
}
img.frame-174 {
	height:30px;
	width:23px;
}
tr.Row-Column-175 {
	min-height:144px;
}
img.frame-176 {
	height:27px;
	width:8px;
}
img.frame-177 {
	height:27px;
	width:10px;
}
div.frame-178 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-179 {
	width:207px;
}
col.Row-Column-180 {
	width:134px;
}
col.Row-Column-181 {
	width:125px;
}
img.frame-182 {
	height:30px;
	width:26px;
}
img.frame-183 {
	height:30px;
	width:37px;
}
img.frame-184 {
	height:27px;
	width:23px;
}
tr.Row-Column-185 {
	min-height:151px;
}
img.frame-186 {
	height:30px;
	width:31px;
}
img.frame-187 {
	height:27px;
	width:21px;
}
img.frame-188 {
	height:30px;
	width:35px;
}
img.frame-189 {
	height:30px;
	width:24px;
}
img.frame-190 {
	height:28px;
	width:11px;
}
img.frame-191 {
	height:27px;
	width:13px;
}
img.frame-192 {
	height:27px;
	width:12px;
}
img.frame-193 {
	height:30px;
	width:28px;
}
img.frame-194 {
	height:30px;
	width:30px;
}
img.frame-195 {
	height:25px;
	width:29px;
}
img.frame-196 {
	height:30px;
	width:29px;
}
img.frame-197 {
	height:28px;
	width:29px;
}
img.frame-198 {
	height:472px;
	width:51px;
}
div.frame-199 {
	height:17px;
	width:66px;
}
tr.Row-Column-200 {
	min-height:40px;
}
img.frame-201 {
	height:24px;
	width:22px;
}
col.Row-Column-202 {
	width:150px;
}
tr.Row-Column-203 {
	min-height:31px;
}
tr.Row-Column-204 {
	min-height:35px;
}
tr.Row-Column-205 {
	min-height:292px;
}
img.frame-206 {
	height:25px;
	width:16px;
}
img.frame-207 {
	height:25px;
	width:15px;
}
img.frame-208 {
	height:25px;
	width:30px;
}
img.frame-209 {
	height:23px;
	width:29px;
}
img.frame-210 {
	height:22px;
	width:9px;
}
img.frame-211 {
	height:27px;
	width:41px;
}
img.frame-212 {
	height:24px;
	width:30px;
}
img.frame-213 {
	height:27px;
	width:30px;
}
img.frame-214 {
	height:27px;
	width:25px;
}
tr.Row-Column-215 {
	min-height:272px;
}
img.frame-216 {
	height:29px;
	width:21px;
}
img.frame-217 {
	height:29px;
	width:22px;
}
img.frame-218 {
	height:27px;
	width:18px;
}
img.frame-219 {
	height:136px;
	width:280px;
}
img.frame-220 {
	height:18px;
	width:35px;
}
img.frame-221 {
	height:18px;
	width:34px;
}
img.frame-222 {
	height:20px;
	width:39px;
}
img.frame-223 {
	height:20px;
	width:40px;
}
img.frame-224 {
	height:26px;
	width:47px;
}
div.frame-225 {
	height:18px;
	width:228px;
}
img.frame-226 {
	height:30px;
	width:66px;
}
img.frame-227 {
	height:21px;
	width:50px;
}
img.frame-228 {
	height:30px;
	width:53px;
}
img.frame-229 {
	height:21px;
	width:55px;
}
img.frame-230 {
	height:21px;
	width:46px;
}
img.frame-231 {
	height:29px;
	width:26px;
}
img.frame-232 {
	height:29px;
	width:31px;
}
img.frame-233 {
	height:28px;
	width:17px;
}
img.frame-234 {
	height:30px;
	width:34px;
}
img.frame-235 {
	height:28px;
	width:30px;
}
img.frame-236 {
	height:28px;
	width:35px;
}
img.frame-237 {
	height:28px;
	width:22px;
}
img.frame-238 {
	height:29px;
	width:25px;
}
img.frame-239 {
	height:31px;
	width:30px;
}
img.frame-240 {
	height:30px;
	width:36px;
}
img.frame-241 {
	height:28px;
	width:23px;
}
img.frame-242 {
	height:31px;
	width:27px;
}
img.frame-243 {
	height:30px;
	width:41px;
}
img.frame-244 {
	height:28px;
	width:32px;
}
img.frame-245 {
	height:30px;
	width:17px;
}
img.frame-246 {
	height:28px;
	width:19px;
}
img.frame-247 {
	height:28px;
	width:26px;
}
tr.Row-Column-248 {
	min-height:32px;
}
img.frame-249 {
	height:32px;
	width:34px;
}
img.frame-250 {
	height:33px;
	width:44px;
}
img.frame-251 {
	height:29px;
	width:28px;
}
img.frame-252 {
	height:31px;
	width:51px;
}
col.Row-Column-253 {
	width:233px;
}
col.Row-Column-254 {
	width:211px;
}
col.Row-Column-255 {
	width:256px;
}
tr.Row-Column-256 {
	min-height:53px;
}
tr.Row-Column-257 {
	min-height:48px;
}
tr.Row-Column-258 {
	min-height:18px;
}
col.Row-Column-259 {
	width:40px;
}
col.Row-Column-260 {
	width:65px;
}
col.Row-Column-261 {
	width:90px;
}
tr.Row-Column-262 {
	min-height:73px;
}
tr.Row-Column-263 {
	min-height:52px;
}
col.Row-Column-264 {
	width:41px;
}
col.Row-Column-265 {
	width:64px;
}
col.Row-Column-266 {
	width:23px;
}
img.frame-267 {
	height:28px;
	width:16px;
}
img.frame-268 {
	height:29px;
	width:16px;
}
tr.Row-Column-269 {
	min-height:27px;
}
col.Row-Column-270 {
	width:25px;
}
col.Row-Column-271 {
	width:106px;
}
img.frame-272 {
	height:29px;
	width:27px;
}
img.frame-273 {
	height:28px;
	width:21px;
}
img.frame-274 {
	height:28px;
	width:25px;
}
img.frame-275 {
	height:31px;
	width:26px;
}
img.frame-276 {
	height:31px;
	width:25px;
}
img.frame-277 {
	height:31px;
	width:24px;
}
img.frame-278 {
	height:28px;
	width:28px;
}
img.frame-279 {
	height:25px;
	width:19px;
}
col.Row-Column-280 {
	width:95px;
}
tr.Row-Column-281 {
	min-height:56px;
}
img.frame-282 {
	height:87px;
	width:394px;
}
img.frame-283 {
	height:142px;
	width:74px;
}
col.Row-Column-284 {
	width:147px;
}
img.frame-285 {
	height:90px;
	width:397px;
}
col.Row-Column-286 {
	width:164px;
}
col.Row-Column-287 {
	width:35px;
}
tr.Row-Column-288 {
	min-height:90px;
}
img.frame-289 {
	height:62px;
	width:187px;
}
img.frame-290 {
	height:142px;
	width:142px;
}
col.Row-Column-291 {
	width:38px;
}
col.Row-Column-292 {
	width:146px;
}
col.Row-Column-293 {
	width:31px;
}
img.frame-294 {
	height:62px;
	width:183px;
}
div.frame-295 {
	height:18px;
	width:61px;
}
col.Row-Column-296 {
	width:467px;
}
tr.Row-Column-297 {
	height:3px;
}
col.Row-Column-298 {
	width:145px;
}
tr.Row-Column-299 {
	min-height:106px;
}
img.frame-300 {
	height:130px;
	width:459px;
}
img.frame-301 {
	height:110px;
	width:389px;
}
div.frame-302 {
	height:18px;
	width:49px;
}
col.Row-Column-303 {
	width:190px;
}
tr.Row-Column-304 {
	min-height:14px;
}
div.frame-305 {
	height:18px;
	width:23px;
}
div.frame-306 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:49px;
	padding:6px 4px 6px 4px;
	width:164px;
}
div.frame-307 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:164px;
}
tr.Row-Column-308 {
	min-height:172px;
}
div.frame-309 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:164px;
}
div.frame-310 {
	height:18px;
	width:341px;
}
div.frame-311 {
	height:18px;
	width:365px;
}
div.frame-312 {
	height:18px;
	width:360px;
}
div.frame-313 {
	height:18px;
	width:344px;
}
div.frame-314 {
	height:18px;
	width:355px;
}
col.Row-Column-315 {
	width:36px;
}
col.Row-Column-316 {
	width:103px;
}
col.Row-Column-317 {
	width:53px;
}
col.Row-Column-318 {
	width:39px;
}
tr.Row-Column-319 {
	min-height:218px;
}
col.Row-Column-320 {
	width:85px;
}
col.Row-Column-321 {
	width:102px;
}
tr.Row-Column-322 {
	min-height:29px;
}
div.frame-323 {
	height:18px;
	width:58px;
}
col.Row-Column-324 {
	width:18px;
}
col.Row-Column-325 {
	width:104px;
}
div.frame-326 {
	height:18px;
	width:201px;
}
div.frame-327 {
	height:18px;
	width:408px;
}
div.frame-328 {
	height:18px;
	width:74px;
}
col.Row-Column-329 {
	width:209px;
}
div.frame-330 {
	height:18px;
	width:157px;
}
col.Row-Column-331 {
	width:59px;
}
img.frame-332 {
	height:636px;
	width:466px;
}
div.frame-333 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:50px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-334 {
	width:34px;
}
col.Row-Column-335 {
	width:111px;
}
div.frame-336 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-337 {
	min-height:174px;
}
img.frame-338 {
	height:113px;
	width:187px;
}
div.frame-339 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:77px;
	padding:6px 4px 6px 4px;
	width:154px;
}
col.Row-Column-340 {
	width:60px;
}
img.frame-341 {
	height:658px;
	width:460px;
}
img.frame-342 {
	height:517px;
	width:460px;
}
img.frame-343 {
	height:114px;
	width:219px;
}
img.frame-344 {
	height:477px;
	width:466px;
}
img.frame-345 {
	height:462px;
	width:466px;
}
img.frame-346 {
	height:114px;
	width:212px;
}
img.frame-347 {
	height:26px;
	width:11px;
}
img.frame-348 {
	height:462px;
	width:465px;
}
img.frame-349 {
	height:114px;
	width:218px;
}
img.frame-350 {
	height:504px;
	width:465px;
}
img.frame-351 {
	height:114px;
	width:221px;
}
col.Row-Column-352 {
	width:71px;
}
img.frame-353 {
	height:475px;
	width:465px;
}
img.frame-354 {
	height:114px;
	width:216px;
}
img.frame-355 {
	height:477px;
	width:464px;
}
col.Row-Column-356 {
	width:181px;
}
col.Row-Column-357 {
	width:162px;
}
col.Row-Column-358 {
	width:86px;
}
img.frame-359 {
	height:20px;
	width:149px;
}
tr.Row-Column-360 {
	min-height:39px;
}
col.Row-Column-361 {
	width:322px;
}
tr.Row-Column-362 {
	min-height:43px;
}
col.Row-Column-363 {
	width:84px;
}
col.Row-Column-364 {
	width:136px;
}
col.Row-Column-365 {
	width:96px;
}
div.frame-366 {
	height:17px;
	width:32px;
}
img.frame-367 {
	height:23px;
	width:11px;
}
div.frame-368 {
	height:17px;
	width:201px;
}
div.frame-369 {
	height:17px;
	width:166px;
}
div.frame-370 {
	height:17px;
	width:132px;
}
col.Row-Column-371 {
	width:157px;
}
img.frame-372 {
	height:31px;
	width:80px;
}
img.frame-373 {
	height:32px;
	width:61px;
}
col.Row-Column-374 {
	width:52px;
}
col.Row-Column-375 {
	width:133px;
}
div.frame-376 {
	height:17px;
	width:136px;
}
div.frame-377 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:49px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-378 {
	min-height:24px;
}
div.frame-379 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:132px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-380 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-381 {
	width:201px;
}
div.frame-382 {
	height:17px;
	width:330px;
}
div.frame-383 {
	height:17px;
	width:337px;
}
div.frame-384 {
	height:17px;
	width:289px;
}
col.Row-Column-385 {
	width:77px;
}
col.Row-Column-386 {
	width:124px;
}
div.frame-387 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:226px;
}
img.frame-388 {
	height:21px;
	width:37px;
}
img.frame-389 {
	height:19px;
	width:30px;
}
img.frame-390 {
	height:21px;
	width:43px;
}
img.frame-391 {
	height:19px;
	width:41px;
}
img.frame-392 {
	height:21px;
	width:75px;
}
img.frame-393 {
	height:19px;
	width:35px;
}
img.frame-394 {
	height:21px;
	width:36px;
}
img.frame-395 {
	height:21px;
	width:38px;
}
img.frame-396 {
	height:19px;
	width:37px;
}
img.frame-397 {
	height:21px;
	width:45px;
}
img.frame-398 {
	height:19px;
	width:52px;
}
img.frame-399 {
	height:21px;
	width:76px;
}
img.frame-400 {
	height:19px;
	width:42px;
}
div.frame-401 {
	height:17px;
	width:264px;
}
div.frame-402 {
	height:17px;
	width:90px;
}
div.frame-403 {
	height:17px;
	width:302px;
}
div.frame-404 {
	height:17px;
	width:71px;
}
div.frame-405 {
	height:17px;
	width:68px;
}
div.frame-406 {
	height:17px;
	width:93px;
}
img.frame-407 {
	height:30px;
	width:14px;
}
img.frame-408 {
	height:28px;
	width:71px;
}
img.frame-409 {
	height:28px;
	width:27px;
}
img.frame-410 {
	height:29px;
	width:51px;
}
img.frame-411 {
	height:29px;
	width:50px;
}
img.frame-412 {
	height:29px;
	width:55px;
}
img.frame-413 {
	height:29px;
	width:57px;
}
div.frame-414 {
	height:17px;
	width:52px;
}
img.frame-415 {
	height:29px;
	width:53px;
}
img.frame-416 {
	height:29px;
	width:52px;
}
col.Row-Column-417 {
	width:165px;
}
img.frame-418 {
	height:27px;
	width:38px;
}
img.frame-419 {
	height:28px;
	width:41px;
}
img.frame-420 {
	height:29px;
	width:41px;
}
tr.Row-Column-421 {
	min-height:37px;
}
img.frame-422 {
	height:29px;
	width:37px;
}
div.frame-423 {
	height:17px;
	width:59px;
}
div.frame-424 {
	height:17px;
	width:62px;
}
img.frame-425 {
	height:28px;
	width:49px;
}
div.frame-426 {
	height:17px;
	width:61px;
}
img.frame-427 {
	height:29px;
	width:69px;
}
div.frame-428 {
	height:17px;
	width:58px;
}
img.frame-429 {
	height:29px;
	width:43px;
}
col.Row-Column-430 {
	width:54px;
}
img.frame-431 {
	height:29px;
	width:54px;
}
tr.Row-Column-432 {
	min-height:34px;
}
img.frame-433 {
	height:29px;
	width:47px;
}
img.frame-434 {
	height:28px;
	width:103px;
}
img.frame-435 {
	height:29px;
	width:108px;
}
col.Row-Column-436 {
	width:170px;
}
col.Row-Column-437 {
	width:55px;
}
col.Row-Column-438 {
	width:192px;
}
col.Row-Column-439 {
	width:47px;
}
img.frame-440 {
	height:29px;
	width:48px;
}
col.Row-Column-441 {
	width:98px;
}
img.frame-442 {
	height:20px;
	width:189px;
}
div.frame-443 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:79px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-444 {
	height:108px;
	width:207px;
}
div.frame-445 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:93px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-446 {
	height:114px;
	width:195px;
}
div.frame-447 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:50px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-448 {
	height:17px;
	width:104px;
}
img.frame-449 {
	height:17px;
	width:128px;
}
col.Row-Column-450 {
	width:184px;
}
col.Row-Column-451 {
	width:17px;
}
col.Row-Column-452 {
	width:22px;
}
div.frame-453 {
	height:17px;
	width:164px;
}
col.Row-Column-454 {
	width:224px;
}
col.Row-Column-455 {
	width:70px;
}
col.Row-Column-456, img.Row-Column-456 {
	width:223px;
}
div.frame-457 {
	height:17px;
	width:130px;
}
div.frame-458 {
	height:17px;
	width:212px;
}
col.Row-Column-459 {
	width:72px;
}
col.Row-Column-460 {
	width:73px;
}
col.Row-Column-461 {
	width:14px;
}
tr.Row-Column-462 {
	min-height:64px;
}
img.frame-463 {
	height:59px;
	width:10px;
}
img.frame-464 {
	height:30px;
	width:12px;
}
img.frame-465 {
	height:30px;
	width:18px;
}
img.frame-466 {
	height:33px;
	width:28px;
}
img.frame-467 {
	height:35px;
	width:11px;
}
img.frame-468 {
	height:35px;
	width:22px;
}
img.frame-469 {
	height:35px;
	width:13px;
}
img.frame-470 {
	height:83px;
	width:218px;
}
img.frame-471 {
	height:1px;
	width:1px;
}
col.Row-Column-472 {
	width:16px;
}
col.Row-Column-473 {
	width:75px;
}
img.frame-474 {
	height:22px;
	width:14px;
}
img.frame-475 {
	height:11px;
	width:7px;
}
col.Row-Column-476 {
	width:148px;
}
col.Row-Column-477 {
	width:169px;
}
img.frame-478 {
	height:22px;
	width:8px;
}
img.frame-479 {
	height:22px;
	width:13px;
}
img.frame-480 {
	height:19px;
	width:31px;
}
div.frame-481 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:19px;
	width:31px;
}
div.frame-482 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:19px;
	width:44px;
}
img.frame-483 {
	height:33px;
	width:140px;
}
img.frame-484 {
	height:31px;
	width:54px;
}
img.frame-485 {
	height:27px;
	width:36px;
}
img.frame-486 {
	height:31px;
	width:53px;
}
img.frame-487 {
	height:29px;
	width:42px;
}
img.frame-488 {
	height:30px;
	width:21px;
}
img.frame-489 {
	height:27px;
	width:27px;
}
img.frame-490 {
	height:27px;
	width:40px;
}
img.frame-491 {
	height:28px;
	width:24px;
}
img.frame-492 {
	height:27px;
	width:34px;
}
img.frame-493 {
	height:28px;
	width:31px;
}
img.frame-494 {
	height:30px;
	width:16px;
}
img.frame-495 {
	height:29px;
	width:11px;
}
img.frame-496 {
	height:30px;
	width:48px;
}
img.frame-497 {
	height:131px;
	width:113px;
}
col.Row-Column-498 {
	width:176px;
}
img.frame-499 {
	height:100px;
	width:267px;
}
img.frame-500 {
	height:100px;
	width:301px;
}
img.frame-501 {
	height:300px;
	width:299px;
}
img.frame-502 {
	height:87px;
	width:162px;
}
img.frame-503 {
	height:27px;
	width:69px;
}
img.frame-504 {
	height:29px;
	width:88px;
}
col.Row-Column-505 {
	width:80px;
}
col.Row-Column-506 {
	width:69px;
}
img.frame-507 {
	height:31px;
	width:49px;
}
img.frame-508 {
	height:27px;
	width:26px;
}
img.frame-509 {
	height:149px;
	width:338px;
}
col.Row-Column-510 {
	width:28px;
}
