body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.x--Body-box-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Body-indent-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:159px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Body-opener {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-Text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Pagebreak {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	break-before:page;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-text-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:156px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.x--Body-text-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.x--Body-textnumbers {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:23px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-23px;
}
p.x--caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.176;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-investigation-2-line {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.267;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Heading-Chapter {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:23px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Title-chapter-name {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std ExtraBlack", sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:950;
	line-height:1.111;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Title-Chapter-Number {
	-epub-ruby-position:over;
	color:#642d10;
	font-family:"Tekton Pro Ext", serif;
	font-size:36px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:11px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.footer-right {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Normal {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-20px;
}
p.T-6point {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.PH {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.071;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body--above {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box-heading {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#642d10;
	font-family:"News Gothic Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.167;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-story {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:28px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-extension {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.364;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line-below--a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:9px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-investigation-hanging--1-3- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:162px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-investigation-hanging-a- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-story-right-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:156px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-extension--no-rule- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.364;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T6point {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Answer-text-dotted-line--a--last-line {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:28px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answertext {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:28px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
span.x--Opener-bold-text {
	font-style:normal;
	font-weight:bold;
}
span.chapter-no {
	color:#642d10;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.Body-bold {
	font-style:normal;
	font-weight:normal;
}
td.cell-style-override-1 {
	background-color:#642d10;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-2 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-4 {
	background-color:#c3a998;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-5 {
	background-color:#642d10;
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
p.para-style-override-1 {
	margin-left:14px;
}
p.para-style-override-2 {
	margin-right:298px;
}
p.para-style-override-3 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-4, li.para-style-override-4 {
	margin-left:31px;
}
p.para-style-override-5 {
	text-align:center;
}
p.para-style-override-6 {
	margin-bottom:0px;
}
li.para-style-override-7 {
	margin-right:156px;
}
p.para-style-override-8 {
	margin-bottom:6px;
}
p.para-style-override-9 {
	margin-bottom:3px;
}
p.para-style-override-10 {
	margin-right:227px;
}
p.para-style-override-11, li.para-style-override-11 {
	margin-bottom:11px;
}
p.para-style-override-12 {
	margin-bottom:31px;
}
p.para-style-override-13 {
	margin-right:252px;
}
p.para-style-override-14 {
	margin-right:244px;
}
p.para-style-override-15 {
	margin-bottom:26px;
}
p.para-style-override-16 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-17 {
	break-after:page;
}
p.para-style-override-18 {
	margin-bottom:20px;
}
p.para-style-override-19 {
	break-after:page;
	margin-bottom:26px;
}
p.para-style-override-20 {
	margin-right:74px;
}
p.para-style-override-21 {
	margin-left:34px;
}
p.para-style-override-22 {
	margin-bottom:9px;
	text-align:center;
}
p.para-style-override-23 {
	margin-bottom:9px;
}
p.para-style-override-24 {
	margin-bottom:9px;
	margin-left:91px;
}
p.para-style-override-25 {
	margin-bottom:0px;
	margin-left:164px;
}
p.para-style-override-26 {
	font-family:"Tekton Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-27 {
	font-family:"Tekton Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-28 {
	margin-left:37px;
}
p.para-style-override-29 {
	margin-left:91px;
}
p.para-style-override-30 {
	margin-bottom:23px;
}
li.para-style-override-31 {
	margin-left:31px;
	margin-right:162px;
}
li.para-style-override-32 {
	margin-bottom:11px;
	margin-left:31px;
	margin-right:162px;
}
li.para-style-override-33 {
	margin-left:31px;
	margin-right:207px;
}
li.para-style-override-34 {
	margin-bottom:11px;
	margin-left:31px;
	margin-right:207px;
}
li.para-style-override-35 {
	margin-left:31px;
	margin-right:179px;
}
li.para-style-override-36 {
	margin-bottom:11px;
	margin-left:31px;
}
p.para-style-override-37 {
	margin-left:20px;
}
p.para-style-override-38 {
	margin-right:164px;
}
p.para-style-override-39 {
	margin-left:94px;
}
p.para-style-override-40 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	margin-left:102px;
}
p.para-style-override-41 {
	margin-right:198px;
}
p.para-style-override-42 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	margin-bottom:11px;
}
p.para-style-override-43 {
	font-size:12px;
}
p.para-style-override-44 {
	margin-left:125px;
}
p.para-style-override-45 {
	margin-bottom:17px;
}
p.para-style-override-46 {
	margin-bottom:14px;
}
p.para-style-override-47 {
	margin-bottom:9px;
	margin-left:3px;
}
p.para-style-override-48 {
	font-family:"Optima LT Std", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-49 {
	margin-bottom:9px;
	margin-left:31px;
}
p.para-style-override-50 {
	margin-bottom:0px;
	margin-right:281px;
}
p.para-style-override-51 {
	margin-bottom:14px;
	margin-left:159px;
}
p.para-style-override-52 {
	font-family:"Optima LT Std", sans-serif;
	font-style:normal;
	font-weight:bold;
	margin-bottom:0px;
}
p.para-style-override-53 {
	margin-right:332px;
}
p.para-style-override-54 {
	margin-bottom:9px;
	margin-left:164px;
}
p.para-style-override-55 {
	margin-bottom:20px;
	margin-right:266px;
}
p.para-style-override-56 {
	margin-bottom:9px;
	margin-left:258px;
}
p.para-style-override-57 {
	margin-right:232px;
}
p.para-style-override-58 {
	margin-bottom:79px;
}
p.para-style-override-59 {
	margin-bottom:6px;
	margin-left:136px;
}
p.para-style-override-60 {
	margin-right:258px;
}
p.para-style-override-61 {
	color:#231f20;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-62 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-63 {
	font-family:"Tekton Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
	margin-bottom:6px;
}
p.para-style-override-64 {
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-65 {
	margin-left:60px;
}
p.para-style-override-66 {
	margin-bottom:0px;
	margin-left:43px;
}
p.para-style-override-67 {
	margin-left:17px;
}
p.para-style-override-68 {
	margin-bottom:11px;
	margin-left:37px;
}
p.para-style-override-69 {
	margin-bottom:11px;
	margin-left:14px;
}
p.para-style-override-70 {
	margin-bottom:11px;
	margin-left:43px;
}
p.para-style-override-71 {
	margin-bottom:11px;
	margin-left:26px;
}
p.para-style-override-72 {
	margin-bottom:6px;
	margin-left:34px;
}
p.para-style-override-73 {
	margin-bottom:6px;
	margin-left:9px;
}
p.para-style-override-74 {
	margin-left:133px;
}
p.para-style-override-75 {
	margin-right:193px;
}
p.para-style-override-76 {
	margin-right:241px;
}
p.para-style-override-77 {
	margin-right:272px;
}
p.para-style-override-78 {
	margin-right:210px;
}
p.para-style-override-79 {
	margin-left:0px;
}
p.para-style-override-80 {
	margin-left:77px;
}
p.para-style-override-81 {
	margin-left:54px;
}
p.para-style-override-82 {
	margin-bottom:0px;
	margin-left:142px;
}
p.para-style-override-83 {
	margin-left:51px;
}
p.para-style-override-84 {
	margin-bottom:6px;
	margin-left:28px;
}
p.para-style-override-85 {
	margin-left:43px;
}
p.para-style-override-86 {
	margin-left:119px;
}
p.para-style-override-87 {
	margin-left:105px;
}
p.para-style-override-88 {
	margin-bottom:14px;
	margin-left:133px;
}
p.para-style-override-89 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-90 {
	margin-left:116px;
}
p.para-style-override-91 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-92 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-93 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-94 {
	margin-left:122px;
}
p.para-style-override-95 {
	margin-left:79px;
}
p.para-style-override-96 {
	font-size:10px;
	margin-bottom:5px;
}
p.para-style-override-97 {
	margin-bottom:3px;
	margin-left:82px;
}
p.para-style-override-98 {
	margin-left:85px;
}
p.para-style-override-99 {
	margin-bottom:14px;
	margin-left:142px;
}
p.para-style-override-100 {
	margin-right:170px;
}
p.para-style-override-101 {
	margin-right:218px;
}
p.para-style-override-102 {
	margin-left:136px;
}
p.para-style-override-103 {
	margin-left:45px;
}
p.para-style-override-104 {
	margin-left:0px;
	text-indent:0px;
}
p.para-style-override-105 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-106 {
	margin-left:91px;
	text-indent:0px;
}
p.para-style-override-107 {
	margin-left:65px;
}
p.para-style-override-108 {
	margin-left:96px;
}
p.para-style-override-109 {
	margin-bottom:0px;
	margin-left:14px;
}
p.para-style-override-110 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-111 {
	text-align:right;
}
p.para-style-override-112 {
	break-after:column;
}
p.para-style-override-113 {
	margin-left:28px;
}
p.para-style-override-114 {
	text-indent:0px;
}
p.para-style-override-115 {
	margin-bottom:0px;
	margin-left:34px;
}
p.para-style-override-116 {
	margin-bottom:0px;
	margin-left:79px;
}
p.para-style-override-117 {
	margin-bottom:0px;
	margin-left:26px;
}
p.para-style-override-118 {
	margin-left:23px;
}
p.para-style-override-119 {
	margin-bottom:6px;
	margin-left:17px;
}
p.para-style-override-120 {
	margin-bottom:17px;
	margin-left:11px;
}
p.para-style-override-121 {
	margin-left:11px;
}
p.para-style-override-122 {
	margin-right:261px;
}
p.para-style-override-123 {
	margin-bottom:9px;
	text-align:right;
}
p.para-style-override-124 {
	margin-left:108px;
}
p.para-style-override-125 {
	break-after:page;
	text-align:right;
}
p.para-style-override-126 {
	color:#642d10;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
p.para-style-override-127 {
	color:#642d10;
	font-style:normal;
	font-weight:normal;
	text-align:left;
}
p.para-style-override-128 {
	color:#642d10;
	text-align:left;
}
p.para-style-override-129 {
	-epub-hyphens:none;
	font-size:10px;
	margin-bottom:2px;
}
p.para-style-override-130 {
	font-style:normal;
	font-weight:normal;
	text-align:left;
}
p.para-style-override-131 {
	text-align:left;
}
span.char-style-override-1 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-4 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-5 {
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-6 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-7 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:"Optima LT Std", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-9 {
	font-family:"Optima LT Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-11 {
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-12 {
	font-family:"News Gothic Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-13 {
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-14 {
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-15 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-16 {
	font-style:oblique;
	font-weight:normal;
}
span.char-style-override-17 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.char-style-override-18 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:850;
}
span.char-style-override-19 {
	font-size:12px;
}
span.char-style-override-20 {
	text-decoration:underline;
}
span.char-style-override-21 {
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-22 {
	font-variant:small-caps;
}
span.char-style-override-23 {
	font-variant:normal;
}
img.frame-1 {
	height:386px;
	width:458px;
}
img.frame-2 {
	height:403px;
	width:1059px;
}
div.frame-3 {
	margin:0px auto 0px 0px;
	text-align:left;
}
img.frame-4 {
	height:285px;
	width:1060px;
}
img.frame-5 {
	height:299px;
	width:272px;
}
img.frame-6 {
	height:187px;
	width:415px;
}
img.frame-7 {
	height:233px;
	width:449px;
}
div.frame-8 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:82px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-9 {
	height:265px;
	width:469px;
}
img.frame-10 {
	height:226px;
	width:292px;
}
img.frame-11 {
	height:189px;
	width:273px;
}
img.frame-12 {
	height:210px;
	width:352px;
}
img.frame-13 {
	height:278px;
	width:262px;
}
img.frame-14 {
	height:5px;
	width:467px;
}
div.frame-15 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:180px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-16 {
	width:5px;
}
col.Row-Column-17 {
	width:302px;
}
tr.Row-Column-18 {
	min-height:160px;
}
div.frame-19 {
	background-color:#e6dbd4;
	height:109px;
	padding:6px 6px 6px 6px;
	width:467px;
}
tr.Row-Column-20 {
	min-height:127px;
}
img.frame-21 {
	height:294px;
	width:345px;
}
div.frame-22 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:108px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-23 {
	height:138px;
	width:205px;
}
div.frame-24 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:93px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-25 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:81px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-26 {
	height:126px;
	width:229px;
}
col.Row-Column-27 {
	width:467px;
}
tr.Row-Column-28 {
	min-height:314px;
}
img.frame-29 {
	height:310px;
	width:466px;
}
img.frame-30 {
	height:651px;
	width:467px;
}
div.frame-31 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:251px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-32 {
	min-height:226px;
}
div.frame-33 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:119px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-34 {
	width:465px;
}
tr.Row-Column-35 {
	min-height:348px;
}
div.frame-36 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:120px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-37 {
	height:128px;
	width:122px;
}
img.frame-38 {
	height:30px;
	width:4px;
}
img.frame-39 {
	height:175px;
	width:399px;
}
div.frame-40 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:140px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-41 {
	height:398px;
	width:311px;
}
img.frame-42 {
	height:227px;
	width:140px;
}
col.Row-Column-43 {
	width:400px;
}
tr.Row-Column-44 {
	min-height:57px;
}
col.Row-Column-45 {
	width:373px;
}
tr.Row-Column-46 {
	min-height:87px;
}
img.frame-47 {
	height:70px;
	width:335px;
}
img.frame-48 {
	height:4px;
	width:15px;
}
img.frame-49 {
	height:15px;
	width:4px;
}
div.frame-50 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:194px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-51 {
	height:66px;
	width:286px;
}
img.frame-52 {
	height:139px;
	width:157px;
}
img.frame-53 {
	height:153px;
	width:156px;
}
tr.Row-Column-54 {
	min-height:55px;
}
img.frame-55 {
	height:106px;
	width:146px;
}
col.Row-Column-56 {
	width:305px;
}
tr.Row-Column-57 {
	min-height:329px;
}
img.frame-58 {
	height:136px;
	width:201px;
}
tr.Row-Column-59 {
	min-height:417px;
}
img.frame-60 {
	height:147px;
	width:162px;
}
tr.Row-Column-61 {
	min-height:412px;
}
img.frame-62 {
	height:335px;
	width:462px;
}
img.frame-63 {
	height:606px;
	width:431px;
}
img.frame-64 {
	height:22px;
	width:18px;
}
img.frame-65 {
	height:217px;
	width:462px;
}
img.frame-66 {
	height:166px;
	width:169px;
}
img.frame-67 {
	height:373px;
	width:286px;
}
img.frame-68 {
	height:528px;
	width:335px;
}
img.frame-69 {
	height:337px;
	width:466px;
}
img.frame-70 {
	height:211px;
	width:162px;
}
img.frame-71 {
	height:174px;
	width:468px;
}
tr.Row-Column-72 {
	min-height:70px;
}
tr.Row-Column-73 {
	min-height:600px;
}
img.frame-74 {
	height:294px;
	width:254px;
}
div.frame-75 {
	background-color:#e6dbd4;
	height:51px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-76 {
	height:664px;
	width:471px;
}
img.frame-77 {
	height:413px;
	width:456px;
}
img.frame-78 {
	height:0px;
	width:4px;
}
img.frame-79 {
	height:240px;
	width:4px;
}
img.frame-80 {
	height:3px;
	width:3px;
}
img.frame-81 {
	height:59px;
	width:59px;
}
img.frame-82 {
	height:4px;
	width:171px;
}
img.frame-83 {
	height:4px;
	width:0px;
}
img.frame-84 {
	height:655px;
	width:456px;
}
col.Row-Column-85 {
	width:190px;
}
tr.Row-Column-86 {
	min-height:205px;
}
img.frame-87 {
	height:242px;
	width:407px;
}
img.frame-88 {
	height:329px;
	width:332px;
}
tr.Row-Column-89 {
	min-height:598px;
}
img.frame-90 {
	height:176px;
	width:301px;
}
img.frame-91 {
	height:264px;
	width:445px;
}
img.frame-92 {
	height:129px;
	width:227px;
}
tr.Row-Column-93 {
	min-height:426px;
}
img.frame-94 {
	height:124px;
	width:239px;
}
tr.Row-Column-95 {
	min-height:239px;
}
img.frame-96 {
	height:237px;
	width:467px;
}
img.frame-97 {
	height:166px;
	width:223px;
}
img.frame-98 {
	height:144px;
	width:252px;
}
img.frame-99 {
	height:167px;
	width:202px;
}
tr.Row-Column-100 {
	min-height:38px;
}
img.frame-101 {
	height:138px;
	width:467px;
}
img.frame-102 {
	height:108px;
	width:466px;
}
div.frame-103 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:76px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-104 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:149px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-105 {
	min-height:113px;
}
img.frame-106 {
	height:82px;
	width:206px;
}
img.frame-107 {
	height:79px;
	width:230px;
}
div.frame-108 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:79px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-109 {
	min-height:102px;
}
img.frame-110 {
	height:167px;
	width:293px;
}
div.frame-111 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:212px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-112 {
	height:101px;
	width:307px;
}
img.frame-113 {
	height:94px;
	width:304px;
}
img.frame-114 {
	height:136px;
	width:314px;
}
img.frame-115 {
	height:118px;
	width:242px;
}
img.frame-116 {
	height:279px;
	width:350px;
}
img.frame-117 {
	height:494px;
	width:384px;
}
div.frame-118 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-119 {
	width:121px;
}
col.Row-Column-120 {
	width:327px;
}
tr.Row-Column-121 {
	min-height:20px;
}
tr.Row-Column-122 {
	min-height:99px;
}
div.frame-123 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:124px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-124 {
	height:114px;
	width:291px;
}
img.frame-125 {
	height:154px;
	width:151px;
}
div.frame-126 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:54px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-127 {
	height:262px;
	width:399px;
}
img.frame-128 {
	height:210px;
	width:221px;
}
img.frame-129 {
	height:165px;
	width:210px;
}
img.frame-130 {
	height:114px;
	width:445px;
}
img.frame-131 {
	height:101px;
	width:393px;
}
img.frame-132 {
	height:25px;
	width:66px;
}
img.frame-133 {
	height:61px;
	width:388px;
}
img.frame-134 {
	height:12px;
	width:13px;
}
img.frame-135 {
	height:97px;
	width:404px;
}
img.frame-136 {
	height:44px;
	width:79px;
}
img.frame-137 {
	height:48px;
	width:415px;
}
img.frame-138 {
	height:145px;
	width:436px;
}
img.frame-139 {
	height:94px;
	width:332px;
}
img.frame-140 {
	height:133px;
	width:435px;
}
img.frame-141 {
	height:127px;
	width:403px;
}
tr.Row-Column-142 {
	min-height:19px;
}
div.frame-143 {
	background-color:#e6dbd4;
	height:96px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-144 {
	height:83px;
	width:450px;
}
div.frame-145 {
	background-color:#e6dbd4;
	height:110px;
	padding:6px 6px 6px 6px;
	width:467px;
}
div.frame-146 {
	background-color:#e6dbd4;
	height:108px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-147 {
	height:106px;
	width:198px;
}
img.frame-148 {
	height:215px;
	width:163px;
}
img.frame-149 {
	height:70px;
	width:218px;
}
img.frame-150 {
	height:186px;
	width:270px;
}
img.frame-151 {
	height:113px;
	width:206px;
}
tr.Row-Column-152 {
	min-height:85px;
}
img.frame-153 {
	height:181px;
	width:311px;
}
img.frame-154 {
	height:147px;
	width:351px;
}
img.frame-155 {
	height:145px;
	width:172px;
}
img.frame-156 {
	height:142px;
	width:145px;
}
img.frame-157 {
	height:151px;
	width:174px;
}
img.frame-158 {
	height:133px;
	width:145px;
}
img.frame-159 {
	height:97px;
	width:248px;
}
img.frame-160 {
	height:203px;
	width:156px;
}
img.frame-161 {
	height:146px;
	width:306px;
}
img.frame-162 {
	height:160px;
	width:343px;
}
img.frame-163 {
	height:145px;
	width:165px;
}
img.frame-164 {
	height:182px;
	width:333px;
}
img.frame-165 {
	height:8px;
	width:19px;
}
col.Row-Column-166 {
	width:4px;
}
img.frame-167 {
	height:93px;
	width:170px;
}
div.frame-168 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-169 {
	height:124px;
	width:161px;
}
img.frame-170 {
	height:114px;
	width:165px;
}
tr.Row-Column-171 {
	min-height:551px;
}
img.frame-172 {
	height:314px;
	width:284px;
}
img.frame-173 {
	height:170px;
	width:283px;
}
img.frame-174 {
	height:138px;
	width:264px;
}
tr.Row-Column-175 {
	min-height:53px;
}
img.frame-176 {
	height:146px;
	width:231px;
}
img.frame-177 {
	height:149px;
	width:193px;
}
img.frame-178 {
	height:144px;
	width:262px;
}
img.frame-179 {
	height:328px;
	width:322px;
}
img.frame-180 {
	height:22px;
	width:34px;
}
div.frame-181 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:65px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-182 {
	height:184px;
	width:299px;
}
img.frame-183 {
	height:151px;
	width:227px;
}
img.frame-184 {
	height:64px;
	width:169px;
}
img.frame-185 {
	height:313px;
	width:439px;
}
img.frame-186 {
	height:652px;
	width:466px;
}
img.frame-187 {
	height:100px;
	width:473px;
}
img.frame-188 {
	height:95px;
	width:193px;
}
img.frame-189 {
	height:283px;
	width:476px;
}
img.frame-190 {
	height:201px;
	width:196px;
}
col.Row-Column-191 {
	width:234px;
}
tr.Row-Column-192 {
	min-height:101px;
}
div.frame-193 {
	height:103px;
	width:236px;
}
img.frame-194 {
	height:313px;
	width:411px;
}
img.frame-195 {
	height:97px;
	width:465px;
}
img.frame-196 {
	height:121px;
	width:192px;
}
img.frame-197 {
	height:117px;
	width:214px;
}
img.frame-198 {
	height:140px;
	width:387px;
}
img.frame-199 {
	height:82px;
	width:261px;
}
img.frame-200 {
	height:82px;
	width:298px;
}
img.frame-201 {
	height:82px;
	width:276px;
}
img.frame-202 {
	height:146px;
	width:341px;
}
img.frame-203 {
	height:112px;
	width:191px;
}
div.frame-204 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:104px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-205 {
	height:151px;
	width:283px;
}
div.frame-206 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:75px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-207 {
	height:130px;
	width:421px;
}
img.frame-208 {
	height:103px;
	width:453px;
}
div.frame-209 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:89px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-210 {
	height:89px;
	width:175px;
}
img.frame-211 {
	height:91px;
	width:197px;
}
img.frame-212 {
	height:45px;
	width:388px;
}
img.frame-213 {
	height:44px;
	width:328px;
}
img.frame-214 {
	height:41px;
	width:335px;
}
div.frame-215 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:55px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-216 {
	height:201px;
	width:97px;
}
img.frame-217 {
	height:184px;
	width:144px;
}
img.frame-218 {
	height:120px;
	width:333px;
}
tr.Row-Column-219 {
	min-height:11px;
}
img.frame-220 {
	height:110px;
	width:427px;
}
img.frame-221 {
	height:115px;
	width:466px;
}
img.frame-222 {
	height:98px;
	width:388px;
}
img.frame-223 {
	height:64px;
	width:323px;
}
div.frame-224 {
	background-color:#e6dbd4;
	height:134px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-225 {
	height:73px;
	width:422px;
}
img.frame-226 {
	height:110px;
	width:328px;
}
div.frame-227 {
	background-color:#e6dbd4;
	height:438px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-228 {
	height:109px;
	width:409px;
}
img.frame-229 {
	height:108px;
	width:412px;
}
img.frame-230 {
	height:113px;
	width:412px;
}
img.frame-231 {
	height:113px;
	width:419px;
}
img.frame-232 {
	height:118px;
	width:433px;
}
tr.Row-Column-233 {
	min-height:98px;
}
img.frame-234 {
	height:125px;
	width:448px;
}
img.frame-235 {
	height:369px;
	width:232px;
}
div.frame-236 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:121px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-237 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:77px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-238 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-239 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:125px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-240 {
	height:127px;
	width:338px;
}
img.frame-241 {
	height:115px;
	width:327px;
}
img.frame-242 {
	height:201px;
	width:275px;
}
img.frame-243 {
	height:151px;
	width:253px;
}
img.frame-244 {
	height:22px;
	width:20px;
}
img.frame-245 {
	height:17px;
	width:19px;
}
img.frame-246 {
	height:170px;
	width:321px;
}
img.frame-247 {
	height:31px;
	width:24px;
}
img.frame-248 {
	height:4px;
	width:46px;
}
img.frame-249 {
	height:209px;
	width:346px;
}
img.frame-250 {
	height:4px;
	width:25px;
}
img.frame-251 {
	height:14px;
	width:4px;
}
img.frame-252 {
	height:4px;
	width:14px;
}
img.frame-253 {
	height:504px;
	width:266px;
}
img.frame-254 {
	height:4px;
	width:141px;
}
img.frame-255 {
	height:4px;
	width:76px;
}
tr.Row-Column-256 {
	min-height:449px;
}
img.frame-257 {
	height:224px;
	width:467px;
}
div.frame-258 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:96px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-259 {
	height:238px;
	width:361px;
}
col.Row-Column-260 {
	width:248px;
}
col.Row-Column-261 {
	width:58px;
}
tr.Row-Column-262 {
	min-height:35px;
}
tr.Row-Column-263 {
	min-height:21px;
}
tr.Row-Column-264 {
	min-height:51px;
}
img.frame-265 {
	height:74px;
	width:164px;
}
img.frame-266 {
	height:124px;
	width:130px;
}
col.Row-Column-267 {
	width:261px;
}
col.Row-Column-268 {
	width:52px;
}
tr.Row-Column-269 {
	height:25px;
}
tr.Row-Column-270 {
	height:21px;
}
tr.Row-Column-271 {
	height:24px;
}
tr.Row-Column-272 {
	height:39px;
}
tr.Row-Column-273 {
	height:36px;
}
img.frame-274 {
	height:661px;
	width:462px;
}
img.frame-275 {
	height:650px;
	width:468px;
}
img.frame-276 {
	height:193px;
	width:251px;
}
img.frame-277 {
	height:148px;
	width:461px;
}
img.frame-278 {
	height:239px;
	width:457px;
}
img.frame-279 {
	height:231px;
	width:307px;
}
img.frame-280 {
	height:275px;
	width:467px;
}
img.frame-281 {
	height:36px;
	width:96px;
}
img.frame-282 {
	height:289px;
	width:322px;
}
img.frame-283 {
	height:324px;
	width:290px;
}
img.frame-284 {
	height:159px;
	width:245px;
}
