body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.x--Body-box-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Body-indent-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:159px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Body-opener {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-opener--1-3- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:159px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-Text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-text-1-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:156px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.x--Body-text-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.x--Body-textnumbers {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:23px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-23px;
}
p.x--caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.176;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-investigation-2-line {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.267;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Heading-Chapter {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:23px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Tektron-handwriting {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Title-chapter-name {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std ExtraBlack", sans-serif;
	font-size:36px;
	font-style:normal;
	font-variant:normal;
	font-weight:950;
	line-height:1.111;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Title-Chapter-Number {
	-epub-ruby-position:over;
	color:#b07e09;
	font-family:"Tekton Pro Ext", serif;
	font-size:36px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:11px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.Body-indent-text--2-3-indent-right- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:320px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.footer-right {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Normal {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.05;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T-6point {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T-Heading-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.176;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body--above {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box-heading {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#b07e09;
	font-family:"News Gothic Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.167;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-story {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:28px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Head-extension {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Optima LT Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:750;
	line-height:1.364;
	margin-bottom:15px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Answer-text-dotted-line-below--no-indent- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.footer-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line-below--a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:9px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-investigation-hanging--1-3- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:162px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-investigation-hanging-a- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x--Body-story-right-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:156px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line--a--last-line {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:28px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T6point-for-lines {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.5;
	margin-bottom:3px;
	margin-left:34px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
span.chapter-no {
	color:#642d10;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.bold-page-no {
	font-family:Optima, sans-serif;
	font-style:normal;
	font-weight:900;
}
span.Body-bold {
	font-style:normal;
	font-weight:normal;
}
span.x--Bodyitalics {
	font-style:italic;
	font-weight:normal;
}
span.Word-Imported-List-Style3 {
	font-family:"Symbol (OTF) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
table.table-style-override-1 {
	border-width:0.5px;
}
table.table-style-override-2 {
	border-style:none;
	border-width:0px;
}
td.cell-style-override-1 {
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-2 {
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-4 {
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-5 {
	background-color:#b07e09;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-6 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-7 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-8 {
	padding-bottom:9px;
	padding-left:9px;
	padding-right:9px;
	padding-top:9px;
}
p.para-style-override-1 {
	margin-bottom:0px;
}
p.para-style-override-2 {
	margin-right:266px;
}
p.para-style-override-3 {
	margin-left:71px;
}
p.para-style-override-4 {
	margin-right:224px;
}
p.para-style-override-5 {
	text-align:center;
}
p.para-style-override-6 {
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-7 {
	break-after:page;
}
p.para-style-override-8 {
	margin-bottom:6px;
}
p.para-style-override-9 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:850;
}
p.para-style-override-10 {
	margin-bottom:23px;
}
p.para-style-override-11 {
	margin-bottom:3px;
}
p.para-style-override-12 {
	margin-bottom:11px;
}
p.para-style-override-13 {
	margin-bottom:20px;
}
p.para-style-override-14 {
	margin-bottom:28px;
}
p.para-style-override-15 {
	break-after:page;
	margin-left:71px;
}
p.para-style-override-16 {
	margin-bottom:4px;
}
p.para-style-override-17 {
	margin-right:193px;
}
p.para-style-override-18 {
	margin-right:230px;
}
p.para-style-override-19 {
	margin-bottom:26px;
}
p.para-style-override-20 {
	margin-bottom:20px;
	margin-right:244px;
}
p.para-style-override-21 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-22 {
	margin-left:17px;
}
p.para-style-override-23 {
	font-family:"Comic Sans MS", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-24 {
	font-family:"Comic Sans MS", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-25 {
	margin-bottom:0px;
	text-align:center;
}
p.para-style-override-26 {
	margin-bottom:23px;
	text-align:center;
}
p.para-style-override-27 {
	font-family:"Comic Sans MS", sans-serif;
	font-style:normal;
	font-weight:normal;
	margin-bottom:23px;
	text-align:center;
}
p.para-style-override-28 {
	font-style:normal;
	font-weight:normal;
	margin-bottom:0px;
}
p.para-style-override-29 {
	margin-bottom:14px;
}
p.para-style-override-30 {
	margin-right:210px;
}
p.para-style-override-31 {
	color:#d7b67a;
}
p.para-style-override-32 {
	font-size:11px;
	margin-bottom:11px;
}
p.para-style-override-33 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-34 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-35 {
	break-after:page;
	text-align:right;
}
p.para-style-override-36 {
	margin-left:9px;
}
p.para-style-override-37 {
	margin-right:176px;
}
p.para-style-override-38 {
	margin-right:164px;
}
p.para-style-override-39 {
	margin-left:179px;
}
p.para-style-override-40 {
	margin-left:105px;
}
p.para-style-override-41 {
	text-indent:11px;
}
p.para-style-override-42 {
	margin-right:0px;
	text-indent:9px;
}
p.para-style-override-43 {
	text-indent:9px;
}
p.para-style-override-44 {
	font-size:7px;
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-45 {
	font-size:7px;
	margin-bottom:3px;
	text-align:center;
	text-transform:uppercase;
}
p.para-style-override-46 {
	margin-right:170px;
}
p.para-style-override-47 {
	break-after:page;
	margin-right:170px;
}
p.para-style-override-48 {
	text-align:right;
}
p.para-style-override-49 {
	margin-right:244px;
}
p.para-style-override-50 {
	margin-right:215px;
}
p.para-style-override-51 {
	break-after:page;
	margin-bottom:28px;
}
p.para-style-override-52 {
	color:#ffffff;
}
p.para-style-override-53 {
	margin-left:85px;
}
p.para-style-override-54 {
	margin-right:252px;
}
p.para-style-override-55 {
	margin-left:23px;
	margin-right:14px;
}
p.para-style-override-56 {
	margin-right:238px;
}
p.para-style-override-57 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-58 {
	margin-left:82px;
}
p.para-style-override-59, li.para-style-override-59 {
	margin-left:28px;
}
p.para-style-override-60 {
	margin-right:258px;
}
p.para-style-override-61 {
	margin-left:26px;
}
p.para-style-override-62 {
	margin-left:40px;
}
p.para-style-override-63 {
	margin-bottom:17px;
}
p.para-style-override-64 {
	margin-right:241px;
}
p.para-style-override-65 {
	margin-right:40px;
}
p.para-style-override-66 {
	margin-right:54px;
}
p.para-style-override-67 {
	margin-left:54px;
}
p.para-style-override-68 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
	margin-left:37px;
}
p.para-style-override-69 {
	margin-left:34px;
}
p.para-style-override-70 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-71 {
	margin-right:162px;
}
li.para-style-override-72 {
	margin-left:36px;
	text-indent:-18px;
}
p.para-style-override-73 {
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-74 {
	color:#642d10;
	font-family:"Optima LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
p.para-style-override-75 {
	color:#b07e09;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-76 {
	color:#b07e09;
}
p.para-style-override-77 {
	color:#b07e09;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-78 {
	margin-bottom:20px;
	margin-left:20px;
}
p.para-style-override-79 {
	font-family:"News Gothic Std", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-1 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-2 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:850;
}
span.char-style-override-3 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-5 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-6 {
	font-family:"Comic Sans MS", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-8 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-9 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	color:#c89e51;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-11 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-13 {
	font-style:oblique;
	font-weight:normal;
}
span.char-style-override-14 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:18px;
}
span.char-style-override-15 {
	font-family:"Optima LT Std ExtraBlack", sans-serif;
	font-style:normal;
	font-weight:950;
}
span.char-style-override-16 {
	font-family:"Optima LT Std", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-17 {
	font-family:"Optima LT Std", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-18 {
	font-variant:small-caps;
}
span.char-style-override-19 {
	color:#b07e09;
}
span.char-style-override-20 {
	color:#b07e09;
	font-family:"Optima LT Std", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-21 {
	color:#b07e09;
	font-style:normal;
	font-weight:bold;
}
img.frame-1 {
	height:363px;
	width:323px;
}
img.frame-2 {
	height:325px;
	width:467px;
}
div.frame-3 {
	margin:0px auto 0px 0px;
	text-align:left;
}
div.frame-4 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:208px;
	padding:6px 4px 6px 4px;
	width:193px;
}
img.frame-5 {
	height:405px;
	width:471px;
}
col.Row-Column-6 {
	width:152px;
}
col.Row-Column-7 {
	width:161px;
}
tr.Row-Column-8 {
	min-height:35px;
}
tr.Row-Column-9 {
	min-height:52px;
}
tr.Row-Column-10 {
	min-height:37px;
}
tr.Row-Column-11 {
	min-height:67px;
}
col.Row-Column-12 {
	width:74px;
}
col.Row-Column-13 {
	width:236px;
}
tr.Row-Column-14 {
	min-height:20px;
}
img.frame-15 {
	height:5px;
	width:467px;
}
div.frame-16 {
	background-color:#f5ebdb;
	height:81px;
	padding:6px 6px 6px 6px;
	width:467px;
}
img.frame-17 {
	height:200px;
	width:467px;
}
img.frame-18 {
	height:287px;
	width:427px;
}
col.Row-Column-19 {
	width:392px;
}
tr.Row-Column-20 {
	min-height:29px;
}
tr.Row-Column-21 {
	min-height:30px;
}
tr.Row-Column-22 {
	min-height:31px;
}
tr.Row-Column-23 {
	min-height:32px;
}
tr.Row-Column-24 {
	min-height:33px;
}
tr.Row-Column-25 {
	min-height:34px;
}
img.frame-26 {
	height:235px;
	width:467px;
}
img.frame-27 {
	height:350px;
	width:469px;
}
img.frame-28 {
	height:593px;
	width:467px;
}
img.frame-29 {
	height:233px;
	width:221px;
}
img.frame-30 {
	height:521px;
	width:466px;
}
div.frame-31 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:102px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-32 {
	height:540px;
	width:467px;
}
div.frame-33 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:97px;
	padding:6px 4px 6px 4px;
	width:307px;
}
img.frame-34 {
	height:147px;
	width:83px;
}
img.frame-35 {
	height:119px;
	width:174px;
}
img.frame-36 {
	height:306px;
	width:445px;
}
div.frame-37 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:126px;
	padding:6px 4px 6px 4px;
	width:219px;
}
col.Row-Column-38 {
	width:4px;
}
col.Row-Column-39 {
	width:302px;
}
tr.Row-Column-40 {
	min-height:172px;
}
img.frame-41 {
	height:163px;
	width:315px;
}
img.frame-42 {
	height:24px;
	width:4px;
}
img.frame-43 {
	height:25px;
	width:85px;
}
img.frame-44 {
	height:48px;
	width:64px;
}
img.frame-45 {
	height:35px;
	width:8px;
}
img.frame-46 {
	height:233px;
	width:467px;
}
tr.Row-Column-47 {
	min-height:179px;
}
col.Row-Column-48 {
	width:157px;
}
img.frame-49 {
	height:85px;
	width:126px;
}
img.frame-50 {
	height:99px;
	width:145px;
}
img.frame-51 {
	height:118px;
	width:120px;
}
tr.Row-Column-52 {
	min-height:207px;
}
img.frame-53 {
	height:190px;
	width:145px;
}
img.frame-54 {
	height:108px;
	width:144px;
}
img.frame-55 {
	height:160px;
	width:414px;
}
img.frame-56 {
	height:298px;
	width:206px;
}
div.frame-57 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:120px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-58 {
	height:73px;
	width:182px;
}
img.frame-59 {
	height:121px;
	width:181px;
}
div.frame-60 {
	background-color:#f5ebdb;
	height:82px;
	padding:6px 6px 6px 6px;
	width:307px;
}
img.frame-61 {
	height:75px;
	width:124px;
}
col.Row-Column-62 {
	width:466px;
}
tr.Row-Column-63 {
	min-height:405px;
}
tr.Row-Column-64 {
	min-height:282px;
}
img.frame-65 {
	height:209px;
	width:384px;
}
div.frame-66 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:36px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-67 {
	height:250px;
	width:467px;
}
img.frame-68 {
	height:279px;
	width:467px;
}
img.frame-69 {
	height:281px;
	width:468px;
}
img.frame-70 {
	height:263px;
	width:449px;
}
img.frame-71 {
	height:138px;
	width:169px;
}
div.frame-72 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:108px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-73 {
	height:386px;
	width:464px;
}
img.frame-74 {
	height:244px;
	width:272px;
}
div.frame-75 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:131px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-76 {
	height:617px;
	width:467px;
}
img.frame-77 {
	height:149px;
	width:189px;
}
img.frame-78 {
	height:182px;
	width:161px;
}
img.frame-79 {
	height:155px;
	width:203px;
}
img.frame-80 {
	height:145px;
	width:467px;
}
img.frame-81 {
	height:314px;
	width:190px;
}
div.frame-82 {
	background-color:#f5ebdb;
	height:251px;
	padding:6px 6px 6px 6px;
	width:307px;
}
div.frame-83 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:167px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-84 {
	height:339px;
	width:308px;
}
img.frame-85 {
	height:56px;
	width:35px;
}
img.frame-86 {
	height:75px;
	width:27px;
}
img.frame-87 {
	height:24px;
	width:46px;
}
div.frame-88 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:82px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-89 {
	height:153px;
	width:301px;
}
img.frame-90 {
	height:191px;
	width:236px;
}
img.frame-91 {
	height:464px;
	width:464px;
}
img.frame-92 {
	height:221px;
	width:467px;
}
img.frame-93 {
	height:116px;
	width:469px;
}
div.frame-94 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:65px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-95 {
	height:233px;
	width:424px;
}
img.frame-96 {
	height:133px;
	width:226px;
}
img.frame-97 {
	height:109px;
	width:299px;
}
img.frame-98 {
	height:125px;
	width:411px;
}
img.frame-99 {
	height:388px;
	width:467px;
}
img.frame-100 {
	height:291px;
	width:411px;
}
img.frame-101 {
	height:108px;
	width:211px;
}
img.frame-102 {
	height:260px;
	width:402px;
}
img.frame-103 {
	height:151px;
	width:380px;
}
tr.Row-Column-104 {
	min-height:59px;
}
tr.Row-Column-105 {
	min-height:72px;
}
img.frame-106 {
	height:146px;
	width:277px;
}
tr.Row-Column-107 {
	min-height:53px;
}
img.frame-108 {
	height:208px;
	width:64px;
}
img.frame-109 {
	height:118px;
	width:200px;
}
img.frame-110 {
	height:264px;
	width:396px;
}
img.frame-111 {
	height:369px;
	width:464px;
}
img.frame-112 {
	height:502px;
	width:355px;
}
div.frame-113 {
	height:53px;
	width:454px;
}
img.frame-114 {
	height:134px;
	width:449px;
}
div.frame-115 {
	height:108px;
	width:453px;
}
div.frame-116 {
	background-color:#f5ebdb;
	height:367px;
	padding:6px 6px 6px 6px;
	width:467px;
}
col.Row-Column-117 {
	width:465px;
}
tr.Row-Column-118 {
	min-height:187px;
}
img.frame-119 {
	height:244px;
	width:144px;
}
img.frame-120 {
	height:196px;
	width:462px;
}
img.frame-121 {
	height:213px;
	width:398px;
}
col.Row-Column-122 {
	width:448px;
}
tr.Row-Column-123 {
	min-height:352px;
}
img.frame-124 {
	height:458px;
	width:467px;
}
tr.Row-Column-125 {
	min-height:247px;
}
tr.Row-Column-126 {
	min-height:378px;
}
tr.Row-Column-127 {
	min-height:319px;
}
tr.Row-Column-128 {
	min-height:285px;
}
tr.Row-Column-129 {
	min-height:348px;
}
tr.Row-Column-130 {
	min-height:499px;
}
img.frame-131 {
	height:101px;
	width:145px;
}
img.frame-132 {
	height:100px;
	width:146px;
}
img.frame-133 {
	height:147px;
	width:145px;
}
img.frame-134 {
	height:652px;
	width:468px;
}
img.frame-135 {
	height:476px;
	width:387px;
}
