body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.worksheet-text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd Medium", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent, li.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M-Bar {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Palatino Linotype Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:12px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M-Center {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:11px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-A-2-lines {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:17px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.Head-investigation--after-b-head- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--3-columns {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-bullet--indented- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.M9 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.783;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.ques-a--2-space-below--2-column- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Table-text-numbers {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Normal {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.05;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Investigation-last-line-answers {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:18px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.MQ {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.091;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--2-column {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.M-body-investigation-hanging {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:3px;
	margin-left:40px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-40px;
}
p.Opener-table-text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.938;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M-body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:12px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
span.Word-Imported-List-Style3 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.M-Body-text-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
span.M-Body-no-indent-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Table-head-italic {
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-style:italic;
	font-weight:600;
}
table.table-style-override-1 {
	border-width:0.5px;
}
table.table-style-override-2 {
	border-style:none;
	border-width:0px;
}
table.table-style-override-3 {
	border-color:#984806;
	border-width:2.25px;
}
table.table-style-override-4 {
	border-style:dashed;
	border-width:0.5px;
}
td.cell-style-override-1 {
	background-color:#f5bc3b;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-2 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-4 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-5 {
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	padding-top:4px;
}
td.cell-style-override-6 {
	padding-bottom:0px;
	padding-right:0px;
}
td.cell-style-override-7 {
	padding-bottom:0px;
	padding-left:14px;
	padding-right:0px;
	padding-top:4px;
}
td.cell-style-override-8 {
	padding-bottom:0px;
	padding-right:0px;
	padding-top:4px;
}
td.cell-style-override-9 {
	padding-left:14px;
}
td.cell-style-override-10 {
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-11 {
	padding-left:0px;
}
td.cell-style-override-12 {
	background-color:#fbe1ae;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-13 {
	background-color:#d1d3d4;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-14 {
	padding-bottom:4px;
	padding-left:20px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-15 {
	background-color:#fef5e7;
}
td.cell-style-override-16 {
	background-color:#ffffff;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-17 {
	padding-bottom:4px;
	padding-left:11px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-18 {
	padding-bottom:4px;
	padding-left:0px;
	padding-right:4px;
	padding-top:4px;
}
p.para-style-override-1 {
	break-after:page;
}
p.para-style-override-2 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-3 {
	margin-bottom:14px;
}
p.para-style-override-4 {
	margin-bottom:9px;
}
p.para-style-override-5 {
	margin-bottom:11px;
}
p.para-style-override-6 {
	margin-left:0px;
}
p.para-style-override-7 {
	margin-bottom:0px;
}
p.para-style-override-8 {
	color:#ff0000;
	font-size:10px;
}
p.para-style-override-9 {
	margin-bottom:3px;
}
p.para-style-override-10 {
	color:#ff0000;
}
p.para-style-override-11 {
	margin-bottom:20px;
}
p.para-style-override-12 {
	margin-bottom:23px;
}
p.para-style-override-13 {
	margin-bottom:0px;
	margin-right:0px;
}
p.para-style-override-14 {
	margin-left:34px;
}
p.para-style-override-15 {
	margin-bottom:6px;
}
p.para-style-override-16 {
	margin-bottom:17px;
}
p.para-style-override-17 {
	font-size:10px;
}
p.para-style-override-18 {
	font-size:9px;
}
p.para-style-override-19 {
	vertical-align:super;
}
p.para-style-override-20 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-21 {
	text-align:left;
}
p.para-style-override-22 {
	margin-left:3px;
}
p.para-style-override-23 {
	text-align:right;
}
p.para-style-override-24 {
	text-decoration:underline;
}
p.para-style-override-25 {
	margin-bottom:0px;
	margin-left:3px;
}
p.para-style-override-26 {
	margin-bottom:26px;
}
p.para-style-override-27 {
	text-align:center;
}
p.para-style-override-28 {
	text-align:center;
	text-indent:0px;
}
p.para-style-override-29 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-30 {
	font-family:StoneSerITCStd, sans-serif;
	font-style:normal;
	font-weight:normal;
	margin-bottom:9px;
}
p.para-style-override-31 {
	margin-bottom:43px;
}
p.para-style-override-32 {
	margin-bottom:74px;
}
p.para-style-override-33 {
	margin-bottom:48px;
}
p.para-style-override-34 {
	margin-right:119px;
}
p.para-style-override-35 {
	break-after:column;
}
p.para-style-override-36 {
	font-family:"ITC Stone Sans Std", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-37 {
	margin-left:31px;
}
p.para-style-override-38 {
	margin-left:40px;
}
p.para-style-override-39 {
	font-family:"StoneSansITCStd Medium", sans-serif;
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-40 {
	margin-bottom:5px;
}
li.para-style-override-41 {
	margin-left:11px;
	text-indent:-11px;
}
p.para-style-override-42 {
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:500;
}
p.para-style-override-43 {
	margin-bottom:0px;
	vertical-align:super;
}
p.para-style-override-44 {
	color:#c31f45;
}
p.para-style-override-45 {
	margin-left:0px;
	vertical-align:super;
}
p.para-style-override-46 {
	font-size:16px;
	text-align:center;
}
p.para-style-override-47 {
	font-size:12px;
}
p.para-style-override-48 {
	margin-left:0px;
	text-indent:0px;
}
p.para-style-override-49 {
	margin-left:6px;
}
p.para-style-override-50 {
	margin-left:20px;
}
p.para-style-override-51 {
	font-size:11px;
	font-style:italic;
	font-weight:normal;
	margin-left:20px;
}
p.para-style-override-52 {
	break-after:page;
	margin-bottom:6px;
}
p.para-style-override-53 {
	margin-left:85px;
}
p.para-style-override-54 {
	margin-left:9px;
	text-indent:0px;
}
p.para-style-override-55 {
	font-style:normal;
	font-weight:bold;
	margin-bottom:0px;
}
p.para-style-override-56 {
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-style:normal;
	font-weight:500;
}
p.para-style-override-57 {
	margin-left:17px;
}
p.para-style-override-58 {
	margin-left:36px;
	text-indent:-36px;
}
p.para-style-override-59 {
	color:#000000;
}
p.para-style-override-60 {
	margin-bottom:7px;
}
p.para-style-override-61 {
	color:#000000;
	text-align:center;
}
p.para-style-override-62 {
	break-after:page;
	text-align:right;
}
p.para-style-override-63 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-64 {
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-65 {
	margin-bottom:28px;
}
li.para-style-override-66 {
	margin-bottom:6px;
	margin-left:54px;
}
span.char-style-override-1 {
	color:#f5bc3b;
}
span.char-style-override-2 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-3 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-4 {
	color:#231f20;
}
span.char-style-override-5 {
	color:#ff0000;
}
span.char-style-override-6 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-7 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-size:9px;
}
span.char-style-override-9 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	color:#ff0000;
	font-size:10px;
}
span.char-style-override-11 {
	font-size:10px;
}
span.char-style-override-12 {
	color:#ff0000;
	font-size:9px;
}
span.char-style-override-13 {
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-14 {
	color:#c31f45;
}
span.char-style-override-15 {
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-16 {
	font-size:11px;
}
span.char-style-override-17 {
	color:#c31f45;
	font-size:10px;
}
span.char-style-override-18 {
	color:#000000;
}
span.char-style-override-19 {
	text-decoration:underline;
}
span.char-style-override-20 {
	color:#ff0000;
	text-decoration:underline;
}
span.char-style-override-21 {
	font-size:8px;
	vertical-align:super;
}
span.char-style-override-22 {
	vertical-align:super;
}
span.char-style-override-23 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-24 {
	font-size:13px;
}
span.char-style-override-25 {
	font-family:"Cambria Math", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-26 {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-27 {
	font-size:12px;
}
span.char-style-override-28 {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-29 {
	font-size:7px;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-30 {
	font-size:6px;
}
span.char-style-override-31 {
	font-size:5px;
}
span.char-style-override-32 {
	font-family:"Cambria Math", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-33 {
	font-variant:normal;
}
span.char-style-override-34 {
	color:#ff0000;
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-35 {
	font-family:"StoneSansITCStd Medium", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-36 {
	font-family:Wingdings, sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-37 {
	font-size:6px;
	vertical-align:super;
}
span.char-style-override-38 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-39 {
	font-size:7px;
	font-style:normal;
	font-weight:bold;
	vertical-align:super;
}
span.char-style-override-40 {
	font-size:16px;
}
span.char-style-override-41 {
	color:#ff0000;
	font-size:16px;
}
span.char-style-override-42 {
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-43 {
	text-decoration:line-through;
}
span.char-style-override-44 {
	color:#231f20;
	font-size:12px;
}
span.char-style-override-45 {
	color:#c31f45;
	font-size:12px;
}
img.frame-1 {
	height:652px;
	width:468px;
}
img.frame-2 {
	height:159px;
	width:265px;
}
div.frame-3 {
	height:17px;
	width:300px;
}
div.frame-4 {
	height:17px;
	width:174px;
}
div.frame-5 {
	height:17px;
	width:68px;
}
img.frame-6 {
	height:14px;
	width:289px;
}
div.frame-7 {
	height:17px;
	width:105px;
}
img.frame-8 {
	height:18px;
	width:293px;
}
img.frame-9 {
	height:149px;
	width:228px;
}
div.frame-10 {
	height:17px;
	width:111px;
}
col.Row-Column-11 {
	width:5px;
}
col.Row-Column-12 {
	width:301px;
}
img.frame-13 {
	height:27px;
	width:17px;
}
img.frame-14 {
	height:27px;
	width:11px;
}
tr.Row-Column-15 {
	min-height:218px;
}
div.frame-16 {
	height:28px;
	width:84px;
}
div.frame-17 {
	height:19px;
	width:84px;
}
img.frame-18 {
	height:27px;
	width:16px;
}
img.frame-19 {
	height:27px;
	width:22px;
}
div.frame-20 {
	height:17px;
	width:148px;
}
div.frame-21 {
	height:17px;
	width:132px;
}
img.frame-22 {
	height:26px;
	width:432px;
}
div.frame-23 {
	height:17px;
	width:249px;
}
div.frame-24 {
	height:17px;
	width:76px;
}
div.frame-25 {
	height:17px;
	width:144px;
}
div.frame-26 {
	height:17px;
	width:237px;
}
div.frame-27 {
	height:17px;
	width:212px;
}
div.frame-28 {
	height:17px;
	width:225px;
}
img.frame-29 {
	height:46px;
	width:191px;
}
div.frame-30 {
	margin:0px auto 0px 0px;
	text-align:left;
}
div.frame-31 {
	height:17px;
	width:218px;
}
div.frame-32 {
	height:17px;
	width:207px;
}
div.frame-33 {
	height:17px;
	width:214px;
}
img.frame-34 {
	height:45px;
	width:403px;
}
col.Row-Column-35 {
	width:307px;
}
tr.Row-Column-36 {
	min-height:110px;
}
img.frame-37 {
	height:26px;
	width:11px;
}
div.frame-38 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:93px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-39 {
	height:60px;
	width:193px;
}
div.frame-40 {
	height:28px;
	width:193px;
}
div.frame-41 {
	height:28px;
	width:228px;
}
img.frame-42 {
	height:27px;
	width:15px;
}
div.frame-43 {
	height:28px;
	width:377px;
}
div.frame-44 {
	height:28px;
	width:372px;
}
div.frame-45 {
	height:28px;
	width:374px;
}
div.frame-46 {
	height:28px;
	width:369px;
}
img.frame-47 {
	height:22px;
	width:7px;
}
div.frame-48 {
	height:33px;
	width:382px;
}
div.frame-49 {
	height:28px;
	width:386px;
}
div.frame-50 {
	height:29px;
	width:386px;
}
div.frame-51 {
	height:28px;
	width:381px;
}
div.frame-52 {
	height:28px;
	width:375px;
}
img.frame-53 {
	height:29px;
	width:27px;
}
div.frame-54 {
	height:29px;
	width:381px;
}
div.frame-55 {
	height:28px;
	width:376px;
}
div.frame-56 {
	height:28px;
	width:373px;
}
div.frame-57 {
	height:28px;
	width:380px;
}
img.frame-58 {
	height:29px;
	width:37px;
}
img.frame-59 {
	height:29px;
	width:48px;
}
div.frame-60 {
	height:29px;
	width:367px;
}
img.frame-61 {
	height:29px;
	width:59px;
}
div.frame-62 {
	height:29px;
	width:363px;
}
div.frame-63 {
	height:29px;
	width:368px;
}
div.frame-64 {
	height:28px;
	width:321px;
}
div.frame-65 {
	height:28px;
	width:256px;
}
div.frame-66 {
	height:28px;
	width:144px;
}
div.frame-67 {
	height:28px;
	width:162px;
}
img.frame-68 {
	height:29px;
	width:465px;
}
div.frame-69 {
	height:17px;
	width:69px;
}
div.frame-70 {
	height:17px;
	width:95px;
}
div.frame-71 {
	height:17px;
	width:134px;
}
div.frame-72 {
	height:17px;
	width:133px;
}
div.frame-73 {
	height:17px;
	width:137px;
}
div.frame-74 {
	height:28px;
	width:62px;
}
div.frame-75 {
	height:28px;
	width:87px;
}
div.frame-76 {
	height:28px;
	width:61px;
}
div.frame-77 {
	height:28px;
	width:65px;
}
img.frame-78 {
	height:27px;
	width:23px;
}
div.frame-79 {
	height:28px;
	width:355px;
}
div.frame-80 {
	height:17px;
	width:284px;
}
div.frame-81 {
	height:17px;
	width:285px;
}
div.frame-82 {
	height:17px;
	width:296px;
}
col.Row-Column-83 {
	width:341px;
}
tr.Row-Column-84 {
	min-height:51px;
}
tr.Row-Column-85 {
	min-height:98px;
}
div.frame-86 {
	height:17px;
	width:73px;
}
div.frame-87 {
	height:17px;
	width:90px;
}
img.frame-88 {
	height:27px;
	width:30px;
}
img.frame-89 {
	height:29px;
	width:32px;
}
img.frame-90 {
	height:27px;
	width:27px;
}
img.frame-91 {
	height:27px;
	width:13px;
}
img.frame-92 {
	height:27px;
	width:8px;
}
div.frame-93 {
	height:17px;
	width:185px;
}
img.frame-94 {
	height:5px;
	width:467px;
}
div.frame-95 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-96 {
	min-height:57px;
}
div.frame-97 {
	height:17px;
	width:324px;
}
div.frame-98 {
	height:17px;
	width:343px;
}
div.frame-99 {
	height:17px;
	width:204px;
}
col.Row-Column-100 {
	width:112px;
}
col.Row-Column-101 {
	width:64px;
}
col.Row-Column-102 {
	width:71px;
}
col.Row-Column-103 {
	width:80px;
}
tr.Row-Column-104 {
	min-height:19px;
}
tr.Row-Column-105 {
	min-height:52px;
}
div.frame-106 {
	height:17px;
	width:244px;
}
img.frame-107 {
	height:27px;
	width:12px;
}
img.frame-108 {
	height:30px;
	width:26px;
}
tr.Row-Column-109 {
	min-height:53px;
}
div.frame-110 {
	height:28px;
	width:134px;
}
div.frame-111 {
	height:28px;
	width:141px;
}
img.frame-112 {
	height:27px;
	width:37px;
}
img.frame-113 {
	height:27px;
	width:24px;
}
img.frame-114 {
	height:27px;
	width:36px;
}
img.frame-115 {
	height:27px;
	width:10px;
}
img.frame-116 {
	height:27px;
	width:48px;
}
img.frame-117 {
	height:27px;
	width:25px;
}
img.frame-118 {
	height:27px;
	width:29px;
}
img.frame-119 {
	height:26px;
	width:16px;
}
div.frame-120 {
	height:28px;
	width:176px;
}
img.frame-121 {
	height:25px;
	width:23px;
}
img.frame-122 {
	height:25px;
	width:19px;
}
div.frame-123 {
	height:28px;
	width:161px;
}
img.frame-124 {
	height:25px;
	width:24px;
}
div.frame-125 {
	height:28px;
	width:156px;
}
img.frame-126 {
	height:25px;
	width:30px;
}
div.frame-127 {
	height:28px;
	width:155px;
}
div.frame-128 {
	height:28px;
	width:158px;
}
div.frame-129 {
	height:28px;
	width:149px;
}
img.frame-130 {
	height:25px;
	width:38px;
}
div.frame-131 {
	height:28px;
	width:146px;
}
img.frame-132 {
	height:103px;
	width:316px;
}
img.frame-133 {
	height:102px;
	width:148px;
}
img.frame-134 {
	height:468px;
	width:263px;
}
img.frame-135 {
	height:25px;
	width:21px;
}
tr.Row-Column-136 {
	min-height:24px;
}
img.frame-137 {
	height:26px;
	width:17px;
}
img.frame-138 {
	height:26px;
	width:22px;
}
img.frame-139 {
	height:26px;
	width:23px;
}
img.frame-140 {
	height:26px;
	width:14px;
}
tr.Row-Column-141 {
	min-height:9px;
}
img.frame-142 {
	height:40px;
	width:408px;
}
col.Row-Column-143 {
	width:143px;
}
col.Row-Column-144 {
	width:153px;
}
img.frame-145 {
	height:22px;
	width:22px;
}
tr.Row-Column-146 {
	min-height:28px;
}
col.Row-Column-147 {
	width:11px;
}
col.Row-Column-148 {
	width:150px;
}
tr.Row-Column-149 {
	min-height:122px;
}
img.frame-150 {
	height:30px;
	width:37px;
}
tr.Row-Column-151 {
	min-height:93px;
}
div.frame-152, img.frame-152 {
	height:18px;
	width:68px;
}
div.frame-153 {
	height:18px;
	width:69px;
}
col.Row-Column-154 {
	width:155px;
}
img.frame-155 {
	height:22px;
	width:16px;
}
img.frame-156 {
	height:22px;
	width:11px;
}
img.frame-157 {
	height:25px;
	width:22px;
}
tr.Row-Column-158 {
	min-height:31px;
}
img.frame-159 {
	height:40px;
	width:428px;
}
img.frame-160 {
	height:53px;
	width:428px;
}
img.frame-161 {
	height:54px;
	width:428px;
}
img.frame-162 {
	height:16px;
	width:19px;
}
div.frame-163 {
	height:17px;
	width:205px;
}
col.Row-Column-164 {
	width:12px;
}
col.Row-Column-165 {
	width:22px;
}
col.Row-Column-166 {
	width:192px;
}
col.Row-Column-167 {
	width:32px;
}
col.Row-Column-168 {
	width:201px;
}
tr.Row-Column-169 {
	min-height:194px;
}
col.Row-Column-170 {
	width:20px;
}
col.Row-Column-171 {
	width:193px;
}
col.Row-Column-172 {
	width:197px;
}
tr.Row-Column-173 {
	min-height:199px;
}
tr.Row-Column-174 {
	min-height:129px;
}
tr.Row-Column-175 {
	min-height:167px;
}
img.frame-176 {
	height:205px;
	width:458px;
}
img.frame-177 {
	height:177px;
	width:194px;
}
img.frame-178 {
	height:172px;
	width:196px;
}
img.frame-179 {
	height:215px;
	width:200px;
}
img.frame-180 {
	height:194px;
	width:253px;
}
col.Row-Column-181 {
	width:52px;
}
col.Row-Column-182 {
	width:120px;
}
col.Row-Column-183 {
	width:63px;
}
col.Row-Column-184 {
	width:34px;
}
tr.Row-Column-185 {
	min-height:29px;
}
tr.Row-Column-186 {
	min-height:22px;
}
div.frame-187 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:17px;
	width:17px;
}
div.frame-188 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:16px;
	width:16px;
}
col.Row-Column-189 {
	width:17px;
}
col.Row-Column-190 {
	width:23px;
}
col.Row-Column-191 {
	width:30px;
}
col.Row-Column-192 {
	width:93px;
}
col.Row-Column-193 {
	width:60px;
}
col.Row-Column-194 {
	width:106px;
}
img.frame-195 {
	height:247px;
	width:270px;
}
div.frame-196 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:177px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-197 {
	min-height:56px;
}
img.frame-198 {
	height:125px;
	width:126px;
}
img.frame-199 {
	height:151px;
	width:380px;
}
col.Row-Column-200 {
	width:16px;
}
col.Row-Column-201 {
	width:224px;
}
col.Row-Column-202 {
	width:226px;
}
tr.Row-Column-203 {
	min-height:50px;
}
img.frame-204 {
	height:164px;
	width:180px;
}
img.frame-205 {
	height:19px;
	width:23px;
}
img.frame-206 {
	height:17px;
	width:25px;
}
tr.Row-Column-207 {
	min-height:165px;
}
col.Row-Column-208 {
	width:38px;
}
col.Row-Column-209 {
	width:194px;
}
col.Row-Column-210 {
	width:234px;
}
img.frame-211 {
	height:176px;
	width:161px;
}
img.frame-212 {
	height:17px;
	width:31px;
}
tr.Row-Column-213 {
	min-height:188px;
}
img.frame-214 {
	height:18px;
	width:24px;
}
tr.Row-Column-215 {
	min-height:193px;
}
img.frame-216 {
	height:124px;
	width:108px;
}
col.Row-Column-217 {
	width:66px;
}
col.Row-Column-218 {
	width:67px;
}
tr.Row-Column-219 {
	min-height:25px;
}
img.frame-220 {
	height:17px;
	width:19px;
}
col.Row-Column-221 {
	width:227px;
}
tr.Row-Column-222 {
	min-height:219px;
}
col.Row-Column-223 {
	width:233px;
}
img.frame-224 {
	height:100px;
	width:144px;
}
img.frame-225 {
	height:18px;
	width:35px;
}
img.frame-226 {
	height:18px;
	width:48px;
}
tr.Row-Column-227 {
	min-height:132px;
}
img.frame-228 {
	height:102px;
	width:158px;
}
img.frame-229 {
	height:18px;
	width:36px;
}
img.frame-230 {
	height:17px;
	width:30px;
}
tr.Row-Column-231 {
	min-height:133px;
}
img.frame-232 {
	height:110px;
	width:117px;
}
img.frame-233 {
	height:21px;
	width:24px;
}
img.frame-234 {
	height:18px;
	width:54px;
}
img.frame-235 {
	height:102px;
	width:173px;
}
img.frame-236 {
	height:17px;
	width:48px;
}
tr.Row-Column-237 {
	min-height:113px;
}
tr.Row-Column-238 {
	min-height:107px;
}
img.frame-239 {
	height:112px;
	width:216px;
}
img.frame-240 {
	height:18px;
	width:49px;
}
img.frame-241 {
	height:19px;
	width:22px;
}
tr.Row-Column-242 {
	min-height:159px;
}
img.frame-243 {
	height:96px;
	width:151px;
}
img.frame-244 {
	height:21px;
	width:22px;
}
tr.Row-Column-245 {
	min-height:160px;
}
img.frame-246 {
	height:102px;
	width:169px;
}
img.frame-247 {
	height:18px;
	width:53px;
}
tr.Row-Column-248 {
	min-height:161px;
}
img.frame-249 {
	height:98px;
	width:152px;
}
img.frame-250 {
	height:21px;
	width:23px;
}
tr.Row-Column-251 {
	min-height:111px;
}
img.frame-252 {
	height:113px;
	width:84px;
}
img.frame-253 {
	height:17px;
	width:45px;
}
tr.Row-Column-254 {
	min-height:186px;
}
tr.Row-Column-255 {
	min-height:40px;
}
div.frame-256 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-257 {
	width:466px;
}
img.frame-258 {
	height:113px;
	width:94px;
}
col.Row-Column-259 {
	width:148px;
}
col.Row-Column-260 {
	width:318px;
}
img.frame-261 {
	height:79px;
	width:137px;
}
tr.Row-Column-262 {
	min-height:158px;
}
img.frame-263 {
	height:120px;
	width:73px;
}
tr.Row-Column-264 {
	min-height:164px;
}
img.frame-265 {
	height:240px;
	width:353px;
}
col.Row-Column-266 {
	width:75px;
}
col.Row-Column-267 {
	width:65px;
}
tr.Row-Column-268 {
	min-height:16px;
}
img.frame-269 {
	height:75px;
	width:95px;
}
img.frame-270 {
	height:74px;
	width:149px;
}
img.frame-271 {
	height:101px;
	width:86px;
}
img.frame-272 {
	height:104px;
	width:123px;
}
img.frame-273 {
	height:61px;
	width:89px;
}
img.frame-274 {
	height:78px;
	width:130px;
}
img.frame-275 {
	height:268px;
	width:438px;
}
tr.Row-Column-276 {
	min-height:26px;
}
tr.Row-Column-277 {
	min-height:147px;
}
tr.Row-Column-278 {
	min-height:243px;
}
tr.Row-Column-279 {
	min-height:272px;
}
col.Row-Column-280 {
	width:381px;
}
img.frame-281 {
	height:93px;
	width:137px;
}
img.frame-282 {
	height:147px;
	width:455px;
}
col.Row-Column-283 {
	width:18px;
}
img.frame-284 {
	height:68px;
	width:116px;
}
img.frame-285 {
	height:83px;
	width:135px;
}
img.frame-286 {
	height:77px;
	width:130px;
}
img.frame-287 {
	height:78px;
	width:176px;
}
img.frame-288 {
	height:105px;
	width:149px;
}
img.frame-289 {
	height:95px;
	width:193px;
}
img.frame-290 {
	height:82px;
	width:190px;
}
col.Row-Column-291 {
	width:315px;
}
tr.Row-Column-292 {
	min-height:226px;
}
img.frame-293 {
	height:184px;
	width:154px;
}
img.frame-294 {
	height:142px;
	width:423px;
}
col.Row-Column-295 {
	width:109px;
}
col.Row-Column-296 {
	width:119px;
}
img.frame-297 {
	height:103px;
	width:127px;
}
img.frame-298 {
	height:140px;
	width:397px;
}
img.frame-299 {
	height:272px;
	width:452px;
}
col.Row-Column-300 {
	width:47px;
}
col.Row-Column-301 {
	width:111px;
}
col.Row-Column-302 {
	width:180px;
}
tr.Row-Column-303 {
	min-height:34px;
}
img.frame-304 {
	height:28px;
	width:12px;
}
tr.Row-Column-305 {
	min-height:44px;
}
img.frame-306 {
	height:295px;
	width:295px;
}
tr.Row-Column-307 {
	min-height:156px;
}
img.frame-308 {
	height:148px;
	width:148px;
}
img.frame-309 {
	height:78px;
	width:449px;
}
img.frame-310 {
	height:97px;
	width:302px;
}
div.frame-311 {
	height:17px;
	width:116px;
}
img.frame-312 {
	height:80px;
	width:251px;
}
img.frame-313 {
	height:179px;
	width:471px;
}
tr.Row-Column-314 {
	min-height:72px;
}
img.frame-315 {
	height:105px;
	width:122px;
}
div.frame-316 {
	height:17px;
	width:129px;
}
div.frame-317 {
	height:17px;
	width:175px;
}
div.frame-318 {
	height:17px;
	width:162px;
}
div.frame-319 {
	height:17px;
	width:180px;
}
img.frame-320 {
	height:159px;
	width:158px;
}
img.frame-321 {
	height:113px;
	width:113px;
}
col.Row-Column-322 {
	width:116px;
}
col.Row-Column-323 {
	width:117px;
}
div.frame-324 {
	height:17px;
	width:36px;
}
div.frame-325 {
	height:17px;
	width:151px;
}
div.frame-326 {
	height:17px;
	width:150px;
}
div.frame-327 {
	height:17px;
	width:152px;
}
img.frame-328 {
	height:168px;
	width:409px;
}
img.frame-329 {
	height:80px;
	width:126px;
}
div.frame-330 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:51px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-331 {
	height:138px;
	width:332px;
}
img.frame-332 {
	height:206px;
	width:444px;
}
img.frame-333 {
	height:142px;
	width:433px;
}
img.frame-334 {
	height:18px;
	width:97px;
}
img.frame-335 {
	height:18px;
	width:50px;
}
col.Row-Column-336 {
	width:280px;
}
img.frame-337 {
	height:65px;
	width:103px;
}
img.frame-338 {
	height:68px;
	width:128px;
}
img.frame-339 {
	height:100px;
	width:165px;
}
div.frame-340 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:231px;
}
img.frame-341 {
	height:82px;
	width:206px;
}
col.Row-Column-342 {
	width:26px;
}
col.Row-Column-343 {
	width:183px;
}
col.Row-Column-344 {
	width:257px;
}
img.frame-345 {
	height:133px;
	width:209px;
}
tr.Row-Column-346 {
	min-height:217px;
}
img.frame-347 {
	height:137px;
	width:232px;
}
img.frame-348 {
	height:119px;
	width:137px;
}
tr.Row-Column-349 {
	min-height:196px;
}
div.frame-350 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-351 {
	height:116px;
	width:390px;
}
tr.Row-Column-352 {
	min-height:12px;
}
div.frame-353 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:47px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-354 {
	height:69px;
	width:107px;
}
img.frame-355 {
	height:67px;
	width:84px;
}
div.frame-356 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:133px;
	padding:6px 4px 6px 4px;
	width:151px;
}
div.frame-357 {
	height:17px;
	width:130px;
}
img.frame-358 {
	height:100px;
	width:218px;
}
img.frame-359 {
	height:137px;
	width:236px;
}
div.frame-360 {
	height:28px;
	width:300px;
}
tr.Row-Column-361 {
	min-height:71px;
}
div.frame-362 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:78px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-363 {
	width:248px;
}
col.Row-Column-364 {
	width:219px;
}
img.frame-365 {
	height:156px;
	width:229px;
}
tr.Row-Column-366 {
	min-height:175px;
}
img.frame-367 {
	height:91px;
	width:165px;
}
img.frame-368 {
	height:111px;
	width:125px;
}
img.frame-369 {
	height:191px;
	width:401px;
}
col.Row-Column-370 {
	width:89px;
}
tr.Row-Column-371 {
	min-height:41px;
}
img.frame-372 {
	height:93px;
	width:218px;
}
img.frame-373 {
	height:297px;
	width:422px;
}
div.frame-374 {
	height:17px;
	width:241px;
}
img.frame-375 {
	height:91px;
	width:170px;
}
img.frame-376 {
	height:90px;
	width:169px;
}
img.frame-377 {
	height:151px;
	width:188px;
}
img.frame-378 {
	height:107px;
	width:159px;
}
img.frame-379 {
	height:133px;
	width:231px;
}
col.Row-Column-380 {
	width:182px;
}
col.Row-Column-381 {
	width:285px;
}
tr.Row-Column-382 {
	min-height:62px;
}
tr.Row-Column-383 {
	min-height:46px;
}
tr.Row-Column-384 {
	min-height:68px;
}
tr.Row-Column-385 {
	min-height:87px;
}
img.frame-386 {
	height:144px;
	width:441px;
}
col.Row-Column-387 {
	width:130px;
}
col.Row-Column-388 {
	width:151px;
}
col.Row-Column-389 {
	width:185px;
}
tr.Row-Column-390 {
	min-height:90px;
}
div.frame-391 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-392 {
	height:8px;
	width:8px;
}
tr.Row-Column-393 {
	min-height:85px;
}
col.Row-Column-394 {
	width:225px;
}
div.frame-395 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:52px;
	padding:6px 4px 6px 4px;
	width:450px;
}
div.frame-396 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:38px;
	padding:6px 4px 6px 4px;
	width:450px;
}
div.frame-397 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:22px;
	padding:6px 4px 6px 4px;
	width:450px;
}
div.frame-398 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:20px;
	padding:6px 4px 6px 4px;
	width:450px;
}
tr.Row-Column-399 {
	min-height:154px;
}
div.frame-400 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-401 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:61px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-402 {
	height:25px;
	width:4px;
}
img.frame-403 {
	height:4px;
	width:34px;
}
div.frame-404 {
	height:88px;
	width:148px;
}
img.frame-405 {
	height:19px;
	width:42px;
}
col.Row-Column-406 {
	width:99px;
}
div.frame-407 {
	height:36px;
	width:99px;
}
div.frame-408 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:103px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-409 {
	height:38px;
	width:102px;
}
col.Row-Column-410 {
	width:163px;
}
tr.Row-Column-411 {
	min-height:61px;
}
tr.Row-Column-412 {
	min-height:76px;
}
col.Row-Column-413 {
	width:88px;
}
col.Row-Column-414 {
	width:90px;
}
div.frame-415 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:36px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-416 {
	height:17px;
	width:118px;
}
col.Row-Column-417 {
	width:133px;
}
div.frame-418 {
	height:17px;
	width:166px;
}
col.Row-Column-419 {
	width:427px;
}
tr.Row-Column-420 {
	min-height:209px;
}
div.frame-421 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:89px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-422 {
	width:146px;
}
col.Row-Column-423 {
	width:127px;
}
col.Row-Column-424 {
	width:56px;
}
col.Row-Column-425 {
	width:177px;
}
col.Row-Column-426 {
	width:124px;
}
col.Row-Column-427 {
	width:450px;
}
col.Row-Column-428 {
	width:188px;
}
col.Row-Column-429 {
	width:122px;
}
col.Row-Column-430 {
	width:115px;
}
img.frame-431 {
	height:23px;
	width:207px;
}
img.frame-432 {
	height:51px;
	width:7px;
}
div.frame-433 {
	height:17px;
	width:54px;
}
div.frame-434 {
	height:17px;
	width:113px;
}
img.frame-435 {
	height:267px;
	width:375px;
}
tr.Row-Column-436 {
	min-height:142px;
}
col.Row-Column-437 {
	width:46px;
}
col.Row-Column-438 {
	width:40px;
}
col.Row-Column-439 {
	width:29px;
}
col.Row-Column-440 {
	width:28px;
}
tr.Row-Column-441 {
	min-height:126px;
}
img.frame-442 {
	height:208px;
	width:439px;
}
img.frame-443 {
	height:261px;
	width:477px;
}
col.Row-Column-444 {
	width:142px;
}
img.frame-445 {
	height:401px;
	width:463px;
}
col.Row-Column-446 {
	width:139px;
}
col.Row-Column-447 {
	width:138px;
}
col.Row-Column-448 {
	width:44px;
}
img.frame-449 {
	height:633px;
	width:463px;
}
div.frame-450 {
	height:17px;
	width:44px;
}
div.frame-451 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:131px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-452 {
	height:150px;
	width:339px;
}
col.Row-Column-453 {
	width:121px;
}
col.Row-Column-454 {
	width:98px;
}
img.frame-455 {
	height:285px;
	width:463px;
}
col.Row-Column-456 {
	width:74px;
}
img.frame-457 {
	height:288px;
	width:463px;
}
col.Row-Column-458 {
	width:79px;
}
col.Row-Column-459 {
	width:69px;
}
img.frame-460 {
	height:219px;
	width:406px;
}
img.frame-461 {
	height:134px;
	width:134px;
}
div.frame-462 {
	height:17px;
	width:328px;
}
col.Row-Column-463 {
	width:166px;
}
col.Row-Column-464 {
	width:101px;
}
div.frame-465 {
	height:17px;
	width:213px;
}
img.frame-466 {
	height:150px;
	width:150px;
}
img.frame-467 {
	height:210px;
	width:281px;
}
col.Row-Column-468 {
	width:128px;
}
col.Row-Column-469 {
	width:45px;
}
img.frame-470 {
	height:229px;
	width:381px;
}
col.Row-Column-471 {
	width:83px;
}
img.frame-472 {
	height:345px;
	width:463px;
}
div.frame-473 {
	height:17px;
	width:131px;
}
col.Row-Column-474 {
	width:196px;
}
col.Row-Column-475 {
	width:141px;
}
tr.Row-Column-476 {
	min-height:30px;
}
img.frame-477 {
	height:179px;
	width:274px;
}
div.frame-478 {
	background-color:#ffffff;
	border-color:#f5bc3b;
	border-style:solid;
	border-width:0px;
	height:652px;
	width:468px;
}
div.frame-479 {
	height:17px;
	width:248px;
}
div.frame-480 {
	height:17px;
	width:243px;
}
img.frame-481 {
	height:236px;
	width:273px;
}
img.frame-482 {
	height:236px;
	width:223px;
}
img.frame-483 {
	height:230px;
	width:354px;
}
img.frame-484 {
	height:177px;
	width:219px;
}
img.frame-485 {
	height:183px;
	width:227px;
}
div.frame-486 {
	height:17px;
	width:229px;
}
