body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.Body {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-investigation--after-b-head- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M-body-text-answers {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:StoneSerITCStd, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-bullet--indented- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.M9 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.783;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
table.table-style-override-1 {
	border-color:#c31f45;
	border-width:0.5px;
}
table.table-style-override-2 {
	border-style:none;
	border-width:0px;
}
table.table-style-override-3 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	padding-bottom:11px;
	padding-left:4px;
	padding-right:11px;
	padding-top:11px;
}
td.cell-style-override-2 {
	padding-bottom:11px;
	padding-left:9px;
	padding-right:11px;
	padding-top:11px;
}
td.cell-style-override-3 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-4 {
	background-color:#f3e5dd;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-5 {
	background-color:#008fd5;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-6 {
	background-color:#ffdd00;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-7 {
	padding-bottom:4px;
	padding-left:43px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-8 {
	background-color:#b25538;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-9 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-10 {
	padding-bottom:4px;
	padding-left:3px;
	padding-right:4px;
	padding-top:4px;
}
p.para-style-override-1 {
	break-after:page;
}
p.para-style-override-2 {
	font-style:normal;
	font-weight:bold;
}
li.para-style-override-3 {
	margin-bottom:11px;
	margin-left:31px;
}
p.para-style-override-4 {
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-5 {
	margin-left:17px;
}
p.para-style-override-6 {
	margin-left:57px;
	text-indent:-57px;
}
p.para-style-override-7 {
	margin-bottom:0px;
}
p.para-style-override-8 {
	margin-left:11px;
}
p.para-style-override-9 {
	break-after:page;
	margin-left:11px;
}
p.para-style-override-10 {
	margin-bottom:6px;
}
p.para-style-override-11 {
	text-align:right;
}
p.para-style-override-12 {
	text-align:center;
}
p.para-style-override-13 {
	text-decoration:line-through;
}
p.para-style-override-14 {
	margin-bottom:20px;
}
p.para-style-override-15 {
	margin-bottom:4px;
}
li.para-style-override-16 {
	margin-left:31px;
}
p.para-style-override-17 {
	color:#c31f45;
}
p.para-style-override-18 {
	margin-bottom:3px;
}
p.para-style-override-19 {
	margin-bottom:2px;
}
p.para-style-override-20 {
	margin-bottom:17px;
}
p.para-style-override-21 {
	margin-bottom:14px;
}
p.para-style-override-22 {
	text-align:left;
}
p.para-style-override-23 {
	font-style:normal;
	font-weight:bold;
	margin-left:17px;
}
p.para-style-override-24 {
	margin-left:40px;
	text-indent:0px;
}
p.para-style-override-25 {
	margin-left:40px;
}
p.para-style-override-26 {
	margin-bottom:3px;
	text-indent:9px;
}
p.para-style-override-27 {
	font-size:10px;
}
p.para-style-override-28 {
	margin-left:0px;
	text-indent:0px;
}
p.para-style-override-29 {
	color:#c31f45;
	margin-bottom:3px;
	margin-left:20px;
	text-align:center;
	text-indent:-20px;
}
p.para-style-override-30 {
	text-indent:0px;
}
p.para-style-override-31 {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-32 {
	color:#000000;
}
p.para-style-override-33 {
	margin-bottom:11px;
}
p.para-style-override-34 {
	margin-bottom:0px;
	text-align:center;
}
p.para-style-override-35 {
	margin-bottom:23px;
}
p.para-style-override-36 {
	font-style:normal;
	font-weight:bold;
	margin-bottom:9px;
}
p.para-style-override-37 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-38 {
	margin-bottom:9px;
}
p.para-style-override-39 {
	margin-bottom:26px;
}
p.para-style-override-40 {
	color:#c31f45;
	font-size:10px;
}
span.char-style-override-1 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-2 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-4 {
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-5 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-6 {
	text-decoration:line-through;
}
span.char-style-override-7 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	color:#c31f45;
}
span.char-style-override-10 {
	color:#c31f45;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-11 {
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.char-style-override-12 {
	font-size:10px;
}
span.char-style-override-13 {
	font-size:11px;
}
span.char-style-override-14 {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-15 {
	color:#000000;
}
span.char-style-override-16 {
	color:#231f20;
}
span.char-style-override-17 {
	color:#c31f45;
	font-size:10px;
}
img.frame-1 {
	height:216px;
	width:321px;
}
div.frame-2 {
	margin:0px auto 0px 0px;
	text-align:left;
}
img.frame-3 {
	height:652px;
	width:468px;
}
img.frame-4 {
	height:264px;
	width:360px;
}
img.frame-5 {
	height:262px;
	width:352px;
}
img.frame-6 {
	height:11px;
	width:11px;
}
col.Row-Column-7 {
	width:194px;
}
col.Row-Column-8 {
	width:255px;
}
tr.Row-Column-9 {
	min-height:79px;
}
tr.Row-Column-10 {
	min-height:30px;
}
tr.Row-Column-11 {
	min-height:96px;
}
tr.Row-Column-12 {
	min-height:95px;
}
col.Row-Column-13 {
	width:62px;
}
col.Row-Column-14 {
	width:184px;
}
tr.Row-Column-15 {
	min-height:19px;
}
col.Row-Column-16 {
	width:60px;
}
col.Row-Column-17 {
	width:88px;
}
col.Row-Column-18 {
	width:99px;
}
col.Row-Column-19 {
	width:143px;
}
tr.Row-Column-20 {
	min-height:29px;
}
div.frame-21 {
	background-color:#f3e5dd;
	border-style:solid;
	border-width:1px;
	height:148px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-22 {
	width:30px;
}
col.Row-Column-23 {
	width:153px;
}
col.Row-Column-24 {
	width:45px;
}
tr.Row-Column-25 {
	min-height:17px;
}
tr.Row-Column-26 {
	min-height:16px;
}
col.Row-Column-27 {
	width:118px;
}
col.Row-Column-28 {
	width:163px;
}
col.Row-Column-29 {
	width:85px;
}
tr.Row-Column-30 {
	min-height:22px;
}
col.Row-Column-31 {
	width:208px;
}
col.Row-Column-32 {
	width:109px;
}
img.frame-33 {
	height:5px;
	width:467px;
}
col.Row-Column-34 {
	width:5px;
}
col.Row-Column-35 {
	width:301px;
}
tr.Row-Column-36 {
	min-height:272px;
}
col.Row-Column-37 {
	width:253px;
}
col.Row-Column-38 {
	width:196px;
}
tr.Row-Column-39 {
	min-height:36px;
}
tr.Row-Column-40 {
	min-height:51px;
}
img.frame-41 {
	height:58px;
	width:265px;
}
col.Row-Column-42 {
	width:116px;
}
tr.Row-Column-43 {
	min-height:41px;
}
div.frame-44 {
	height:17px;
	width:255px;
}
img.frame-45 {
	height:71px;
	width:451px;
}
div.frame-46 {
	height:17px;
	width:314px;
}
div.frame-47 {
	height:17px;
	width:345px;
}
img.frame-48 {
	height:231px;
	width:430px;
}
img.frame-49 {
	height:10px;
	width:4px;
}
img.frame-50 {
	height:13px;
	width:24px;
}
img.frame-51 {
	height:13px;
	width:18px;
}
img.frame-52 {
	height:30px;
	width:20px;
}
img.frame-53 {
	height:15px;
	width:17px;
}
img.frame-54 {
	height:249px;
	width:353px;
}
img.frame-55 {
	height:62px;
	width:113px;
}
img.frame-56 {
	height:16px;
	width:103px;
}
img.frame-57 {
	height:70px;
	width:91px;
}
col.Row-Column-58 {
	width:180px;
}
col.Row-Column-59 {
	width:134px;
}
tr.Row-Column-60 {
	min-height:31px;
}
img.frame-61 {
	height:231px;
	width:463px;
}
col.Row-Column-62 {
	width:132px;
}
col.Row-Column-63 {
	width:63px;
}
img.frame-64 {
	height:345px;
	width:463px;
}
col.Row-Column-65 {
	width:128px;
}
col.Row-Column-66 {
	width:59px;
}
img.frame-67 {
	height:288px;
	width:463px;
}
col.Row-Column-68 {
	width:61px;
}
img.frame-69 {
	height:220px;
	width:259px;
}
img.frame-70 {
	height:4px;
	width:64px;
}
img.frame-71 {
	height:4px;
	width:40px;
}
img.frame-72 {
	height:215px;
	width:456px;
}
col.Row-Column-73 {
	width:66px;
}
col.Row-Column-74 {
	width:44px;
}
tr.Row-Column-75 {
	min-height:32px;
}
div.frame-76 {
	height:17px;
	width:183px;
}
col.Row-Column-77 {
	width:68px;
}
col.Row-Column-78 {
	width:43px;
}
col.Row-Column-79 {
	width:42px;
}
img.frame-80 {
	height:173px;
	width:180px;
}
col.Row-Column-81 {
	width:79px;
}
col.Row-Column-82 {
	width:122px;
}
tr.Row-Column-83 {
	min-height:18px;
}
img.frame-84 {
	height:209px;
	width:359px;
}
col.Row-Column-85 {
	width:209px;
}
img.frame-86 {
	height:108px;
	width:314px;
}
img.frame-87 {
	height:276px;
	width:261px;
}
tr.Row-Column-88 {
	min-height:58px;
}
col.Row-Column-89 {
	width:183px;
}
col.Row-Column-90 {
	width:105px;
}
col.Row-Column-91 {
	width:77px;
}
img.frame-92 {
	height:243px;
	width:460px;
}
tr.Row-Column-93 {
	min-height:354px;
}
img.frame-94 {
	height:222px;
	width:460px;
}
col.Row-Column-95 {
	width:129px;
}
col.Row-Column-96 {
	width:148px;
}
tr.Row-Column-97 {
	min-height:28px;
}
col.Row-Column-98 {
	width:173px;
}
col.Row-Column-99 {
	width:92px;
}
div.frame-100 {
	height:17px;
	width:231px;
}
div.frame-101 {
	height:17px;
	width:262px;
}
div.frame-102 {
	height:17px;
	width:276px;
}
div.frame-103 {
	height:17px;
	width:206px;
}
div.frame-104 {
	height:17px;
	width:66px;
}
img.frame-105 {
	height:245px;
	width:190px;
}
img.frame-106 {
	height:237px;
	width:421px;
}
img.frame-107 {
	height:149px;
	width:255px;
}
img.frame-108 {
	height:116px;
	width:399px;
}
img.frame-109 {
	height:303px;
	width:281px;
}
img.frame-110 {
	height:310px;
	width:471px;
}
col.Row-Column-111 {
	width:93px;
}
col.Row-Column-112 {
	width:133px;
}
col.Row-Column-113 {
	width:117px;
}
img.frame-114 {
	height:664px;
	width:464px;
}
img.frame-115 {
	height:92px;
	width:460px;
}
div.frame-116 {
	height:17px;
	width:77px;
}
div.frame-117 {
	background-color:#f3e5dd;
	border-style:solid;
	border-width:1px;
	height:217px;
	padding:6px 4px 6px 4px;
	width:160px;
}
tr.Row-Column-118 {
	min-height:61px;
}
tr.Row-Column-119 {
	min-height:46px;
}
img.frame-120 {
	height:30px;
	width:239px;
}
col.Row-Column-121 {
	width:41px;
}
div.frame-122 {
	height:17px;
	width:360px;
}
div.frame-123 {
	height:17px;
	width:367px;
}
div.frame-124 {
	height:17px;
	width:311px;
}
tr.Row-Column-125 {
	min-height:53px;
}
tr.Row-Column-126 {
	min-height:106px;
}
tr.Row-Column-127 {
	min-height:34px;
}
div.frame-128 {
	height:17px;
	width:246px;
}
img.frame-129 {
	height:27px;
	width:11px;
}
div.frame-130 {
	height:28px;
	width:118px;
}
div.frame-131 {
	height:28px;
	width:277px;
}
div.frame-132 {
	height:17px;
	width:323px;
}
div.frame-133 {
	height:17px;
	width:205px;
}
col.Row-Column-134 {
	width:98px;
}
div.frame-135 {
	height:17px;
	width:143px;
}
div.frame-136 {
	height:28px;
	width:139px;
}
div.frame-137 {
	height:28px;
	width:150px;
}
img.frame-138 {
	height:262px;
	width:367px;
}
div.frame-139 {
	height:28px;
	width:133px;
}
img.frame-140 {
	height:27px;
	width:16px;
}
div.frame-141 {
	height:28px;
	width:81px;
}
div.frame-142 {
	height:28px;
	width:40px;
}
div.frame-143 {
	background-color:#f3e5dd;
	border-style:solid;
	border-width:1px;
	height:103px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-144 {
	height:28px;
	width:148px;
}
div.frame-145 {
	height:28px;
	width:26px;
}
div.frame-146 {
	height:28px;
	width:214px;
}
