body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.Body {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
li.Body-content-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M-Center {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:11px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Side-table-space {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-numbers {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-extension--no-rule- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:4px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-A-2-lines {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:17px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.Head-investigation--after-b-head- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--3-columns {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--4-column {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
li.Body-bullet--indented-, p.Body-bullet--indented- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
li.Body-opener-bullets {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A-no-number {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.Body-investigation-with-marks {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--with-marks {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Body-investigation-hanging-with-marks {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.ANSWERS-table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a--2-column {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Example-head {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Source-in-box {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.AW-Source {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Example-head-centre {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
span.Body-box-bold {
	font-style:normal;
	font-weight:bold;
}
span.Box-variable-italic {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
table.table-style-override-1 {
	border-width:0.5px;
}
table.table-style-override-2 {
	border-color:#984806;
}
table.table-style-override-3 {
	border-style:none;
	border-width:0px;
}
table.table-style-override-4 {
	border-color:#ff0000;
	border-width:0.5px;
}
td.cell-style-override-1 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-2 {
	background-color:#f5bc3b;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-4 {
	background-color:#fce7c1;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-5 {
	padding-bottom:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-6 {
	background-color:#fef5e7;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-7 {
	background-color:#ffffff;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-8 {
	background-color:#ffffff;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-9 {
	background-color:#ffffff;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:9px;
	padding-top:0px;
}
td.cell-style-override-10 {
	background-color:#e6e7e8;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-11 {
	background-color:#fef1dd;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-12 {
	background-color:#e6e7e8;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-13 {
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-14 {
	background-color:#fef5e7;
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-15 {
	background-color:#fef5e7;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-16 {
	padding-bottom:4px;
	padding-left:3px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-17 {
	padding-bottom:4px;
	padding-left:6px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-18 {
	padding-bottom:4px;
	padding-left:57px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-19 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-20 {
	background-color:#fef1dd;
	padding-bottom:9px;
	padding-left:9px;
	padding-right:9px;
	padding-top:9px;
}
td.cell-style-override-21 {
	background-color:#fef1dd;
	padding-bottom:9px;
	padding-left:4px;
	padding-right:9px;
	padding-top:9px;
}
td.cell-style-override-22 {
	background-color:#ffc000;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-23 {
	background-color:#008fd5;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-24 {
	background-color:#ffff00;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-25 {
	background-color:#ff0000;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-26 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-27 {
	background-color:#92d050;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-28 {
	background-color:#d99795;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-29 {
	background-color:#d99594;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-30 {
	background-color:#ffdd00;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-31 {
	background-color:#c31f45;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-32 {
	background-color:#008fd5;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-33 {
	padding-bottom:4px;
	padding-left:0px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-34 {
	background-color:#d1d3d4;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
p.para-style-override-1 {
	break-after:page;
}
p.para-style-override-2 {
	font-size:24px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-3 {
	text-align:center;
}
p.para-style-override-4 {
	margin-left:14px;
}
p.para-style-override-5 {
	color:#ff0000;
}
p.para-style-override-6 {
	margin-bottom:9px;
}
p.para-style-override-7 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-8, li.para-style-override-8 {
	margin-bottom:0px;
}
p.para-style-override-9 {
	margin-bottom:14px;
}
p.para-style-override-10 {
	margin-bottom:6px;
}
p.para-style-override-11 {
	margin-bottom:11px;
}
p.para-style-override-12 {
	margin-bottom:3px;
}
p.para-style-override-13 {
	margin-left:0px;
}
p.para-style-override-14 {
	margin-bottom:20px;
}
p.para-style-override-15 {
	margin-bottom:23px;
}
p.para-style-override-16 {
	font-family:"Caecilia LT Std Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-17 {
	margin-left:40px;
}
p.para-style-override-18 {
	margin-left:17px;
}
p.para-style-override-19 {
	margin-left:17px;
	text-indent:0px;
}
p.para-style-override-20 {
	font-size:28px;
	text-align:center;
}
p.para-style-override-21 {
	color:#c31f45;
	font-size:40px;
	font-style:italic;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-22 {
	margin-bottom:4px;
}
p.para-style-override-23 {
	margin-bottom:17px;
}
p.para-style-override-24 {
	color:#c31f45;
	font-size:28px;
	text-align:center;
}
p.para-style-override-25 {
	margin-bottom:3px;
	margin-left:40px;
}
p.para-style-override-26 {
	break-after:page;
	margin-bottom:3px;
	margin-left:40px;
}
p.para-style-override-27 {
	color:#c31f45;
	text-align:center;
}
p.para-style-override-28 {
	color:#c31f45;
}
p.para-style-override-29 {
	color:#c31f45;
	font-family:StoneSerITCStd, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-30 {
	margin-bottom:5px;
}
p.para-style-override-31 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-32 {
	color:#c31f45;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-33 {
	margin-left:68px;
}
p.para-style-override-34 {
	text-align:left;
}
p.para-style-override-35 {
	text-align:right;
}
p.para-style-override-36 {
	color:#c31f45;
	text-align:right;
}
p.para-style-override-37 {
	margin-bottom:9px;
	margin-left:40px;
}
li.para-style-override-38 {
	margin-bottom:1px;
}
p.para-style-override-39 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-40 {
	margin-left:0px;
	text-indent:0px;
}
p.para-style-override-41 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-42 {
	break-after:page;
	margin-left:40px;
}
p.para-style-override-43 {
	margin-bottom:0px;
	text-align:center;
}
p.para-style-override-44 {
	font-size:10px;
	text-align:center;
}
p.para-style-override-45 {
	margin-bottom:9px;
	text-align:center;
}
p.para-style-override-46 {
	margin-left:23px;
}
p.para-style-override-47 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
li.para-style-override-48 {
	margin-left:54px;
}
span.char-style-override-1 {
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-2 {
	color:#8db3e2;
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	color:#f5bc3b;
}
span.char-style-override-4 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-5 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-6 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-7 {
	color:#ff0000;
}
span.char-style-override-8 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-9 {
	color:#231f20;
}
span.char-style-override-10 {
	font-size:9px;
}
span.char-style-override-11 {
	color:#231f20;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	color:#c31f45;
}
span.char-style-override-13 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-14 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-15 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.char-style-override-16 {
	font-size:40px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-17 {
	font-size:28px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-18 {
	color:#008fd5;
}
span.char-style-override-19 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-20 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-21 {
	font-family:Cambria, serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-22 {
	color:#231f20;
	font-size:8px;
}
span.char-style-override-23 {
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:600;
}
span.char-style-override-24 {
	font-size:10px;
}
span.char-style-override-25 {
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-26 {
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-27 {
	text-decoration:underline;
}
span.char-style-override-28 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
}
span.char-style-override-29 {
	font-size:13px;
}
col.Row-Column-1 {
	width:145px;
}
tr.Row-Column-2 {
	min-height:36px;
}
img.frame-3 {
	height:19px;
	width:355px;
}
img.frame-4 {
	height:30px;
	width:416px;
}
div.frame-5 {
	height:17px;
	width:423px;
}
div.frame-6 {
	height:17px;
	width:145px;
}
div.frame-7 {
	height:17px;
	width:202px;
}
div.frame-8 {
	height:17px;
	width:266px;
}
div.frame-9 {
	height:17px;
	width:378px;
}
div.frame-10 {
	height:17px;
	width:370px;
}
img.frame-11 {
	height:22px;
	width:435px;
}
img.frame-12 {
	height:22px;
	width:437px;
}
img.frame-13 {
	height:22px;
	width:438px;
}
div.frame-14 {
	height:17px;
	width:412px;
}
div.frame-15 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:75px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-16 {
	width:64px;
}
tr.Row-Column-17 {
	min-height:19px;
}
div.frame-18 {
	height:17px;
	width:51px;
}
img.frame-19 {
	height:25px;
	width:429px;
}
img.frame-20 {
	height:70px;
	width:466px;
}
img.frame-21 {
	height:70px;
	width:473px;
}
div.frame-22 {
	background-color:#fef5e7;
	height:14px;
	width:14px;
}
div.frame-23 {
	height:17px;
	width:32px;
}
div.frame-24 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:104px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-25 {
	height:17px;
	width:347px;
}
img.frame-26 {
	height:27px;
	width:10px;
}
div.frame-27 {
	height:17px;
	width:155px;
}
div.frame-28 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:105px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-29 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-30 {
	height:17px;
	width:47px;
}
div.frame-31 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:35px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-32 {
	width:5px;
}
col.Row-Column-33 {
	width:301px;
}
tr.Row-Column-34 {
	min-height:58px;
}
div.frame-35 {
	height:17px;
	width:67px;
}
img.frame-36 {
	height:16px;
	width:42px;
}
div.frame-37 {
	margin:0px auto 0px 0px;
	text-align:left;
}
div.frame-38 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:91px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-39 {
	height:17px;
	width:40px;
}
div.frame-40 {
	height:17px;
	width:58px;
}
div.frame-41 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:175px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-42 {
	width:467px;
}
tr.Row-Column-43 {
	height:3px;
}
tr.Row-Column-44 {
	min-height:94px;
}
div.frame-45 {
	height:17px;
	width:65px;
}
div.frame-46 {
	height:17px;
	width:152px;
}
div.frame-47 {
	height:17px;
	width:128px;
}
col.Row-Column-48 {
	width:129px;
}
tr.Row-Column-49 {
	min-height:24px;
}
tr.Row-Column-50 {
	min-height:234px;
}
tr.Row-Column-51 {
	min-height:90px;
}
div.frame-52 {
	height:17px;
	width:93px;
}
col.Row-Column-53 {
	width:137px;
}
tr.Row-Column-54 {
	min-height:25px;
}
col.Row-Column-55 {
	width:58px;
}
col.Row-Column-56 {
	width:30px;
}
div.frame-57 {
	height:17px;
	width:173px;
}
tr.Row-Column-58 {
	min-height:40px;
}
col.Row-Column-59 {
	width:185px;
}
col.Row-Column-60 {
	width:29px;
}
tr.Row-Column-61 {
	min-height:22px;
}
div.frame-62 {
	height:17px;
	width:204px;
}
col.Row-Column-63 {
	width:87px;
}
col.Row-Column-64 {
	width:37px;
}
div.frame-65 {
	height:17px;
	width:168px;
}
div.frame-66 {
	height:17px;
	width:260px;
}
div.frame-67 {
	height:17px;
	width:188px;
}
div.frame-68 {
	height:17px;
	width:171px;
}
div.frame-69 {
	height:17px;
	width:362px;
}
div.frame-70 {
	height:17px;
	width:33px;
}
div.frame-71 {
	height:17px;
	width:118px;
}
div.frame-72 {
	height:17px;
	width:117px;
}
div.frame-73 {
	height:17px;
	width:68px;
}
div.frame-74 {
	height:17px;
	width:129px;
}
div.frame-75 {
	height:17px;
	width:124px;
}
img.frame-76 {
	height:652px;
	width:468px;
}
col.Row-Column-77 {
	width:65px;
}
col.Row-Column-78 {
	width:44px;
}
div.frame-79 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:77px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-80 {
	width:289px;
}
tr.Row-Column-81 {
	min-height:72px;
}
img.frame-82 {
	height:22px;
	width:118px;
}
div.frame-83 {
	height:17px;
	width:191px;
}
col.Row-Column-84 {
	width:73px;
}
col.Row-Column-85 {
	width:41px;
}
img.frame-86 {
	height:22px;
	width:127px;
}
img.frame-87 {
	height:20px;
	width:119px;
}
col.Row-Column-88 {
	width:49px;
}
col.Row-Column-89 {
	width:67px;
}
col.Row-Column-90 {
	width:47px;
}
col.Row-Column-91 {
	width:68px;
}
col.Row-Column-92 {
	width:111px;
}
col.Row-Column-93 {
	width:169px;
}
tr.Row-Column-94 {
	min-height:31px;
}
img.frame-95 {
	height:5px;
	width:467px;
}
img.frame-96 {
	height:22px;
	width:120px;
}
img.frame-97 {
	height:20px;
	width:126px;
}
img.frame-98 {
	height:22px;
	width:119px;
}
img.frame-99 {
	height:20px;
	width:124px;
}
div.frame-100 {
	height:17px;
	width:422px;
}
div.frame-101 {
	height:17px;
	width:174px;
}
col.Row-Column-102 {
	width:131px;
}
col.Row-Column-103 {
	width:63px;
}
col.Row-Column-104 {
	width:66px;
}
col.Row-Column-105 {
	width:33px;
}
col.Row-Column-106 {
	width:39px;
}
col.Row-Column-107 {
	width:45px;
}
col.Row-Column-108 {
	width:78px;
}
col.Row-Column-109 {
	width:56px;
}
tr.Row-Column-110 {
	min-height:34px;
}
tr.Row-Column-111 {
	min-height:37px;
}
tr.Row-Column-112 {
	min-height:30px;
}
div.frame-113 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:132px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-114 {
	width:42px;
}
col.Row-Column-115 {
	width:54px;
}
div.frame-116 {
	height:17px;
	width:402px;
}
col.Row-Column-117 {
	width:133px;
}
col.Row-Column-118 {
	width:100px;
}
col.Row-Column-119 {
	width:40px;
}
col.Row-Column-120 {
	width:117px;
}
col.Row-Column-121 {
	width:120px;
}
div.frame-122 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:76px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-123 {
	width:196px;
}
tr.Row-Column-124 {
	min-height:17px;
}
col.Row-Column-125 {
	width:125px;
}
col.Row-Column-126 {
	width:46px;
}
col.Row-Column-127 {
	width:199px;
}
col.Row-Column-128 {
	width:50px;
}
col.Row-Column-129 {
	width:99px;
}
col.Row-Column-130 {
	width:52px;
}
col.Row-Column-131 {
	width:57px;
}
col.Row-Column-132 {
	width:69px;
}
col.Row-Column-133 {
	width:59px;
}
col.Row-Column-134 {
	width:85px;
}
tr.Row-Column-135 {
	height:56px;
}
tr.Row-Column-136 {
	min-height:44px;
}
div.frame-137 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:145px;
}
img.frame-138 {
	height:51px;
	width:114px;
}
div.frame-139 {
	height:17px;
	width:102px;
}
div.frame-140 {
	height:17px;
	width:244px;
}
img.frame-141 {
	height:27px;
	width:7px;
}
div.frame-142 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:145px;
}
img.frame-143 {
	height:57px;
	width:89px;
}
div.frame-144 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:118px;
	padding:6px 4px 6px 4px;
	width:145px;
}
img.frame-145 {
	height:27px;
	width:8px;
}
img.frame-146 {
	height:22px;
	width:7px;
}
img.frame-147 {
	height:27px;
	width:13px;
}
col.Row-Column-148 {
	width:92px;
}
col.Row-Column-149 {
	width:283px;
}
col.Row-Column-150 {
	width:109px;
}
col.Row-Column-151 {
	width:178px;
}
col.Row-Column-152 {
	width:88px;
}
col.Row-Column-153 {
	width:180px;
}
div.frame-154 {
	height:17px;
	width:393px;
}
col.Row-Column-155 {
	width:90px;
}
img.frame-156 {
	height:79px;
	width:80px;
}
col.Row-Column-157 {
	width:138px;
}
col.Row-Column-158 {
	width:48px;
}
tr.Row-Column-159 {
	min-height:18px;
}
col.Row-Column-160 {
	width:72px;
}
div.frame-161 {
	height:17px;
	width:185px;
}
img.frame-162 {
	height:405px;
	width:374px;
}
tr.Row-Column-163 {
	min-height:56px;
}
div.frame-164 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:21px;
	width:21px;
}
col.Row-Column-165 {
	width:294px;
}
div.frame-166 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-167 {
	min-height:158px;
}
col.Row-Column-168 {
	width:191px;
}
col.Row-Column-169 {
	width:14px;
}
col.Row-Column-170 {
	width:261px;
}
img.frame-171 {
	height:9px;
	width:9px;
}
tr.Row-Column-172 {
	min-height:59px;
}
div.frame-173 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-174 {
	width:212px;
}
col.Row-Column-175 {
	width:418px;
}
tr.Row-Column-176 {
	min-height:110px;
}
tr.Row-Column-177 {
	min-height:178px;
}
col.Row-Column-178 {
	width:427px;
}
tr.Row-Column-179 {
	min-height:42px;
}
tr.Row-Column-180 {
	min-height:122px;
}
col.Row-Column-181 {
	width:202px;
}
col.Row-Column-182 {
	width:303px;
}
tr.Row-Column-183 {
	min-height:73px;
}
col.Row-Column-184 {
	width:284px;
}
col.Row-Column-185 {
	width:164px;
}
tr.Row-Column-186 {
	min-height:21px;
}
col.Row-Column-187 {
	width:107px;
}
col.Row-Column-188 {
	width:35px;
}
tr.Row-Column-189 {
	min-height:106px;
}
div.frame-190 {
	height:17px;
	width:164px;
}
col.Row-Column-191 {
	width:77px;
}
img.frame-192 {
	height:228px;
	width:458px;
}
img.frame-193 {
	height:0px;
	width:12px;
}
col.Row-Column-194 {
	width:269px;
}
img.frame-195 {
	height:0px;
	width:14px;
}
div.frame-196 {
	height:17px;
	width:50px;
}
div.frame-197 {
	height:17px;
	width:133px;
}
tr.Row-Column-198 {
	min-height:154px;
}
div.frame-199 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-200 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-201 {
	height:22px;
	width:15px;
}
img.frame-202 {
	height:19px;
	width:5px;
}
img.frame-203 {
	height:19px;
	width:8px;
}
img.frame-204 {
	height:43px;
	width:113px;
}
img.frame-205 {
	height:47px;
	width:102px;
}
img.frame-206 {
	height:5px;
	width:72px;
}
col.Row-Column-207 {
	width:163px;
}
tr.Row-Column-208 {
	min-height:14px;
}
col.Row-Column-209 {
	width:189px;
}
div.frame-210 {
	height:17px;
	width:181px;
}
div.frame-211 {
	height:17px;
	width:229px;
}
div.frame-212 {
	height:17px;
	width:249px;
}
img.frame-213 {
	height:222px;
	width:454px;
}
img.frame-214 {
	height:10px;
	width:26px;
}
col.Row-Column-215 {
	width:21px;
}
tr.Row-Column-216 {
	min-height:16px;
}
col.Row-Column-217 {
	width:38px;
}
col.Row-Column-218 {
	width:105px;
}
tr.Row-Column-219 {
	min-height:232px;
}
col.Row-Column-220 {
	width:290px;
}
col.Row-Column-221 {
	width:103px;
}
col.Row-Column-222 {
	width:79px;
}
div.frame-223 {
	border-style:solid;
	border-width:1px;
	height:102px;
	width:182px;
}
col.Row-Column-224 {
	width:385px;
}
div.frame-225 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:50px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-226 {
	width:282px;
}
div.frame-227 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-228 {
	height:27px;
	width:85px;
}
img.frame-229 {
	height:27px;
	width:14px;
}
tr.Row-Column-230 {
	min-height:227px;
}
img.frame-231 {
	height:119px;
	width:129px;
}
img.frame-232 {
	height:83px;
	width:129px;
}
tr.Row-Column-233 {
	min-height:421px;
}
div.frame-234 {
	height:17px;
	width:234px;
}
img.frame-235 {
	height:27px;
	width:87px;
}
img.frame-236 {
	height:27px;
	width:15px;
}
div.frame-237 {
	height:17px;
	width:219px;
}
div.frame-238 {
	height:17px;
	width:245px;
}
div.frame-239 {
	height:17px;
	width:43px;
}
img.frame-240 {
	height:27px;
	width:38px;
}
img.frame-241 {
	height:27px;
	width:22px;
}
div.frame-242 {
	height:17px;
	width:222px;
}
img.frame-243 {
	height:27px;
	width:17px;
}
div.frame-244 {
	height:17px;
	width:197px;
}
img.frame-245 {
	height:27px;
	width:39px;
}
img.frame-246 {
	height:27px;
	width:30px;
}
img.frame-247 {
	height:187px;
	width:233px;
}
img.frame-248 {
	height:48px;
	width:25px;
}
img.frame-249 {
	height:204px;
	width:329px;
}
img.frame-250 {
	height:32px;
	width:76px;
}
img.frame-251 {
	height:17px;
	width:31px;
}
img.frame-252 {
	height:70px;
	width:30px;
}
img.frame-253 {
	height:4px;
	width:39px;
}
img.frame-254 {
	height:272px;
	width:362px;
}
img.frame-255 {
	height:200px;
	width:335px;
}
img.frame-256 {
	height:34px;
	width:76px;
}
img.frame-257 {
	height:4px;
	width:27px;
}
img.frame-258 {
	height:283px;
	width:360px;
}
col.Row-Column-259 {
	width:165px;
}
img.frame-260 {
	height:245px;
	width:384px;
}
col.Row-Column-261 {
	width:229px;
}
col.Row-Column-262 {
	width:174px;
}
img.frame-263 {
	height:0px;
	width:13px;
}
img.frame-264 {
	height:210px;
	width:377px;
}
img.frame-265 {
	height:194px;
	width:358px;
}
img.frame-266 {
	height:193px;
	width:356px;
}
col.Row-Column-267 {
	width:86px;
}
col.Row-Column-268 {
	width:238px;
}
col.Row-Column-269 {
	width:142px;
}
img.frame-270 {
	height:271px;
	width:325px;
}
div.frame-271 {
	height:17px;
	width:201px;
}
img.frame-272 {
	height:123px;
	width:0px;
}
img.frame-273 {
	height:196px;
	width:340px;
}
col.Row-Column-274 {
	width:81px;
}
div.frame-275 {
	border-style:solid;
	border-width:1px;
	height:112px;
	width:164px;
}
img.frame-276 {
	height:279px;
	width:457px;
}
div.frame-277 {
	border-style:solid;
	border-width:1px;
	height:120px;
	width:160px;
}
div.frame-278 {
	height:17px;
	width:161px;
}
img.frame-279 {
	height:196px;
	width:456px;
}
col.Row-Column-280 {
	width:175px;
}
col.Row-Column-281 {
	width:149px;
}
img.frame-282 {
	height:279px;
	width:374px;
}
img.frame-283 {
	height:210px;
	width:235px;
}
img.frame-284 {
	height:11px;
	width:35px;
}
img.frame-285 {
	height:107px;
	width:438px;
}
img.frame-286 {
	height:27px;
	width:11px;
}
div.frame-287 {
	height:28px;
	width:85px;
}
img.frame-288 {
	height:107px;
	width:269px;
}
img.frame-289 {
	height:107px;
	width:272px;
}
img.frame-290 {
	height:27px;
	width:16px;
}
col.Row-Column-291 {
	width:225px;
}
col.Row-Column-292 {
	width:95px;
}
img.frame-293 {
	height:132px;
	width:185px;
}
img.frame-294 {
	height:131px;
	width:144px;
}
tr.Row-Column-295 {
	min-height:162px;
}
img.frame-296 {
	height:131px;
	width:145px;
}
tr.Row-Column-297 {
	min-height:131px;
}
div.frame-298 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:165px;
}
col.Row-Column-299 {
	width:118px;
}
col.Row-Column-300 {
	width:121px;
}
col.Row-Column-301 {
	width:136px;
}
tr.Row-Column-302 {
	min-height:32px;
}
img.frame-303 {
	height:189px;
	width:295px;
}
col.Row-Column-304 {
	width:115px;
}
col.Row-Column-305 {
	width:140px;
}
img.frame-306 {
	height:231px;
	width:306px;
}
col.Row-Column-307 {
	width:450px;
}
tr.Row-Column-308 {
	min-height:108px;
}
div.frame-309 {
	height:17px;
	width:209px;
}
div.frame-310 {
	height:17px;
	width:231px;
}
div.frame-311 {
	height:17px;
	width:175px;
}
img.frame-312 {
	height:201px;
	width:352px;
}
div.frame-313 {
	height:17px;
	width:146px;
}
div.frame-314 {
	height:17px;
	width:156px;
}
div.frame-315 {
	height:17px;
	width:162px;
}
img.frame-316 {
	height:27px;
	width:25px;
}
col.Row-Column-317 {
	width:428px;
}
div.frame-318 {
	height:17px;
	width:26px;
}
div.frame-319 {
	height:17px;
	width:28px;
}
tr.Row-Column-320 {
	min-height:113px;
}
img.frame-321 {
	height:211px;
	width:357px;
}
div.frame-322 {
	height:17px;
	width:200px;
}
div.frame-323 {
	background-color:#fef5e7;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-324 {
	height:149px;
	width:322px;
}
div.frame-325 {
	height:17px;
	width:232px;
}
img.frame-326 {
	height:176px;
	width:225px;
}
img.frame-327 {
	height:243px;
	width:296px;
}
img.frame-328 {
	height:241px;
	width:189px;
}
img.frame-329 {
	height:201px;
	width:218px;
}
div.frame-330 {
	height:17px;
	width:123px;
}
col.Row-Column-331 {
	width:376px;
}
tr.Row-Column-332 {
	height:34px;
}
div.frame-333 {
	height:17px;
	width:134px;
}
col.Row-Column-334 {
	width:206px;
}
tr.Row-Column-335 {
	min-height:76px;
}
col.Row-Column-336 {
	width:16px;
}
tr.Row-Column-337 {
	min-height:13px;
}
tr.Row-Column-338 {
	min-height:190px;
}
div.frame-339 {
	height:17px;
	width:141px;
}
div.frame-340 {
	height:17px;
	width:265px;
}
col.Row-Column-341 {
	width:166px;
}
col.Row-Column-342 {
	width:422px;
}
img.frame-343 {
	height:27px;
	width:185px;
}
tr.Row-Column-344 {
	min-height:67px;
}
div.frame-345 {
	height:17px;
	width:312px;
}
col.Row-Column-346 {
	width:132px;
}
div.frame-347 {
	height:17px;
	width:230px;
}
col.Row-Column-348 {
	width:20px;
}
col.Row-Column-349 {
	width:135px;
}
div.frame-350 {
	height:17px;
	width:323px;
}
div.frame-351 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:22px;
	width:22px;
}
img.frame-352 {
	height:111px;
	width:147px;
}
img.frame-353 {
	height:111px;
	width:149px;
}
tr.Row-Column-354 {
	min-height:121px;
}
img.frame-355 {
	height:110px;
	width:158px;
}
col.Row-Column-356 {
	width:23px;
}
col.Row-Column-357 {
	width:53px;
}
div.frame-358 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:22px;
	width:31px;
}
div.frame-359 {
	height:17px;
	width:262px;
}
div.frame-360 {
	height:17px;
	width:214px;
}
div.frame-361 {
	height:17px;
	width:236px;
}
div.frame-362 {
	height:17px;
	width:85px;
}
img.frame-363 {
	height:160px;
	width:300px;
}
div.frame-364 {
	height:17px;
	width:144px;
}
img.frame-365 {
	height:200px;
	width:332px;
}
col.Row-Column-366 {
	width:123px;
}
img.frame-367 {
	height:247px;
	width:403px;
}
img.frame-368 {
	height:158px;
	width:444px;
}
img.frame-369 {
	height:271px;
	width:252px;
}
img.frame-370 {
	height:22px;
	width:6px;
}
div.frame-371 {
	height:22px;
	width:277px;
}
div.frame-372 {
	height:22px;
	width:228px;
}
img.frame-373 {
	height:111px;
	width:154px;
}
col.Row-Column-374 {
	width:26px;
}
div.frame-375 {
	height:17px;
	width:116px;
}
div.frame-376 {
	height:17px;
	width:183px;
}
div.frame-377 {
	height:17px;
	width:307px;
}
img.frame-378 {
	height:163px;
	width:322px;
}
div.frame-379 {
	height:17px;
	width:224px;
}
img.frame-380 {
	height:174px;
	width:278px;
}
div.frame-381 {
	height:17px;
	width:192px;
}
img.frame-382 {
	height:21px;
	width:7px;
}
div.frame-383 {
	height:22px;
	width:157px;
}
col.Row-Column-384 {
	width:134px;
}
tr.Row-Column-385 {
	min-height:35px;
}
div.frame-386 {
	border-color:#231f20;
	border-style:solid;
	border-width:0px;
	height:19px;
	width:22px;
}
