body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.worksheet-text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.Body {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.label {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.182;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Body-content-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent, li.Body-opener-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-line--a--last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Side-table-space {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-extension--no-rule- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:4px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.worksheet-text-3-column {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.worksheet-text-2-column {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Normal {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.05;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-no-indent-space-below {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging--right-indent- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:266px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Body-no-indent--right-1-3-indent- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:162px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.MQ {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.091;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation-after-B-head {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
li.Body-bullet-Left-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:31px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.ques-a--3-columns {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M-Center {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.826;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M-caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd Medium", sans-serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Investigation-line-answers {
	-epub-ruby-position:over;
	color:#ff0000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-dotted-line-below--EQ- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-STORY {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:28px;
	margin-right:28px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-line {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-line-with-EQ {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:20px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-ques-a--with-EQ {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-last-line {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS---alignment-text {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-ques-b--with-EQ {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A-without-number {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.ques-a--with-marks {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Body-investigation-hanging-with-marks {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.M-Body-text {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M-Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:12px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-number-10- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-20px;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.M-Body-text-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Italic {
	font-style:italic;
	font-weight:normal;
}
span.Body-box-italic {
	font-style:italic;
	font-weight:normal;
}
span.Body-box-bold {
	font-style:normal;
	font-weight:bold;
}
span.Stoneserif-italic-Extension-box {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.Worksheet-x-Italics {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.M-Body-no-indent-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Times-bold-italic {
	font-family:"Times New Roman MT Std", serif;
	font-style:italic;
	font-weight:bold;
}
table.table-style-override-1 {
	border-style:none;
	border-width:0px;
}
table.table-style-override-2 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-2 {
	background-color:#b07e09;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-3 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-4 {
	background-color:#ffdd00;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-5 {
	padding-bottom:4px;
	padding-left:43px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-6 {
	padding-bottom:4px;
	padding-left:28px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-7 {
	padding-bottom:4px;
	padding-left:0px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-8 {
	padding-bottom:4px;
	padding-left:31px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-9 {
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-10 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-11 {
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-12 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:6px;
}
td.cell-style-override-13 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
}
td.cell-style-override-14 {
	padding-bottom:0px;
	padding-left:17px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-15 {
	background-color:#e6cfa8;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-16 {
	padding-bottom:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-17 {
	background-color:#f5ebdb;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-18 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-19 {
	padding-bottom:4px;
	padding-left:17px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-20 {
	padding-bottom:4px;
	padding-left:9px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-21 {
	padding-left:0px;
	padding-top:4px;
}
td.cell-style-override-22 {
	background-color:#eedcc1;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
p.para-style-override-1 {
	break-after:page;
}
p.para-style-override-2 {
	text-align:center;
}
p.para-style-override-3, li.para-style-override-3 {
	margin-bottom:0px;
}
p.para-style-override-4 {
	margin-bottom:11px;
}
p.para-style-override-5 {
	margin-bottom:20px;
}
p.para-style-override-6 {
	margin-bottom:3px;
}
p.para-style-override-7, li.para-style-override-7 {
	margin-bottom:6px;
}
p.para-style-override-8 {
	text-align:right;
}
p.para-style-override-9 {
	margin-bottom:23px;
}
p.para-style-override-10 {
	margin-bottom:17px;
}
li.para-style-override-11 {
	margin-left:0px;
	text-indent:0px;
}
li.para-style-override-12 {
	margin-bottom:0px;
	margin-left:0px;
	text-indent:0px;
}
p.para-style-override-13 {
	margin-bottom:14px;
}
p.para-style-override-14 {
	text-align:right;
	text-decoration:underline;
}
p.para-style-override-15 {
	margin-bottom:9px;
}
p.para-style-override-16 {
	font-style:normal;
	font-weight:bold;
	margin-bottom:6px;
}
p.para-style-override-17 {
	font-style:italic;
	font-weight:normal;
	margin-bottom:3px;
}
p.para-style-override-18 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-19 {
	margin-left:14px;
	text-indent:-14px;
}
p.para-style-override-20 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-21 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-22 {
	margin-bottom:1px;
}
p.para-style-override-23 {
	margin-bottom:1px;
	margin-right:0px;
}
p.para-style-override-24 {
	margin-left:17px;
}
p.para-style-override-25 {
	margin-bottom:11px;
	margin-left:11px;
}
p.para-style-override-26 {
	margin-left:11px;
}
p.para-style-override-27 {
	margin-bottom:34px;
}
p.para-style-override-28 {
	margin-left:0px;
}
p.para-style-override-29 {
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-30 {
	color:#c31f45;
	text-align:center;
}
p.para-style-override-31 {
	margin-bottom:6px;
	text-indent:0px;
}
p.para-style-override-32 {
	margin-bottom:26px;
}
p.para-style-override-33 {
	text-align:left;
}
p.para-style-override-34 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-35 {
	color:#ff0000;
}
p.para-style-override-36 {
	margin-left:6px;
}
p.para-style-override-37 {
	margin-left:40px;
}
p.para-style-override-38 {
	color:#000000;
}
p.para-style-override-39 {
	color:#c31f45;
}
p.para-style-override-40 {
	margin-right:0px;
}
p.para-style-override-41 {
	color:#c31f45;
	vertical-align:super;
}
p.para-style-override-42 {
	margin-right:156px;
}
p.para-style-override-43 {
	margin-left:34px;
}
p.para-style-override-44 {
	margin-left:37px;
}
p.para-style-override-45 {
	break-after:page;
	margin-left:17px;
}
p.para-style-override-46 {
	margin-left:31px;
}
p.para-style-override-47 {
	color:#c51f45;
}
p.para-style-override-48 {
	color:#c51f45;
	text-align:right;
}
p.para-style-override-49 {
	font-size:10px;
}
p.para-style-override-50 {
	margin-left:45px;
}
p.para-style-override-51 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-52 {
	font-style:italic;
	font-weight:normal;
	margin-right:16px;
}
span.char-style-override-1 {
	color:#b07e09;
}
span.char-style-override-2 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-4 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-5 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-6 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-family:"ITC Zapf Dingbats", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	font-family:"Symbol (OTF) Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	text-decoration:underline;
}
span.char-style-override-11 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
}
span.char-style-override-12 {
	font-size:10px;
}
span.char-style-override-13 {
	color:#c31f45;
}
span.char-style-override-14 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-15 {
	font-size:9px;
}
span.char-style-override-16 {
	font-size:7px;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-17 {
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-18 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-19 {
	font-size:12px;
}
span.char-style-override-20 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-21 {
	color:#231f20;
}
span.char-style-override-22 {
	color:#ff0000;
}
span.char-style-override-23 {
	color:#000000;
}
span.char-style-override-24 {
	font-style:oblique;
	font-weight:normal;
}
span.char-style-override-25 {
	font-size:8px;
	vertical-align:super;
}
span.char-style-override-26 {
	color:#c31f45;
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-27 {
	font-family:"Times New Roman", serif;
	font-size:7px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-28 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-29 {
	font-size:7px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-30 {
	color:#231f20;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-31 {
	color:#ffffff;
}
span.char-style-override-32 {
	color:#ff0000;
	text-decoration:underline;
}
span.char-style-override-33 {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-34 {
	color:#c31f45;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-35 {
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:500;
}
span.char-style-override-36 {
	font-style:italic;
	font-weight:normal;
	text-decoration:underline;
}
span.char-style-override-37 {
	font-family:"Times New Roman MT Std", serif;
	font-style:italic;
	font-weight:bold;
}
span.char-style-override-38 {
	color:#c51f45;
}
span.char-style-override-39 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.char-style-override-40 {
	font-size:20px;
}
span.char-style-override-41 {
	vertical-align:super;
}
img.frame-1 {
	height:332px;
	width:461px;
}
col.Row-Column-2 {
	width:51px;
}
tr.Row-Column-3 {
	min-height:25px;
}
div.frame-4 {
	background-color:#ffffff;
	border-color:#b07e09;
	border-style:solid;
	border-width:0px;
	height:652px;
	width:468px;
}
div.frame-5 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:64px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-6 {
	width:5px;
}
col.Row-Column-7 {
	width:286px;
}
tr.Row-Column-8 {
	min-height:61px;
}
div.frame-9 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:160px;
}
tr.Row-Column-10 {
	min-height:40px;
}
div.frame-11 {
	height:17px;
	width:173px;
}
div.frame-12 {
	height:17px;
	width:371px;
}
div.frame-13 {
	height:17px;
	width:372px;
}
col.Row-Column-14 {
	width:46px;
}
tr.Row-Column-15 {
	min-height:19px;
}
div.frame-16 {
	height:17px;
	width:222px;
}
div.frame-17 {
	height:17px;
	width:227px;
}
div.frame-18 {
	height:20px;
	width:127px;
}
img.frame-19 {
	height:46px;
	width:430px;
}
div.frame-20 {
	height:20px;
	width:75px;
}
div.frame-21 {
	height:20px;
	width:53px;
}
img.frame-22 {
	height:24px;
	width:143px;
}
div.frame-23 {
	margin:0px auto 0px 0px;
	text-align:left;
}
img.frame-24 {
	height:27px;
	width:9px;
}
div.frame-25 {
	height:20px;
	width:231px;
}
img.frame-26 {
	height:30px;
	width:34px;
}
col.Row-Column-27 {
	width:221px;
}
col.Row-Column-28 {
	width:57px;
}
tr.Row-Column-29 {
	min-height:36px;
}
tr.Row-Column-30 {
	min-height:51px;
}
div.frame-31 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:47px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-32 {
	height:17px;
	width:18px;
}
img.frame-33 {
	height:17px;
	width:25px;
}
div.frame-34 {
	height:20px;
	width:317px;
}
div.frame-35 {
	height:20px;
	width:154px;
}
div.frame-36 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:76px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-37 {
	height:20px;
	width:311px;
}
div.frame-38 {
	height:20px;
	width:304px;
}
div.frame-39 {
	height:20px;
	width:285px;
}
div.frame-40 {
	height:20px;
	width:206px;
}
div.frame-41 {
	height:20px;
	width:161px;
}
div.frame-42 {
	height:20px;
	width:181px;
}
col.Row-Column-43 {
	width:63px;
}
col.Row-Column-44 {
	width:37px;
}
col.Row-Column-45 {
	width:273px;
}
tr.Row-Column-46 {
	min-height:17px;
}
div.frame-47 {
	height:20px;
	width:237px;
}
div.frame-48 {
	height:20px;
	width:286px;
}
col.Row-Column-49 {
	width:45px;
}
col.Row-Column-50 {
	width:265px;
}
col.Row-Column-51 {
	width:56px;
}
col.Row-Column-52 {
	width:50px;
}
div.frame-53 {
	height:20px;
	width:315px;
}
div.frame-54 {
	height:20px;
	width:294px;
}
col.Row-Column-55 {
	width:68px;
}
col.Row-Column-56 {
	width:353px;
}
div.frame-57 {
	height:20px;
	width:246px;
}
div.frame-58 {
	height:20px;
	width:239px;
}
div.frame-59 {
	height:20px;
	width:230px;
}
tr.Row-Column-60 {
	min-height:16px;
}
div.frame-61 {
	border-style:solid;
	border-width:1px;
	height:49px;
	width:46px;
}
div.frame-62 {
	height:20px;
	width:117px;
}
col.Row-Column-63 {
	width:107px;
}
col.Row-Column-64 {
	width:43px;
}
col.Row-Column-65 {
	width:317px;
}
img.frame-66 {
	height:27px;
	width:16px;
}
img.frame-67 {
	height:27px;
	width:15px;
}
col.Row-Column-68 {
	width:82px;
}
col.Row-Column-69 {
	width:129px;
}
tr.Row-Column-70 {
	min-height:15px;
}
col.Row-Column-71 {
	width:48px;
}
col.Row-Column-72 {
	width:30px;
}
col.Row-Column-73 {
	width:44px;
}
div.frame-74 {
	border-style:solid;
	border-width:1px;
	height:136px;
	width:123px;
}
div.frame-75 {
	height:20px;
	width:47px;
}
div.frame-76 {
	height:20px;
	width:132px;
}
col.Row-Column-77 {
	width:301px;
}
tr.Row-Column-78 {
	min-height:110px;
}
div.frame-79 {
	height:20px;
	width:91px;
}
div.frame-80 {
	height:20px;
	width:66px;
}
tr.Row-Column-81 {
	min-height:122px;
}
div.frame-82 {
	height:20px;
	width:99px;
}
col.Row-Column-83 {
	width:138px;
}
tr.Row-Column-84 {
	min-height:22px;
}
div.frame-85 {
	height:20px;
	width:292px;
}
div.frame-86 {
	height:20px;
	width:123px;
}
div.frame-87 {
	height:20px;
	width:273px;
}
div.frame-88 {
	height:20px;
	width:116px;
}
div.frame-89 {
	height:20px;
	width:90px;
}
img.frame-90 {
	height:27px;
	width:49px;
}
img.frame-91 {
	height:30px;
	width:77px;
}
col.Row-Column-92 {
	width:159px;
}
col.Row-Column-93 {
	width:58px;
}
div.frame-94 {
	height:20px;
	width:115px;
}
div.frame-95 {
	height:20px;
	width:367px;
}
img.frame-96 {
	height:5px;
	width:467px;
}
div.frame-97 {
	height:20px;
	width:203px;
}
img.frame-98 {
	height:27px;
	width:22px;
}
tr.Row-Column-99 {
	min-height:59px;
}
div.frame-100 {
	height:20px;
	width:268px;
}
div.frame-101 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:20px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-102 {
	width:113px;
}
col.Row-Column-103 {
	width:49px;
}
col.Row-Column-104 {
	width:88px;
}
div.frame-105 {
	height:20px;
	width:287px;
}
div.frame-106 {
	height:20px;
	width:207px;
}
img.frame-107 {
	height:23px;
	width:20px;
}
img.frame-108 {
	height:652px;
	width:468px;
}
img.frame-109 {
	height:27px;
	width:11px;
}
tr.Row-Column-110 {
	min-height:67px;
}
col.Row-Column-111 {
	width:72px;
}
col.Row-Column-112 {
	width:131px;
}
col.Row-Column-113 {
	width:263px;
}
tr.Row-Column-114 {
	min-height:49px;
}
tr.Row-Column-115 {
	min-height:31px;
}
div.frame-116 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:35px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-117 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:21px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-118 {
	height:2px;
	width:25px;
}
div.frame-119 {
	height:5px;
	width:27px;
}
div.frame-120 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:19px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-121 {
	min-height:42px;
}
tr.Row-Column-122 {
	min-height:56px;
}
tr.Row-Column-123 {
	min-height:26px;
}
tr.Row-Column-124 {
	min-height:124px;
}
div.frame-125 {
	height:17px;
	width:65px;
}
col.Row-Column-126 {
	width:462px;
}
tr.Row-Column-127 {
	min-height:160px;
}
tr.Row-Column-128 {
	min-height:58px;
}
col.Row-Column-129 {
	width:42px;
}
col.Row-Column-130 {
	width:32px;
}
col.Row-Column-131 {
	width:33px;
}
img.frame-132 {
	height:17px;
	width:15px;
}
div.frame-133 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:54px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-134 {
	width:296px;
}
tr.Row-Column-135 {
	min-height:146px;
}
img.frame-136 {
	height:17px;
	width:19px;
}
img.frame-137 {
	height:17px;
	width:23px;
}
img.frame-138 {
	height:17px;
	width:31px;
}
img.frame-139 {
	height:30px;
	width:44px;
}
img.frame-140 {
	height:32px;
	width:40px;
}
img.frame-141 {
	height:29px;
	width:24px;
}
img.frame-142 {
	height:27px;
	width:32px;
}
img.frame-143 {
	height:27px;
	width:17px;
}
img.frame-144 {
	height:27px;
	width:7px;
}
img.frame-145 {
	height:27px;
	width:14px;
}
img.frame-146 {
	height:25px;
	width:409px;
}
div.frame-147 {
	height:17px;
	width:144px;
}
div.frame-148 {
	height:17px;
	width:197px;
}
div.frame-149 {
	height:17px;
	width:192px;
}
div.frame-150 {
	height:17px;
	width:185px;
}
div.frame-151 {
	height:17px;
	width:158px;
}
div.frame-152 {
	height:17px;
	width:164px;
}
img.frame-153 {
	height:65px;
	width:373px;
}
div.frame-154 {
	height:17px;
	width:130px;
}
div.frame-155 {
	height:17px;
	width:136px;
}
div.frame-156 {
	height:17px;
	width:147px;
}
div.frame-157 {
	height:17px;
	width:180px;
}
div.frame-158 {
	height:17px;
	width:248px;
}
div.frame-159 {
	height:17px;
	width:247px;
}
img.frame-160 {
	height:19px;
	width:370px;
}
div.frame-161 {
	height:17px;
	width:266px;
}
div.frame-162 {
	height:17px;
	width:346px;
}
col.Row-Column-163 {
	width:112px;
}
tr.Row-Column-164 {
	min-height:21px;
}
img.frame-165 {
	height:30px;
	width:23px;
}
tr.Row-Column-166 {
	min-height:126px;
}
img.frame-167 {
	height:27px;
	width:8px;
}
img.frame-168 {
	height:27px;
	width:10px;
}
div.frame-169 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:106px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-170 {
	width:207px;
}
col.Row-Column-171 {
	width:134px;
}
col.Row-Column-172 {
	width:125px;
}
img.frame-173 {
	height:30px;
	width:26px;
}
img.frame-174 {
	height:30px;
	width:37px;
}
img.frame-175 {
	height:27px;
	width:23px;
}
tr.Row-Column-176 {
	min-height:151px;
}
img.frame-177 {
	height:30px;
	width:31px;
}
img.frame-178 {
	height:27px;
	width:21px;
}
img.frame-179 {
	height:30px;
	width:35px;
}
img.frame-180 {
	height:30px;
	width:24px;
}
img.frame-181 {
	height:28px;
	width:11px;
}
tr.Row-Column-182 {
	min-height:29px;
}
img.frame-183 {
	height:27px;
	width:20px;
}
img.frame-184 {
	height:27px;
	width:29px;
}
img.frame-185 {
	height:27px;
	width:13px;
}
img.frame-186 {
	height:27px;
	width:12px;
}
img.frame-187 {
	height:30px;
	width:28px;
}
img.frame-188 {
	height:30px;
	width:30px;
}
img.frame-189 {
	height:25px;
	width:29px;
}
img.frame-190 {
	height:30px;
	width:29px;
}
img.frame-191 {
	height:28px;
	width:29px;
}
img.frame-192 {
	height:472px;
	width:51px;
}
div.frame-193 {
	height:17px;
	width:66px;
}
img.frame-194 {
	height:24px;
	width:22px;
}
col.Row-Column-195 {
	width:150px;
}
tr.Row-Column-196 {
	min-height:35px;
}
div.frame-197 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-198 {
	min-height:276px;
}
img.frame-199 {
	height:25px;
	width:16px;
}
img.frame-200 {
	height:25px;
	width:15px;
}
img.frame-201 {
	height:25px;
	width:30px;
}
img.frame-202 {
	height:23px;
	width:29px;
}
img.frame-203 {
	height:22px;
	width:9px;
}
img.frame-204 {
	height:23px;
	width:22px;
}
img.frame-205 {
	height:27px;
	width:41px;
}
img.frame-206 {
	height:24px;
	width:30px;
}
img.frame-207 {
	height:26px;
	width:29px;
}
img.frame-208 {
	height:23px;
	width:16px;
}
img.frame-209 {
	height:27px;
	width:25px;
}
tr.Row-Column-210 {
	min-height:267px;
}
img.frame-211 {
	height:29px;
	width:21px;
}
img.frame-212 {
	height:29px;
	width:22px;
}
img.frame-213 {
	height:27px;
	width:18px;
}
img.frame-214 {
	height:136px;
	width:280px;
}
img.frame-215 {
	height:18px;
	width:35px;
}
img.frame-216 {
	height:18px;
	width:34px;
}
img.frame-217 {
	height:20px;
	width:41px;
}
img.frame-218 {
	height:20px;
	width:39px;
}
img.frame-219 {
	height:20px;
	width:40px;
}
img.frame-220 {
	height:26px;
	width:47px;
}
div.frame-221 {
	height:18px;
	width:228px;
}
img.frame-222 {
	height:30px;
	width:66px;
}
img.frame-223 {
	height:21px;
	width:50px;
}
img.frame-224 {
	height:30px;
	width:53px;
}
img.frame-225 {
	height:21px;
	width:55px;
}
img.frame-226 {
	height:21px;
	width:46px;
}
img.frame-227 {
	height:29px;
	width:26px;
}
img.frame-228 {
	height:29px;
	width:31px;
}
img.frame-229 {
	height:28px;
	width:30px;
}
img.frame-230 {
	height:28px;
	width:35px;
}
img.frame-231 {
	height:28px;
	width:22px;
}
img.frame-232 {
	height:29px;
	width:25px;
}
img.frame-233 {
	height:31px;
	width:30px;
}
img.frame-234 {
	height:30px;
	width:36px;
}
img.frame-235 {
	height:28px;
	width:17px;
}
img.frame-236 {
	height:31px;
	width:27px;
}
img.frame-237 {
	height:30px;
	width:16px;
}
img.frame-238 {
	height:28px;
	width:32px;
}
img.frame-239 {
	height:28px;
	width:26px;
}
tr.Row-Column-240 {
	min-height:32px;
}
img.frame-241 {
	height:32px;
	width:34px;
}
img.frame-242 {
	height:33px;
	width:44px;
}
img.frame-243 {
	height:29px;
	width:28px;
}
img.frame-244 {
	height:31px;
	width:51px;
}
col.Row-Column-245 {
	width:233px;
}
tr.Row-Column-246 {
	min-height:53px;
}
tr.Row-Column-247 {
	min-height:48px;
}
tr.Row-Column-248 {
	min-height:24px;
}
col.Row-Column-249 {
	width:40px;
}
col.Row-Column-250 {
	width:65px;
}
col.Row-Column-251 {
	width:90px;
}
tr.Row-Column-252 {
	min-height:73px;
}
col.Row-Column-253 {
	width:41px;
}
col.Row-Column-254 {
	width:64px;
}
tr.Row-Column-255 {
	min-height:52px;
}
col.Row-Column-256 {
	width:23px;
}
img.frame-257 {
	height:23px;
	width:7px;
}
img.frame-258 {
	height:24px;
	width:8px;
}
img.frame-259 {
	height:22px;
	width:7px;
}
img.frame-260 {
	height:27px;
	width:27px;
}
img.frame-261 {
	height:30px;
	width:69px;
}
col.Row-Column-262 {
	width:101px;
}
img.frame-263 {
	height:29px;
	width:27px;
}
img.frame-264 {
	height:28px;
	width:21px;
}
img.frame-265 {
	height:28px;
	width:16px;
}
img.frame-266 {
	height:28px;
	width:25px;
}
img.frame-267 {
	height:31px;
	width:26px;
}
img.frame-268 {
	height:31px;
	width:25px;
}
img.frame-269 {
	height:31px;
	width:24px;
}
img.frame-270 {
	height:28px;
	width:28px;
}
img.frame-271 {
	height:25px;
	width:19px;
}
col.Row-Column-272 {
	width:95px;
}
tr.Row-Column-273 {
	min-height:106px;
}
img.frame-274 {
	height:87px;
	width:394px;
}
img.frame-275 {
	height:142px;
	width:74px;
}
col.Row-Column-276 {
	width:147px;
}
img.frame-277 {
	height:90px;
	width:397px;
}
col.Row-Column-278 {
	width:164px;
}
col.Row-Column-279 {
	width:35px;
}
img.frame-280 {
	height:96px;
	width:149px;
}
img.frame-281 {
	height:142px;
	width:142px;
}
col.Row-Column-282 {
	width:38px;
}
col.Row-Column-283 {
	width:146px;
}
col.Row-Column-284 {
	width:31px;
}
img.frame-285 {
	height:62px;
	width:183px;
}
div.frame-286 {
	height:18px;
	width:61px;
}
col.Row-Column-287 {
	width:467px;
}
tr.Row-Column-288 {
	height:3px;
}
col.Row-Column-289 {
	width:145px;
}
img.frame-290 {
	height:130px;
	width:459px;
}
img.frame-291 {
	height:110px;
	width:389px;
}
col.Row-Column-292 {
	width:190px;
}
tr.Row-Column-293 {
	min-height:14px;
}
div.frame-294 {
	height:18px;
	width:23px;
}
div.frame-295 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:49px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-296 {
	min-height:156px;
}
div.frame-297 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:64px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-298 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:89px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-299 {
	height:18px;
	width:341px;
}
div.frame-300 {
	height:18px;
	width:365px;
}
div.frame-301 {
	height:18px;
	width:360px;
}
div.frame-302 {
	height:18px;
	width:344px;
}
div.frame-303 {
	height:18px;
	width:355px;
}
col.Row-Column-304 {
	width:106px;
}
col.Row-Column-305 {
	width:36px;
}
col.Row-Column-306 {
	width:103px;
}
col.Row-Column-307 {
	width:53px;
}
col.Row-Column-308 {
	width:39px;
}
tr.Row-Column-309 {
	min-height:202px;
}
col.Row-Column-310 {
	width:85px;
}
col.Row-Column-311 {
	width:102px;
}
tr.Row-Column-312 {
	min-height:41px;
}
div.frame-313 {
	height:18px;
	width:58px;
}
col.Row-Column-314 {
	width:18px;
}
col.Row-Column-315 {
	width:104px;
}
div.frame-316 {
	height:18px;
	width:180px;
}
div.frame-317 {
	height:18px;
	width:401px;
}
div.frame-318 {
	height:18px;
	width:70px;
}
col.Row-Column-319 {
	width:209px;
}
col.Row-Column-320 {
	width:34px;
}
col.Row-Column-321 {
	width:59px;
}
div.frame-322 {
	height:18px;
	width:187px;
}
div.frame-323 {
	height:18px;
	width:75px;
}
div.frame-324 {
	height:18px;
	width:408px;
}
div.frame-325 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-326 {
	min-height:72px;
}
div.frame-327 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-328 {
	min-height:174px;
}
img.frame-329 {
	height:113px;
	width:187px;
}
div.frame-330 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:77px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-331 {
	width:60px;
}
img.frame-332 {
	height:658px;
	width:460px;
}
img.frame-333 {
	height:517px;
	width:460px;
}
img.frame-334 {
	height:114px;
	width:219px;
}
img.frame-335 {
	height:477px;
	width:466px;
}
img.frame-336 {
	height:462px;
	width:466px;
}
img.frame-337 {
	height:114px;
	width:212px;
}
img.frame-338 {
	height:26px;
	width:11px;
}
tr.Row-Column-339 {
	min-height:28px;
}
img.frame-340 {
	height:462px;
	width:465px;
}
img.frame-341 {
	height:114px;
	width:218px;
}
img.frame-342 {
	height:504px;
	width:465px;
}
img.frame-343 {
	height:114px;
	width:221px;
}
col.Row-Column-344 {
	width:71px;
}
img.frame-345 {
	height:475px;
	width:465px;
}
img.frame-346 {
	height:114px;
	width:216px;
}
img.frame-347 {
	height:477px;
	width:464px;
}
img.frame-348 {
	height:636px;
	width:466px;
}
col.Row-Column-349 {
	width:169px;
}
col.Row-Column-350 {
	width:92px;
}
img.frame-351 {
	height:20px;
	width:149px;
}
tr.Row-Column-352 {
	min-height:46px;
}
tr.Row-Column-353 {
	min-height:39px;
}
tr.Row-Column-354 {
	min-height:43px;
}
col.Row-Column-355 {
	width:84px;
}
col.Row-Column-356 {
	width:86px;
}
col.Row-Column-357 {
	width:136px;
}
col.Row-Column-358 {
	width:96px;
}
div.frame-359 {
	height:17px;
	width:32px;
}
img.frame-360 {
	height:23px;
	width:11px;
}
div.frame-361 {
	height:17px;
	width:182px;
}
div.frame-362 {
	height:17px;
	width:137px;
}
col.Row-Column-363 {
	width:157px;
}
img.frame-364 {
	height:31px;
	width:80px;
}
img.frame-365 {
	height:32px;
	width:61px;
}
col.Row-Column-366 {
	width:52px;
}
col.Row-Column-367 {
	width:133px;
}
div.frame-368 {
	height:17px;
	width:120px;
}
tr.Row-Column-369 {
	min-height:90px;
}
div.frame-370 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:132px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-371 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:148px;
}
col.Row-Column-372 {
	width:201px;
}
div.frame-373 {
	height:17px;
	width:302px;
}
div.frame-374 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-375 {
	height:17px;
	width:335px;
}
div.frame-376 {
	height:17px;
	width:287px;
}
col.Row-Column-377 {
	width:77px;
}
col.Row-Column-378 {
	width:124px;
}
div.frame-379 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:106px;
	padding:6px 4px 6px 4px;
	width:164px;
}
img.frame-380 {
	height:21px;
	width:37px;
}
img.frame-381 {
	height:19px;
	width:30px;
}
img.frame-382 {
	height:21px;
	width:43px;
}
img.frame-383 {
	height:19px;
	width:41px;
}
img.frame-384 {
	height:21px;
	width:75px;
}
img.frame-385 {
	height:19px;
	width:35px;
}
img.frame-386 {
	height:21px;
	width:36px;
}
img.frame-387 {
	height:21px;
	width:38px;
}
img.frame-388 {
	height:19px;
	width:37px;
}
img.frame-389 {
	height:21px;
	width:45px;
}
img.frame-390 {
	height:19px;
	width:52px;
}
img.frame-391 {
	height:21px;
	width:76px;
}
img.frame-392 {
	height:19px;
	width:42px;
}
div.frame-393 {
	height:17px;
	width:63px;
}
tr.Row-Column-394 {
	min-height:93px;
}
div.frame-395 {
	height:17px;
	width:93px;
}
img.frame-396 {
	height:30px;
	width:14px;
}
img.frame-397 {
	height:28px;
	width:71px;
}
img.frame-398 {
	height:28px;
	width:27px;
}
img.frame-399 {
	height:29px;
	width:51px;
}
img.frame-400 {
	height:29px;
	width:50px;
}
img.frame-401 {
	height:29px;
	width:55px;
}
img.frame-402 {
	height:29px;
	width:57px;
}
img.frame-403 {
	height:29px;
	width:16px;
}
div.frame-404 {
	height:17px;
	width:52px;
}
div.frame-405 {
	height:17px;
	width:239px;
}
img.frame-406 {
	height:29px;
	width:53px;
}
img.frame-407 {
	height:29px;
	width:52px;
}
col.Row-Column-408 {
	width:165px;
}
img.frame-409 {
	height:27px;
	width:38px;
}
img.frame-410 {
	height:28px;
	width:41px;
}
img.frame-411 {
	height:29px;
	width:41px;
}
tr.Row-Column-412 {
	min-height:37px;
}
img.frame-413 {
	height:29px;
	width:37px;
}
div.frame-414 {
	height:17px;
	width:59px;
}
div.frame-415 {
	height:17px;
	width:62px;
}
img.frame-416 {
	height:28px;
	width:49px;
}
img.frame-417 {
	height:29px;
	width:58px;
}
div.frame-418 {
	height:17px;
	width:61px;
}
img.frame-419 {
	height:29px;
	width:69px;
}
div.frame-420 {
	height:17px;
	width:58px;
}
img.frame-421 {
	height:29px;
	width:43px;
}
col.Row-Column-422 {
	width:54px;
}
img.frame-423 {
	height:29px;
	width:54px;
}
tr.Row-Column-424 {
	min-height:34px;
}
img.frame-425 {
	height:29px;
	width:47px;
}
img.frame-426 {
	height:28px;
	width:103px;
}
img.frame-427 {
	height:29px;
	width:108px;
}
col.Row-Column-428 {
	width:170px;
}
col.Row-Column-429 {
	width:55px;
}
col.Row-Column-430 {
	width:192px;
}
col.Row-Column-431 {
	width:47px;
}
img.frame-432 {
	height:29px;
	width:48px;
}
col.Row-Column-433 {
	width:98px;
}
img.frame-434 {
	height:20px;
	width:129px;
}
img.frame-435 {
	height:20px;
	width:189px;
}
img.frame-436 {
	height:108px;
	width:207px;
}
div.frame-437 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:93px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-438 {
	height:114px;
	width:195px;
}
div.frame-439 {
	background-color:#f5ebdb;
	border-style:solid;
	border-width:1px;
	height:50px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-440 {
	height:17px;
	width:104px;
}
img.frame-441 {
	height:17px;
	width:128px;
}
col.Row-Column-442 {
	width:184px;
}
col.Row-Column-443 {
	width:17px;
}
col.Row-Column-444 {
	width:22px;
}
div.frame-445 {
	height:17px;
	width:181px;
}
col.Row-Column-446 {
	width:224px;
}
col.Row-Column-447 {
	width:70px;
}
col.Row-Column-448 {
	width:223px;
}
div.frame-449 {
	height:17px;
	width:95px;
}
div.frame-450 {
	height:17px;
	width:217px;
}
col.Row-Column-451 {
	width:73px;
}
col.Row-Column-452 {
	width:25px;
}
col.Row-Column-453 {
	width:14px;
}
img.frame-454 {
	height:59px;
	width:10px;
}
img.frame-455 {
	height:30px;
	width:12px;
}
img.frame-456 {
	height:30px;
	width:18px;
}
img.frame-457 {
	height:33px;
	width:28px;
}
img.frame-458 {
	height:35px;
	width:11px;
}
img.frame-459 {
	height:35px;
	width:13px;
}
img.frame-460 {
	height:83px;
	width:218px;
}
img.frame-461 {
	height:1px;
	width:1px;
}
col.Row-Column-462 {
	width:16px;
}
col.Row-Column-463 {
	width:75px;
}
col.Row-Column-464 {
	width:127px;
}
col.Row-Column-465 {
	width:148px;
}
img.frame-466 {
	height:19px;
	width:31px;
}
img.frame-467 {
	height:33px;
	width:140px;
}
img.frame-468 {
	height:31px;
	width:54px;
}
img.frame-469 {
	height:27px;
	width:36px;
}
img.frame-470 {
	height:31px;
	width:53px;
}
img.frame-471 {
	height:29px;
	width:42px;
}
img.frame-472 {
	height:30px;
	width:21px;
}
img.frame-473 {
	height:27px;
	width:40px;
}
img.frame-474 {
	height:28px;
	width:24px;
}
img.frame-475 {
	height:30px;
	width:48px;
}
img.frame-476 {
	height:131px;
	width:113px;
}
col.Row-Column-477 {
	width:176px;
}
img.frame-478 {
	height:100px;
	width:267px;
}
img.frame-479 {
	height:100px;
	width:301px;
}
img.frame-480 {
	height:300px;
	width:299px;
}
img.frame-481 {
	height:87px;
	width:162px;
}
img.frame-482 {
	height:27px;
	width:69px;
}
img.frame-483 {
	height:29px;
	width:88px;
}
col.Row-Column-484 {
	width:74px;
}
col.Row-Column-485 {
	width:80px;
}
col.Row-Column-486 {
	width:69px;
}
img.frame-487 {
	height:31px;
	width:49px;
}
img.frame-488 {
	height:27px;
	width:26px;
}
img.frame-489 {
	height:149px;
	width:338px;
}
col.Row-Column-490 {
	width:28px;
}
