body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.worksheet-text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.caption {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd Medium", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:6px;
}
p.Body {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Body-investigation {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-investigation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.Head-B {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.882;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:23px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.Body-content {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:9px;
}
p.Body-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-no-indent {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:14px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.Body-content-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:6px;
	margin-right:6px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-hanging {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-C {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.154;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-investigation-spaced {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-opener-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Table-header-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.05;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.M6 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.522;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.Monepoint {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.087;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
p.x--Answer-text-dotted-line-below {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Answer-text-dotted-last-line {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:28px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ques-a- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Side-table-space {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:11px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body-box-numbers {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:450;
	line-height:1.333;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-extension--no-rule- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:4px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--2-space-below {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.worksheet-text-2-column {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x--Body-box-no-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"News Gothic Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Head-A-2-lines {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSansITCStd SemiBold", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.625;
	margin-bottom:17px;
	margin-left:57px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
}
p.Head-investigation-after-B-head {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:8px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
li.Body-bullet-Left-indent {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:31px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.ques-a--3-columns {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.x-Answer-text-dotted-last-line--COPY-LINE- {
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Worksheet-Table-Head {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.071;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-centred {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Table-text-left {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.304;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-worksheet-line {
	-epub-ruby-position:over;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:9px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.ANSWERS-Worksheet-text {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#c31f45;
	font-family:"Tekton Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.071;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
li.Body-bullet-2nd-level {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:31px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
p.ques-a--2-column-with-answers {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:6px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Head-investigation--2-lines- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:11px;
	margin-left:3px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}
p.ques-a--4-column {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.ques-a--2-column {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.ques-a--2-column-narrow {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:0px;
	margin-left:17px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
}
p.Normal {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.05;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.M9 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.783;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:11px;
}
li.Body-bullet-after--a- {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#000000;
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.391;
	margin-bottom:2px;
	margin-left:52px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
}
span.chapter-no {
	color:#b25538;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.M-Body-text-Char {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.Chapter-number-colour {
	color:#b25538;
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.Bodytext-Bold {
	font-style:normal;
	font-weight:bold;
}
span.Body-box-italic {
	font-style:italic;
	font-weight:normal;
}
span.Body-box-bold {
	font-style:normal;
	font-weight:bold;
}
span.Stoneserif-italic-Extension-box {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.Table-head-Bold-italic-variable {
	font-family:"ITC Stone Serif", serif;
	font-style:italic;
	font-weight:600;
}
span.Head-Invest-variable-bold-italic {
	font-family:"ITC Stone Serif", serif;
	font-style:italic;
	font-variant:normal;
	font-weight:600;
}
table.table-style-override-1 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	padding-bottom:4px;
	padding-left:0px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-2 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-3 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-4 {
	padding-bottom:0px;
	padding-left:4px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-5 {
	padding-bottom:4px;
	padding-left:3px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-6 {
	background-color:#642d10;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-7 {
	padding-bottom:0px;
	padding-left:6px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-8 {
	background-color:#c3a998;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-9 {
	padding-bottom:0px;
	padding-right:0px;
	padding-top:0px;
}
td.cell-style-override-10 {
	background-color:#e6dbd4;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-11 {
	padding-bottom:4px;
	padding-left:26px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-12 {
	padding-bottom:4px;
	padding-left:20px;
	padding-right:4px;
	padding-top:4px;
}
td.cell-style-override-13 {
	background-color:#ffffff;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-14 {
	padding-bottom:3px;
	padding-left:4px;
	padding-right:3px;
	padding-top:3px;
}
td.cell-style-override-15 {
	padding-bottom:10px;
	padding-left:4px;
	padding-right:10px;
	padding-top:1px;
}
td.cell-style-override-16 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:6px;
}
td.cell-style-override-17 {
	padding-left:0px;
}
p.para-style-override-1 {
	break-after:page;
}
p.para-style-override-2 {
	margin-bottom:17px;
}
p.para-style-override-3 {
	margin-bottom:3px;
}
p.para-style-override-4, li.para-style-override-4 {
	margin-bottom:0px;
}
p.para-style-override-5 {
	margin-bottom:6px;
}
p.para-style-override-6 {
	margin-bottom:14px;
}
p.para-style-override-7 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-8 {
	margin-bottom:3px;
	margin-left:40px;
}
p.para-style-override-9 {
	margin-left:40px;
}
p.para-style-override-10 {
	margin-bottom:11px;
}
p.para-style-override-11 {
	font-style:italic;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-12 {
	margin-left:0px;
}
p.para-style-override-13 {
	margin-bottom:23px;
}
p.para-style-override-14 {
	text-align:center;
}
p.para-style-override-15 {
	margin-left:28px;
}
p.para-style-override-16, li.para-style-override-16 {
	margin-bottom:9px;
}
p.para-style-override-17 {
	font-size:11px;
	text-transform:uppercase;
}
p.para-style-override-18 {
	color:#ff0000;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
p.para-style-override-19 {
	font-style:normal;
	font-weight:bold;
}
p.para-style-override-20 {
	margin-bottom:4px;
}
p.para-style-override-21 {
	margin-bottom:7px;
}
p.para-style-override-22 {
	margin-left:40px;
	text-indent:-26px;
}
p.para-style-override-23 {
	text-align:left;
}
p.para-style-override-24 {
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-25 {
	margin-bottom:14px;
	text-align:center;
}
p.para-style-override-26 {
	margin-bottom:11px;
	text-align:center;
}
p.para-style-override-27 {
	margin-bottom:20px;
}
p.para-style-override-28 {
	margin-left:23px;
}
p.para-style-override-29 {
	margin-left:20px;
}
p.para-style-override-30 {
	margin-left:31px;
}
p.para-style-override-31 {
	margin-left:43px;
}
p.para-style-override-32 {
	font-style:italic;
	font-weight:normal;
	margin-bottom:11px;
}
p.para-style-override-33 {
	vertical-align:super;
}
p.para-style-override-34 {
	margin-bottom:0px;
	vertical-align:super;
}
p.para-style-override-35 {
	margin-left:17px;
}
p.para-style-override-36 {
	color:#c31f45;
}
p.para-style-override-37 {
	margin-left:11px;
}
p.para-style-override-38 {
	margin-bottom:6px;
	margin-left:17px;
}
p.para-style-override-39 {
	margin-left:0px;
	text-indent:0px;
}
li.para-style-override-40 {
	margin-left:54px;
}
p.para-style-override-41 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
	margin-bottom:3px;
	margin-left:40px;
	text-indent:-40px;
}
p.para-style-override-42 {
	margin-bottom:26px;
}
li.para-style-override-43 {
	margin-left:45px;
}
p.para-style-override-44 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
	margin-bottom:3px;
}
p.para-style-override-45 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
	margin-bottom:3px;
	text-indent:9px;
}
p.para-style-override-46 {
	margin-bottom:3px;
	text-indent:9px;
}
p.para-style-override-47 {
	margin-bottom:28px;
}
p.para-style-override-48 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-49 {
	font-size:12px;
	margin-left:17px;
	text-indent:-17px;
}
p.para-style-override-50 {
	margin-left:20px;
	text-indent:-19px;
}
p.para-style-override-51 {
	text-align:right;
}
p.para-style-override-52 {
	color:#231f20;
}
p.para-style-override-53 {
	font-size:12px;
	margin-left:17px;
	text-align:center;
	text-indent:-17px;
}
p.para-style-override-54 {
	break-after:page;
	text-align:center;
}
p.para-style-override-55 {
	font-size:12px;
}
p.para-style-override-56 {
	color:#ff0000;
}
p.para-style-override-57 {
	margin-left:17px;
	text-indent:-17px;
}
p.para-style-override-58 {
	color:#ff0000;
	margin-bottom:14px;
}
p.para-style-override-59 {
	margin-right:170px;
}
p.para-style-override-60 {
	margin-left:3px;
}
p.para-style-override-61 {
	color:#ff0000;
	margin-bottom:0px;
}
p.para-style-override-62 {
	color:#ff0000;
	margin-bottom:6px;
}
span.char-style-override-1 {
	color:#642d10;
}
span.char-style-override-2 {
	font-family:"ITC Stone Sans Std Bold", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-4 {
	color:#c31f45;
}
span.char-style-override-5 {
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-6 {
	font-size:7px;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-7 {
	color:#231f20;
}
span.char-style-override-8 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-9 {
	font-size:10px;
	vertical-align:super;
}
span.char-style-override-10 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:14.173228346456694px;
}
span.char-style-override-11 {
	font-family:"Caecilia LT Std Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-13 {
	font-size:6px;
	vertical-align:super;
}
span.char-style-override-14 {
	font-size:11px;
	text-transform:uppercase;
}
span.char-style-override-15 {
	font-size:7px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.char-style-override-16 {
	font-family:Wingdings, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-17 {
	color:#ff0000;
}
span.char-style-override-18 {
	font-family:"Mathematical Pi LT Std Regular", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-19 {
	font-family:StoneSerITCStd, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-20 {
	font-family:"ITC Stone Sans Std Medium", sans-serif;
	font-style:normal;
	font-weight:450;
}
span.char-style-override-21 {
	color:#ff0000;
	font-size:7px;
	vertical-align:super;
}
span.char-style-override-22 {
	font-family:"ITC Zapf Dingbats Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-23 {
	color:#231f20;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-24 {
	font-size:7px;
	vertical-align:sub;
}
span.char-style-override-25 {
	font-style:italic;
	font-weight:bold;
}
span.char-style-override-26 {
	text-decoration:underline;
}
span.char-style-override-27 {
	color:#000000;
	font-family:"CG Times", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-28 {
	font-size:6px;
	vertical-align:sub;
}
span.char-style-override-29 {
	font-size:7px;
	font-style:italic;
	font-weight:normal;
	vertical-align:sub;
}
span.char-style-override-30 {
	font-size:12px;
}
span.char-style-override-31 {
	font-family:"ITC Stone Sans Std", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-32 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-33 {
	font-family:"StoneSerITCStd Medium", serif;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-34 {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-35 {
	font-size:9px;
}
span.char-style-override-36 {
	font-family:"StoneSerITCStd Medium", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-37 {
	font-size:10px;
}
span.char-style-override-38 {
	color:#ff0000;
	font-size:9px;
}
span.char-style-override-39 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-40 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-41 {
	color:#ff0000;
	font-family:Wingdings, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-42 {
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-43 {
	color:#ff0000;
	text-decoration:underline;
}
img.frame-1 {
	height:652px;
	width:468px;
}
div.frame-2 {
	height:17px;
	width:291px;
}
div.frame-3 {
	height:17px;
	width:193px;
}
div.frame-4 {
	height:17px;
	width:166px;
}
div.frame-5 {
	height:17px;
	width:199px;
}
div.frame-6 {
	height:17px;
	width:213px;
}
col.Row-Column-7 {
	width:23px;
}
col.Row-Column-8 {
	width:120px;
}
col.Row-Column-9 {
	width:75px;
}
tr.Row-Column-10 {
	min-height:19px;
}
img.frame-11 {
	height:20px;
	width:119px;
}
img.frame-12 {
	height:20px;
	width:167px;
}
div.frame-13 {
	height:17px;
	width:243px;
}
img.frame-14 {
	height:20px;
	width:214px;
}
div.frame-15 {
	height:17px;
	width:196px;
}
col.Row-Column-16 {
	width:234px;
}
col.Row-Column-17 {
	width:48px;
}
img.frame-18 {
	height:5px;
	width:467px;
}
col.Row-Column-19 {
	width:152px;
}
col.Row-Column-20 {
	width:49px;
}
tr.Row-Column-21 {
	min-height:22px;
}
img.frame-22 {
	height:250px;
	width:229px;
}
div.frame-23 {
	margin:0px auto 0px 0px;
	text-align:left;
}
img.frame-24 {
	height:32px;
	width:340px;
}
col.Row-Column-25 {
	width:215px;
}
col.Row-Column-26 {
	width:41px;
}
tr.Row-Column-27 {
	min-height:17px;
}
div.frame-28 {
	height:17px;
	width:151px;
}
col.Row-Column-29 {
	width:207px;
}
col.Row-Column-30 {
	width:40px;
}
col.Row-Column-31 {
	width:35px;
}
img.frame-32 {
	height:402px;
	width:370px;
}
col.Row-Column-33 {
	width:56px;
}
col.Row-Column-34 {
	width:24px;
}
col.Row-Column-35 {
	width:104px;
}
col.Row-Column-36 {
	width:33px;
}
img.frame-37 {
	height:250px;
	width:237px;
}
div.frame-38 {
	height:17px;
	width:402px;
}
col.Row-Column-39 {
	width:46px;
}
tr.Row-Column-40 {
	min-height:8px;
}
col.Row-Column-41 {
	width:63px;
}
col.Row-Column-42 {
	width:38px;
}
col.Row-Column-43 {
	width:28px;
}
col.Row-Column-44 {
	width:70px;
}
col.Row-Column-45 {
	width:74px;
}
col.Row-Column-46 {
	width:43px;
}
div.frame-47 {
	height:17px;
	width:232px;
}
div.frame-48 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:103px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-49 {
	height:4px;
	width:93px;
}
img.frame-50 {
	height:28px;
	width:60px;
}
img.frame-51 {
	height:30px;
	width:59px;
}
img.frame-52 {
	height:30px;
	width:44px;
}
img.frame-53 {
	height:30px;
	width:61px;
}
div.frame-54 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:47px;
	padding:6px 4px 6px 4px;
	width:169px;
}
div.frame-55 {
	height:17px;
	width:136px;
}
div.frame-56 {
	height:17px;
	width:129px;
}
div.frame-57 {
	height:17px;
	width:142px;
}
img.frame-58 {
	height:31px;
	width:30px;
}
img.frame-59 {
	height:31px;
	width:46px;
}
img.frame-60 {
	height:31px;
	width:60px;
}
img.frame-61 {
	height:31px;
	width:32px;
}
div.frame-62 {
	height:17px;
	width:94px;
}
img.frame-63 {
	height:28px;
	width:37px;
}
img.frame-64 {
	height:28px;
	width:34px;
}
img.frame-65 {
	height:29px;
	width:69px;
}
col.Row-Column-66 {
	width:129px;
}
col.Row-Column-67 {
	width:60px;
}
col.Row-Column-68 {
	width:79px;
}
tr.Row-Column-69 {
	min-height:31px;
}
div.frame-70 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:146px;
}
tr.Row-Column-71 {
	min-height:18px;
}
div.frame-72 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-73 {
	height:17px;
	width:106px;
}
div.frame-74 {
	height:17px;
	width:109px;
}
div.frame-75 {
	height:17px;
	width:355px;
}
div.frame-76 {
	height:17px;
	width:349px;
}
div.frame-77 {
	height:17px;
	width:348px;
}
img.frame-78 {
	height:54px;
	width:32px;
}
div.frame-79 {
	height:17px;
	width:25px;
}
div.frame-80 {
	height:17px;
	width:19px;
}
div.frame-81 {
	height:17px;
	width:20px;
}
div.frame-82 {
	height:17px;
	width:283px;
}
img.frame-83 {
	height:15px;
	width:4px;
}
img.frame-84 {
	height:0px;
	width:141px;
}
img.frame-85 {
	height:0px;
	width:113px;
}
img.frame-86 {
	height:22px;
	width:4px;
}
img.frame-87 {
	height:0px;
	width:134px;
}
img.frame-88 {
	height:20px;
	width:4px;
}
img.frame-89 {
	height:0px;
	width:15px;
}
img.frame-90 {
	height:5px;
	width:0px;
}
col.Row-Column-91 {
	width:22px;
}
col.Row-Column-92 {
	width:107px;
}
div.frame-93 {
	height:17px;
	width:401px;
}
col.Row-Column-94 {
	width:5px;
}
col.Row-Column-95 {
	width:283px;
}
img.frame-96 {
	height:20px;
	width:16px;
}
img.frame-97 {
	height:20px;
	width:15px;
}
img.frame-98 {
	height:14px;
	width:4px;
}
img.frame-99 {
	height:14px;
	width:5px;
}
img.frame-100 {
	height:14px;
	width:10px;
}
img.frame-101 {
	height:14px;
	width:21px;
}
img.frame-102 {
	height:19px;
	width:27px;
}
img.frame-103 {
	height:21px;
	width:27px;
}
tr.Row-Column-104 {
	min-height:118px;
}
div.frame-105 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:119px;
	padding:6px 4px 6px 4px;
	width:165px;
}
col.Row-Column-106 {
	width:301px;
}
tr.Row-Column-107 {
	min-height:78px;
}
col.Row-Column-108 {
	width:467px;
}
tr.Row-Column-109 {
	height:3px;
}
img.frame-110 {
	height:118px;
	width:124px;
}
img.frame-111 {
	height:118px;
	width:128px;
}
tr.Row-Column-112 {
	min-height:168px;
}
img.frame-113 {
	height:31px;
	width:52px;
}
col.Row-Column-114 {
	width:233px;
}
img.frame-115 {
	height:31px;
	width:76px;
}
img.frame-116 {
	height:30px;
	width:70px;
}
img.frame-117 {
	height:28px;
	width:25px;
}
img.frame-118 {
	height:31px;
	width:50px;
}
img.frame-119 {
	height:30px;
	width:60px;
}
tr.Row-Column-120 {
	min-height:138px;
}
col.Row-Column-121 {
	width:315px;
}
tr.Row-Column-122 {
	min-height:60px;
}
img.frame-123 {
	height:22px;
	width:59px;
}
img.frame-124 {
	height:31px;
	width:29px;
}
img.frame-125 {
	height:31px;
	width:45px;
}
img.frame-126 {
	height:23px;
	width:59px;
}
tr.Row-Column-127 {
	min-height:147px;
}
img.frame-128 {
	height:30px;
	width:27px;
}
col.Row-Column-129 {
	width:93px;
}
img.frame-130 {
	height:30px;
	width:33px;
}
tr.Row-Column-131 {
	min-height:59px;
}
img.frame-132 {
	height:22px;
	width:24px;
}
img.frame-133 {
	height:22px;
	width:8px;
}
tr.Row-Column-134 {
	min-height:88px;
}
img.frame-135 {
	height:28px;
	width:8px;
}
img.frame-136 {
	height:29px;
	width:13px;
}
img.frame-137 {
	height:30px;
	width:25px;
}
img.frame-138 {
	height:30px;
	width:34px;
}
img.frame-139 {
	height:30px;
	width:37px;
}
div.frame-140 {
	height:17px;
	width:342px;
}
img.frame-141 {
	height:30px;
	width:31px;
}
img.frame-142 {
	height:30px;
	width:30px;
}
img.frame-143 {
	height:31px;
	width:61px;
}
tr.Row-Column-144 {
	min-height:74px;
}
img.frame-145 {
	height:28px;
	width:13px;
}
img.frame-146 {
	height:31px;
	width:39px;
}
img.frame-147 {
	height:25px;
	width:42px;
}
img.frame-148 {
	height:23px;
	width:45px;
}
img.frame-149 {
	height:29px;
	width:55px;
}
img.frame-150 {
	height:25px;
	width:61px;
}
img.frame-151 {
	height:24px;
	width:65px;
}
img.frame-152 {
	height:31px;
	width:51px;
}
img.frame-153 {
	height:22px;
	width:60px;
}
img.frame-154 {
	height:23px;
	width:60px;
}
img.frame-155 {
	height:31px;
	width:57px;
}
img.frame-156 {
	height:23px;
	width:65px;
}
img.frame-157 {
	height:23px;
	width:63px;
}
img.frame-158 {
	height:31px;
	width:33px;
}
img.frame-159 {
	height:23px;
	width:70px;
}
col.Row-Column-160 {
	width:228px;
}
img.frame-161 {
	height:110px;
	width:110px;
}
img.frame-162 {
	height:104px;
	width:128px;
}
tr.Row-Column-163 {
	min-height:142px;
}
tr.Row-Column-164 {
	min-height:166px;
}
img.frame-165 {
	height:31px;
	width:40px;
}
img.frame-166 {
	height:24px;
	width:71px;
}
img.frame-167 {
	height:25px;
	width:74px;
}
img.frame-168 {
	height:23px;
	width:30px;
}
img.frame-169 {
	height:22px;
	width:7px;
}
img.frame-170 {
	height:31px;
	width:56px;
}
img.frame-171 {
	height:24px;
	width:66px;
}
img.frame-172 {
	height:23px;
	width:8px;
}
img.frame-173 {
	height:28px;
	width:35px;
}
img.frame-174 {
	height:24px;
	width:35px;
}
img.frame-175 {
	height:25px;
	width:37px;
}
img.frame-176 {
	height:23px;
	width:23px;
}
col.Row-Column-177 {
	width:77px;
}
col.Row-Column-178 {
	width:51px;
}
col.Row-Column-179 {
	width:50px;
}
col.Row-Column-180 {
	width:53px;
}
div.frame-181 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:61px;
	padding:6px 4px 6px 4px;
	width:146px;
}
col.Row-Column-182 {
	width:157px;
}
col.Row-Column-183 {
	width:86px;
}
col.Row-Column-184 {
	width:85px;
}
tr.Row-Column-185 {
	min-height:124px;
}
img.frame-186 {
	height:27px;
	width:11px;
}
img.frame-187 {
	height:28px;
	width:11px;
}
tr.Row-Column-188 {
	min-height:40px;
}
div.frame-189 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:34px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-190 {
	width:100px;
}
tr.Row-Column-191 {
	min-height:160px;
}
col.Row-Column-192 {
	width:101px;
}
img.frame-193 {
	height:27px;
	width:34px;
}
img.frame-194 {
	height:27px;
	width:31px;
}
tr.Row-Column-195 {
	min-height:141px;
}
tr.Row-Column-196 {
	min-height:24px;
}
img.frame-197 {
	height:27px;
	width:15px;
}
img.frame-198 {
	height:27px;
	width:29px;
}
img.frame-199 {
	height:27px;
	width:16px;
}
div.frame-200 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:105px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-201 {
	width:62px;
}
col.Row-Column-202 {
	width:98px;
}
tr.Row-Column-203 {
	min-height:42px;
}
tr.Row-Column-204 {
	min-height:48px;
}
div.frame-205 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:76px;
	padding:6px 4px 6px 4px;
	width:160px;
}
tr.Row-Column-206 {
	min-height:130px;
}
img.frame-207 {
	height:29px;
	width:42px;
}
tr.Row-Column-208 {
	min-height:135px;
}
div.frame-209 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:90px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-210 {
	height:27px;
	width:14px;
}
img.frame-211 {
	height:22px;
	width:10px;
}
img.frame-212 {
	height:0px;
	width:164px;
}
img.frame-213 {
	height:0px;
	width:137px;
}
img.frame-214 {
	height:0px;
	width:157px;
}
img.frame-215 {
	height:0px;
	width:7px;
}
img.frame-216 {
	height:3px;
	width:0px;
}
div.frame-217 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:117px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-218 {
	height:20px;
	width:20px;
}
img.frame-219 {
	height:20px;
	width:19px;
}
img.frame-220 {
	height:22px;
	width:11px;
}
img.frame-221 {
	height:22px;
	width:5px;
}
img.frame-222 {
	height:22px;
	width:12px;
}
img.frame-223 {
	height:22px;
	width:23px;
}
img.frame-224 {
	height:19px;
	width:31px;
}
img.frame-225 {
	height:21px;
	width:31px;
}
div.frame-226 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:89px;
	padding:6px 4px 6px 4px;
	width:160px;
}
img.frame-227 {
	height:23px;
	width:11px;
}
tr.Row-Column-228 {
	min-height:56px;
}
img.frame-229 {
	height:27px;
	width:17px;
}
div.frame-230 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:104px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-231 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:63px;
	padding:6px 4px 6px 4px;
	width:160px;
}
div.frame-232 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:62px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-233 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:75px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-234 {
	height:173px;
	width:439px;
}
div.frame-235 {
	height:17px;
	width:138px;
}
div.frame-236 {
	height:17px;
	width:235px;
}
div.frame-237 {
	height:17px;
	width:161px;
}
div.frame-238 {
	height:17px;
	width:338px;
}
div.frame-239 {
	height:17px;
	width:274px;
}
div.frame-240 {
	height:17px;
	width:89px;
}
div.frame-241 {
	height:17px;
	width:204px;
}
div.frame-242 {
	height:17px;
	width:333px;
}
div.frame-243 {
	height:17px;
	width:186px;
}
img.frame-244 {
	height:27px;
	width:9px;
}
col.Row-Column-245 {
	width:47px;
}
col.Row-Column-246 {
	width:42px;
}
div.frame-247 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:49px;
	padding:6px 4px 6px 4px;
	width:160px;
}
col.Row-Column-248 {
	width:80px;
}
col.Row-Column-249 {
	width:37px;
}
div.frame-250 {
	height:17px;
	width:98px;
}
div.frame-251 {
	height:17px;
	width:92px;
}
img.frame-252 {
	height:651px;
	width:467px;
}
tr.Row-Column-253 {
	min-height:28px;
}
img.frame-254 {
	height:27px;
	width:8px;
}
img.frame-255 {
	height:236px;
	width:217px;
}
img.frame-256 {
	height:169px;
	width:331px;
}
div.frame-257 {
	height:17px;
	width:226px;
}
div.frame-258 {
	height:17px;
	width:115px;
}
img.frame-259 {
	height:169px;
	width:289px;
}
col.Row-Column-260 {
	width:72px;
}
col.Row-Column-261 {
	width:59px;
}
img.frame-262 {
	height:210px;
	width:322px;
}
img.frame-263 {
	height:385px;
	width:370px;
}
img.frame-264 {
	height:217px;
	width:292px;
}
col.Row-Column-265 {
	width:95px;
}
div.frame-266 {
	height:17px;
	width:80px;
}
img.frame-267 {
	height:152px;
	width:421px;
}
div.frame-268 {
	height:17px;
	width:44px;
}
div.frame-269 {
	height:17px;
	width:162px;
}
div.frame-270 {
	height:17px;
	width:76px;
}
div.frame-271 {
	height:17px;
	width:75px;
}
div.frame-272 {
	height:17px;
	width:93px;
}
div.frame-273 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:19px;
	padding:6px 4px 6px 4px;
	width:146px;
}
div.frame-274 {
	height:17px;
	width:71px;
}
div.frame-275 {
	height:17px;
	width:65px;
}
img.frame-276 {
	height:243px;
	width:223px;
}
col.Row-Column-277 {
	width:195px;
}
img.frame-278 {
	height:333px;
	width:310px;
}
col.Row-Column-279 {
	width:124px;
}
col.Row-Column-280 {
	width:36px;
}
img.frame-281 {
	height:23px;
	width:9px;
}
tr.Row-Column-282 {
	min-height:32px;
}
div.frame-283 {
	height:25px;
	width:71px;
}
img.frame-284 {
	height:188px;
	width:188px;
}
col.Row-Column-285 {
	width:73px;
}
img.frame-286 {
	height:30px;
	width:88px;
}
tr.Row-Column-287 {
	min-height:70px;
}
img.frame-288 {
	height:458px;
	width:420px;
}
img.frame-289 {
	height:30px;
	width:20px;
}
img.frame-290 {
	height:223px;
	width:223px;
}
col.Row-Column-291 {
	width:64px;
}
col.Row-Column-292 {
	width:34px;
}
img.frame-293 {
	height:203px;
	width:336px;
}
img.frame-294 {
	height:30px;
	width:85px;
}
img.frame-295 {
	height:30px;
	width:36px;
}
tr.Row-Column-296 {
	min-height:54px;
}
col.Row-Column-297 {
	width:155px;
}
img.frame-298 {
	height:30px;
	width:39px;
}
tr.Row-Column-299 {
	min-height:140px;
}
col.Row-Column-300 {
	width:304px;
}
tr.Row-Column-301 {
	min-height:43px;
}
img.frame-302 {
	height:27px;
	width:7px;
}
img.frame-303 {
	height:30px;
	width:28px;
}
img.frame-304 {
	height:27px;
	width:13px;
}
img.frame-305 {
	height:30px;
	width:24px;
}
img.frame-306 {
	height:188px;
	width:500px;
}
col.Row-Column-307 {
	width:26px;
}
tr.Row-Column-308 {
	height:5px;
}
div.frame-309 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:75px;
	padding:6px 4px 6px 4px;
	width:160px;
}
tr.Row-Column-310 {
	min-height:62px;
}
col.Row-Column-311 {
	width:149px;
}
col.Row-Column-312 {
	width:150px;
}
img.frame-313 {
	height:20px;
	width:11px;
}
tr.Row-Column-314 {
	min-height:25px;
}
img.frame-315 {
	height:27px;
	width:23px;
}
col.Row-Column-316 {
	width:132px;
}
col.Row-Column-317 {
	width:168px;
}
col.Row-Column-318 {
	width:87px;
}
img.frame-319 {
	height:26px;
	width:34px;
}
img.frame-320 {
	height:27px;
	width:18px;
}
tr.Row-Column-321 {
	min-height:104px;
}
col.Row-Column-322 {
	width:131px;
}
col.Row-Column-323 {
	width:88px;
}
tr.Row-Column-324 {
	min-height:26px;
}
tr.Row-Column-325 {
	min-height:80px;
}
img.frame-326 {
	height:185px;
	width:190px;
}
img.frame-327 {
	height:185px;
	width:192px;
}
img.frame-328 {
	height:207px;
	width:212px;
}
col.Row-Column-329 {
	width:91px;
}
img.frame-330 {
	height:151px;
	width:157px;
}
col.Row-Column-331 {
	width:116px;
}
col.Row-Column-332 {
	width:45px;
}
img.frame-333 {
	height:687px;
	width:489px;
}
tr.Row-Column-334 {
	min-height:9px;
}
img.frame-335 {
	height:94px;
	width:119px;
}
img.frame-336 {
	height:75px;
	width:194px;
}
img.frame-337 {
	height:133px;
	width:115px;
}
img.frame-338 {
	height:135px;
	width:229px;
}
img.frame-339 {
	height:111px;
	width:145px;
}
img.frame-340 {
	height:113px;
	width:183px;
}
img.frame-341 {
	height:20px;
	width:59px;
}
img.frame-342 {
	height:15px;
	width:29px;
}
img.frame-343 {
	height:20px;
	width:56px;
}
img.frame-344 {
	height:17px;
	width:31px;
}
img.frame-345 {
	height:135px;
	width:247px;
}
img.frame-346 {
	height:147px;
	width:142px;
}
img.frame-347 {
	height:20px;
	width:55px;
}
img.frame-348 {
	height:15px;
	width:23px;
}
img.frame-349 {
	height:133px;
	width:291px;
}
img.frame-350 {
	height:222px;
	width:444px;
}
div.frame-351 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:76px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-352 {
	height:96px;
	width:196px;
}
img.frame-353 {
	height:104px;
	width:154px;
}
col.Row-Column-354 {
	width:242px;
}
col.Row-Column-355 {
	width:223px;
}
tr.Row-Column-356 {
	min-height:144px;
}
tr.Row-Column-357 {
	min-height:29px;
}
img.frame-358 {
	height:124px;
	width:406px;
}
img.frame-359 {
	height:88px;
	width:144px;
}
img.frame-360 {
	height:115px;
	width:139px;
}
img.frame-361 {
	height:104px;
	width:120px;
}
img.frame-362 {
	height:136px;
	width:232px;
}
img.frame-363 {
	height:196px;
	width:176px;
}
img.frame-364 {
	height:131px;
	width:101px;
}
img.frame-365 {
	height:89px;
	width:160px;
}
img.frame-366 {
	height:120px;
	width:108px;
}
img.frame-367 {
	height:98px;
	width:172px;
}
img.frame-368 {
	height:107px;
	width:150px;
}
col.Row-Column-369 {
	width:225px;
}
tr.Row-Column-370 {
	min-height:113px;
}
img.frame-371 {
	height:210px;
	width:218px;
}
div.frame-372 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-373 {
	height:131px;
	width:428px;
}
div.frame-374 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:90px;
}
img.frame-375 {
	height:67px;
	width:132px;
}
img.frame-376 {
	height:97px;
	width:182px;
}
img.frame-377 {
	height:114px;
	width:204px;
}
img.frame-378 {
	height:146px;
	width:214px;
}
div.frame-379 {
	height:17px;
	width:17px;
}
div.frame-380 {
	height:17px;
	width:184px;
}
img.frame-381 {
	height:71px;
	width:139px;
}
img.frame-382 {
	height:119px;
	width:160px;
}
img.frame-383 {
	height:22px;
	width:14px;
}
img.frame-384 {
	height:99px;
	width:212px;
}
img.frame-385 {
	height:160px;
	width:235px;
}
div.frame-386 {
	height:17px;
	width:223px;
}
col.Row-Column-387 {
	width:106px;
}
img.frame-388 {
	height:211px;
	width:290px;
}
tr.Row-Column-389 {
	min-height:206px;
}
img.frame-390 {
	height:163px;
	width:227px;
}
img.frame-391 {
	height:182px;
	width:190px;
}
div.frame-392 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:48px;
	padding:6px 4px 6px 4px;
	width:165px;
}
img.frame-393 {
	height:163px;
	width:235px;
}
col.Row-Column-394 {
	width:78px;
}
col.Row-Column-395 {
	width:169px;
}
img.frame-396 {
	height:211px;
	width:289px;
}
col.Row-Column-397 {
	width:102px;
}
col.Row-Column-398 {
	width:191px;
}
img.frame-399 {
	height:206px;
	width:297px;
}
div.frame-400 {
	height:65px;
	width:72px;
}
div.frame-401 {
	height:80px;
	width:63px;
}
img.frame-402 {
	height:205px;
	width:297px;
}
div.frame-403 {
	height:17px;
	width:289px;
}
col.Row-Column-404 {
	width:308px;
}
col.Row-Column-405 {
	width:94px;
}
img.frame-406 {
	height:244px;
	width:295px;
}
div.frame-407 {
	height:17px;
	width:254px;
}
img.frame-408 {
	height:200px;
	width:299px;
}
div.frame-409 {
	height:17px;
	width:304px;
}
img.frame-410 {
	height:30px;
	width:216px;
}
img.frame-411 {
	height:319px;
	width:432px;
}
img.frame-412 {
	height:29px;
	width:214px;
}
img.frame-413 {
	height:30px;
	width:214px;
}
div.frame-414 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:43px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-415 {
	height:107px;
	width:394px;
}
img.frame-416 {
	height:100px;
	width:379px;
}
img.frame-417 {
	height:111px;
	width:365px;
}
div.frame-418 {
	height:17px;
	width:422px;
}
div.frame-419 {
	height:28px;
	width:422px;
}
img.frame-420 {
	height:31px;
	width:25px;
}
div.frame-421 {
	height:31px;
	width:422px;
}
img.frame-422 {
	height:31px;
	width:24px;
}
div.frame-423 {
	height:17px;
	width:148px;
}
div.frame-424 {
	height:28px;
	width:209px;
}
div.frame-425 {
	height:17px;
	width:131px;
}
div.frame-426 {
	height:28px;
	width:224px;
}
div.frame-427 {
	height:17px;
	width:56px;
}
div.frame-428 {
	height:64px;
	width:72px;
}
div.frame-429 {
	height:6508px;
	width:7175px;
}
div.frame-430 {
	height:7080px;
	width:7175px;
}
img.frame-431 {
	height:286px;
	width:410px;
}
col.Row-Column-432 {
	width:142px;
}
col.Row-Column-433 {
	width:289px;
}
col.Row-Column-434 {
	width:273px;
}
img.frame-435 {
	height:238px;
	width:224px;
}
img.frame-436 {
	height:207px;
	width:224px;
}
img.frame-437 {
	height:200px;
	width:247px;
}
img.frame-438 {
	height:250px;
	width:231px;
}
img.frame-439 {
	height:170px;
	width:211px;
}
img.frame-440 {
	height:138px;
	width:200px;
}
div.frame-441 {
	background-color:#e6dbd4;
	border-style:solid;
	border-width:1px;
	height:33px;
	padding:6px 4px 6px 4px;
	width:146px;
}
img.frame-442 {
	height:113px;
	width:436px;
}
img.frame-443 {
	height:109px;
	width:451px;
}
img.frame-444 {
	height:165px;
	width:231px;
}
img.frame-445 {
	height:93px;
	width:166px;
}
div.frame-446 {
	height:17px;
	width:228px;
}
col.Row-Column-447 {
	width:109px;
}
img.frame-448 {
	height:56px;
	width:73px;
}
tr.Row-Column-449 {
	min-height:64px;
}
img.frame-450 {
	height:57px;
	width:42px;
}
tr.Row-Column-451 {
	min-height:65px;
}
img.frame-452 {
	height:41px;
	width:48px;
}
tr.Row-Column-453 {
	min-height:49px;
}
img.frame-454 {
	height:57px;
	width:66px;
}
img.frame-455 {
	height:74px;
	width:53px;
}
tr.Row-Column-456 {
	min-height:82px;
}
img.frame-457 {
	height:69px;
	width:64px;
}
tr.Row-Column-458 {
	min-height:77px;
}
img.frame-459 {
	height:58px;
	width:35px;
}
tr.Row-Column-460 {
	min-height:67px;
}
div.frame-461 {
	height:17px;
	width:90px;
}
img.frame-462 {
	height:75px;
	width:133px;
}
col.Row-Column-463 {
	width:30px;
}
col.Row-Column-464 {
	width:127px;
}
img.frame-465 {
	height:50px;
	width:88px;
}
div.frame-466 {
	height:17px;
	width:160px;
}
img.frame-467 {
	height:265px;
	width:192px;
}
img.frame-468 {
	height:54px;
	width:192px;
}
img.frame-469 {
	height:77px;
	width:70px;
}
img.frame-470 {
	height:69px;
	width:80px;
}
img.frame-471 {
	height:108px;
	width:83px;
}
tr.Row-Column-472 {
	min-height:116px;
}
img.frame-473 {
	height:56px;
	width:78px;
}
img.frame-474 {
	height:89px;
	width:89px;
}
tr.Row-Column-475 {
	min-height:97px;
}
img.frame-476 {
	height:87px;
	width:91px;
}
img.frame-477 {
	height:89px;
	width:127px;
}
img.frame-478 {
	height:190px;
	width:208px;
}
img.frame-479 {
	height:132px;
	width:102px;
}
img.frame-480 {
	height:106px;
	width:144px;
}
img.frame-481 {
	height:317px;
	width:326px;
}
img.frame-482 {
	height:110px;
	width:98px;
}
img.frame-483 {
	height:289px;
	width:289px;
}
img.frame-484 {
	height:57px;
	width:422px;
}
img.frame-485 {
	height:49px;
	width:382px;
}
div.frame-486 {
	height:17px;
	width:179px;
}
img.frame-487 {
	height:83px;
	width:78px;
}
img.frame-488 {
	height:111px;
	width:354px;
}
div.frame-489 {
	height:17px;
	width:192px;
}
div.frame-490 {
	height:17px;
	width:203px;
}
img.frame-491 {
	height:101px;
	width:111px;
}
div.frame-492 {
	height:17px;
	width:210px;
}
img.frame-493 {
	height:97px;
	width:88px;
}
div.frame-494 {
	height:17px;
	width:249px;
}
tr.Row-Column-495 {
	min-height:93px;
}
col.Row-Column-496 {
	width:27px;
}
col.Row-Column-497 {
	width:113px;
}
col.Row-Column-498 {
	width:134px;
}
img.frame-499 {
	height:83px;
	width:87px;
}
div.frame-500 {
	height:17px;
	width:144px;
}
div.frame-501 {
	height:17px;
	width:181px;
}
div.frame-502 {
	height:17px;
	width:82px;
}
div.frame-503 {
	height:17px;
	width:87px;
}
img.frame-504 {
	height:72px;
	width:83px;
}
tr.Row-Column-505 {
	min-height:128px;
}
img.frame-506 {
	height:92px;
	width:83px;
}
img.frame-507 {
	height:70px;
	width:88px;
}
tr.Row-Column-508 {
	min-height:126px;
}
img.frame-509 {
	height:103px;
	width:105px;
}
img.frame-510 {
	height:79px;
	width:106px;
}
tr.Row-Column-511 {
	min-height:129px;
}
img.frame-512 {
	height:81px;
	width:83px;
}
div.frame-513 {
	height:17px;
	width:145px;
}
div.frame-514 {
	height:17px;
	width:134px;
}
img.frame-515 {
	height:62px;
	width:113px;
}
tr.Row-Column-516 {
	min-height:132px;
}
img.frame-517 {
	height:89px;
	width:92px;
}
div.frame-518 {
	height:17px;
	width:141px;
}
img.frame-519 {
	height:69px;
	width:139px;
}
tr.Row-Column-520 {
	min-height:123px;
}
col.Row-Column-521 {
	width:90px;
}
col.Row-Column-522 {
	width:71px;
}
tr.Row-Column-523 {
	min-height:45px;
}
img.frame-524 {
	height:43px;
	width:45px;
}
tr.Row-Column-525 {
	min-height:61px;
}
img.frame-526 {
	height:53px;
	width:48px;
}
img.frame-527 {
	height:47px;
	width:48px;
}
img.frame-528 {
	height:43px;
	width:43px;
}
img.frame-529 {
	height:50px;
	width:52px;
}
div.frame-530 {
	height:17px;
	width:427px;
}
div.frame-531 {
	height:17px;
	width:50px;
}
col.Row-Column-532 {
	width:76px;
}
col.Row-Column-533 {
	width:66px;
}
col.Row-Column-534 {
	width:108px;
}
tr.Row-Column-535 {
	min-height:34px;
}
div.frame-536 {
	height:17px;
	width:214px;
}
div.frame-537 {
	height:17px;
	width:219px;
}
div.frame-538 {
	height:17px;
	width:266px;
}
div.frame-539 {
	height:17px;
	width:255px;
}
div.frame-540 {
	height:12px;
	width:94px;
}
div.frame-541 {
	height:17px;
	width:229px;
}
img.frame-542 {
	height:208px;
	width:184px;
}
img.frame-543 {
	height:80px;
	width:434px;
}
img.frame-544 {
	height:11px;
	width:11px;
}
img.frame-545 {
	height:31px;
	width:62px;
}
img.frame-546 {
	height:62px;
	width:47px;
}
div.frame-547 {
	height:17px;
	width:200px;
}
div.frame-548 {
	height:17px;
	width:241px;
}
div.frame-549 {
	height:17px;
	width:253px;
}
img.frame-550 {
	height:40px;
	width:89px;
}
img.frame-551 {
	height:100px;
	width:116px;
}
img.frame-552 {
	height:83px;
	width:405px;
}
img.frame-553 {
	height:102px;
	width:386px;
}
img.frame-554 {
	height:204px;
	width:330px;
}
img.frame-555 {
	height:262px;
	width:323px;
}
img.frame-556 {
	height:130px;
	width:449px;
}
div.frame-557 {
	height:17px;
	width:158px;
}
div.frame-558 {
	height:17px;
	width:197px;
}
div.frame-559 {
	height:17px;
	width:208px;
}
img.frame-560 {
	height:160px;
	width:160px;
}
img.frame-561 {
	height:122px;
	width:101px;
}
img.frame-562 {
	height:255px;
	width:172px;
}
img.frame-563 {
	height:105px;
	width:223px;
}
tr.Row-Column-564 {
	min-height:163px;
}
div.frame-565 {
	height:17px;
	width:143px;
}
img.frame-566 {
	height:94px;
	width:65px;
}
col.Row-Column-567 {
	width:164px;
}
col.Row-Column-568 {
	width:151px;
}
